<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	 xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templates/template.xhtml">

	<ui:define name="menuBar">	
		<p:menuitem value="Cancelar operación" 
				icon="icon-cancel"	
				action="#{teacherAdminController.returnQualificationData()}" 
				process="@this"/>		
	</ui:define>
	
	<ui:define name="content">
	
		<h:form id="formNewParameter">
			<p:growl id="msgs" showDetail="true" life="4000" autoUpdate="true" />
			 	<p:panel header="#{teacherAdminController.tableTitle}" style="margin-top:5px;">
			 		<h:panelGrid columns="2" styleClass="panelDataNewQualify" cellpadding="2" cellspacing="1">
			 			<p:outputLabel for="textParameterNum" styleClass="outNumberParam">
			 			
			 				<ui:insert name="lblParameterNum" />
			 				
			 			</p:outputLabel>
		      			<h:outputText id="textParameterNum" value="#{teacherAdminController.matrixSize + 2}" styleClass="outNumberParam"/>
			 		
			 			<p:outputLabel for="dateSelect" >
			 			
			 				<ui:insert name="lblParameterDate" />
			 				
			 			</p:outputLabel>
		      			<p:calendar id="dateSelect" 
		      					locale="es" 
		      					value="#{teacherAdminController.dateSelect}" 
		      					pattern="dd-MM-yyyy" 
		      					mindate="#{teacherAdminController.startOffer}"
		      					maxdate="#{teacherAdminController.endOffer}"
		      					onclick="javascript:clean(this)"
		      					showOn="button" 
		      					disabledWeekends="true" 
		      					required="true" />
		      					
		      					 
		      					
		      				
			 		
			 		
			 			<p:outputLabel for="reference">
			 			
			 				<ui:insert name="lblParameterReference" />
			 				
			 			</p:outputLabel>
		      			<p:inputTextarea id="reference" 
		      						placeholder="- Agrege un tema o referencia -" 
		      						style="width:98%" 
		      						rows="3" 
		      						value="#{teacherAdminController.referenceData}"/>
		             </h:panelGrid>
					 
					<p:dataTable id="dataTableParameter" 
							var="studentIndv" 
							value="#{teacherAdminController.listStudentSpecific}"
							selectionMode="single" 
							rowKey="#{studentIndv.idStudent}"
							editable="true" 
							editMode="cell"
							scrollable="true"
							scrollHeight="260"
							styleClass="tableGeneralQualify" >
						
							<f:facet name="header">
							
		    					<ui:insert name="headerDataTableParameter" />
							
							</f:facet>
							<p:ajax event="cellEdit" 
									listener="#{teacherAdminController.onCellEdit}" 
									update=":formNewParameter:msgs" />
		     				<p:column headerText="N°" style="width:2%;">                  				
		                			<h:outputText value="#{studentIndv.rowCount}" />
							</p:column>
									
							<p:column headerText="Estudiante"  style="width:38%">                  				
		                			<h:outputText value="#{studentIndv.studentName}" />
							</p:column>
							<p:column headerText="Calificación"  style="width:30%">
								<p:cellEditor>
		               				<f:facet name="output">
		               					<h:outputText value="#{studentIndv.qualification}" 
		               						rendered="#{studentIndv.qualification ge 7}"
		               						styleClass="outputNewQaulify">
		               						<f:convertNumber pattern="#0.00"/>
		               					</h:outputText>
		               				
		               					<h:outputText value="#{studentIndv.qualification}" 
		               						rendered="#{studentIndv.qualification lt 7}"
		               						styleClass="outputNewQaulify2">
		               						<f:convertNumber pattern="#0.00"/>
		               					</h:outputText>
		               				
		               				</f:facet>
		               				<f:facet name="input">
		               					<p:inputText value="#{studentIndv.qualification}" styleClass="inputNewQaulify">
		               					
		               						<f:validator validatorId="rangeValidator"/>		            
		               						<f:validator validatorId="decimalValidator"/>
		               					</p:inputText>
		               				</f:facet>
		            			</p:cellEditor>
							</p:column>	
							<p:column headerText="Anotacion adicional"  style="width:30%;text-align:center;">
								<p:cellEditor>
		               				<f:facet name="output">
		               					<p:inputText placeholder="¿alguna anotacion adicional?" value="#{studentIndv.annotation}" style="width:98%"/>
		               				</f:facet>
		               				<f:facet name="input">
		               					<p:inputTextarea style="width:95%" rows="3" value="#{studentIndv.annotation}" />
		               				</f:facet>
		           				</p:cellEditor>
							</p:column>		
					</p:dataTable>
					
					<h:panelGrid columns="2" styleClass="gridBtnOptionsQualifyNew">
						<p:commandButton value="Guardar datos" 
							icon="icon-save"
							action="#{teacherAdminController.processParameter()}" >
							<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />
						</p:commandButton>		
						<p:commandButton value="Cancelar" 
							icon="icon-cancel"	
							action="#{teacherAdminController.returnQualificationData()}" 
							process="@this">	
							
						</p:commandButton>	
					</h:panelGrid>
			</p:panel>
		</h:form>

		
	</ui:define>

	

</ui:composition>


</html>
