<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	 xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="menuBar">	
		<p:menuitem value="Cancelar operación" 
				icon="icon-cancel"	
				action="#{teacherAdminController.returnQualificationData()}" 
				process="@this"/>		
	</ui:define>
	
	<ui:define name="content">
		
		
		<h:form id="formParameterEdit">
		<p:growl id="msgs" showDetail="true" life="4000" autoUpdate="true" />
			 	<p:panel header="#{teacherAdminController.tableTitle}" style="margin-top:10px;">
			 		<h:panelGrid columns="2" cellspacing="8" style="margin-bottom:15px;">
	
                  	
                  		<p:outputLabel for="oneMenuParameterNumber" styleClass="outNumberParam"  >
                  		
                  			<ui:insert name="lblOneMenuParameterNumber" />
                  		
                  		</p:outputLabel>
                        
                            <p:selectOneMenu id="oneMenuParameterNumber" 
                            				style="width:450px"
                                            value="#{teacherAdminController.parameterNumberSelect}"  >
                               
                               
                                <p:ajax listener="#{teacherAdminController.loadDataTableParameterEdit()}"
                                        update="dataTableParameterEdit,dateSelectEdit,referenceEdit,msgs,btnDeleteEditParam,gridButtons" >                          	
                                	
                                </p:ajax>
                                
                                <f:selectItem itemLabel="-Seleccione-" 
                                			itemValue=""
                                             noSelectionOption="true"  />
                                             
                                <f:selectItems value="#{teacherAdminController.listParameterNumber}" />
                            </p:selectOneMenu>
                  	
                  	</h:panelGrid>
			 		
			 		<c:if test="#{teacherAdminController.check == 0}">
			 		<h:panelGrid columns="2" cellpadding="5" cellspacing="5" styleClass="panelDataNewQualify2">
			 			
			 			<p:outputLabel for="dateSelectEdit" >
			 				<ui:insert name="lblDateSelectEdit" />		
			 			</p:outputLabel>
        				
        				<p:calendar id="dateSelectEdit" 
        					disabled="true"
        					value="#{teacherAdminController.dateSelect}" 
        					locale="es"
        					mindate="#{teacherAdminController.startOffer}"
      						maxdate="#{teacherAdminController.endOffer}"
        					pattern="dd-MM-yyyy" 
        					showOn="button"
        					disabledWeekends="true"
        					required="true" />
			 		
			 			<p:outputLabel for="referenceEdit" >
			 				<ui:insert name="lblReferenceEdit" />		
			 			</p:outputLabel>
			 			
        				<p:inputTextarea id="referenceEdit" 
        					disabled="true"
        					placeholder="- Agrege un tema o referencia -" 
        					style="width:98%" rows="3" 
        					value="#{teacherAdminController.referenceData}"/>
            
            
            			
                  	</h:panelGrid>
			 
			 		<h:panelGrid id="dataTableParameterEdit" ></h:panelGrid>
					
			 		</c:if>
			 		
			 		<c:if test="#{teacherAdminController.check == 1}">
			 		
			 		<h:panelGrid columns="2" cellpadding="2" cellspacing="1" styleClass="panelDataNewQualify">
			 			<p:outputLabel for="dateSelectEdit" >
			 			
			 				<ui:insert name="lblDateSelectEdit" />
			 			
			 			</p:outputLabel>
        				<p:calendar id="dateSelectEdit" 
        					value="#{teacherAdminController.dateSelect}" 
        					locale="es"
        					mindate="#{teacherAdminController.startOffer}"
      						maxdate="#{teacherAdminController.endOffer}"
        					pattern="dd-MM-yyyy" 
        					showOn="button"
        					disabledWeekends="true"
        					required="true" />
			 		
			 			<p:outputLabel for="referenceEdit" >
			 			
			 				<ui:insert name="lblReferenceEdit" />
			 			
			 			</p:outputLabel>
        				<p:inputTextarea id="referenceEdit" placeholder="- Agrege un tema o referencia -" 
        				style="width:98%" rows="3" 
        				value="#{teacherAdminController.referenceData}"/>
                  	</h:panelGrid>
			 
					<p:dataTable id="dataTableParameterEdit" 
						var="studentIndv" 
						value="#{teacherAdminController.listStudentParameterGeneral}"
						selectionMode="single" 
						rowKey="#{studentIndv.idStudent}"
						editable="true" 
						editMode="cell"
						scrollable="true"
						scrollHeight="235"
						styleClass="tableGeneralQualify" >
						
       					<f:facet name="header">
           					<div class="headerTableEdit">
           						 <ui:insert name="headerDataTableParameterEdit" />
           					</div>
       					</f:facet>
       					
       					<p:column headerText="N°" style="width:2%;">                  				
		                			<h:outputText value="#{studentIndv.rowCount}" />
						</p:column>
							
       					<p:ajax event="cellEdit" 
       						listener="#{teacherAdminController.onCellEdit}" 
       						update=":formParameterEdit:msgs" />
       					
						<p:column headerText="Estudiante"  style="width:38%;">                  				
                  			<h:outputText value="#{studentIndv.student_name}" />
						</p:column>
						<p:column headerText="Calificación"  >
							<p:cellEditor>
                  				<f:facet name="output">
                  					<h:outputText rendered="#{studentIndv.qualification ge 7}" 
                  						value="#{studentIndv.qualification}" 
                  						styleClass="outputEditQaulify" >
                  						<f:convertNumber pattern="#0.00"/>
                  					</h:outputText>
                  				
                  					<h:outputText rendered="#{studentIndv.qualification lt 7}" 
                  						value="#{studentIndv.qualification}" 
                  						styleClass="outputEditQaulify2" >
                  						<f:convertNumber pattern="#0.00"/>
                  					</h:outputText>
                  				
                  				</f:facet>
                  				<f:facet name="input">
                  					<p:inputText id="num" 

                  					value="#{studentIndv.qualification}" styleClass="inputEditQaulify">
                  					
                  						<f:validator validatorId="rangeValidator"/>
                  						<f:validator validatorId="decimalValidator"/>
                  					</p:inputText >
                  					
                  					
                  				</f:facet>
              				</p:cellEditor>
						</p:column>	
						<p:column headerText="Anotación adicional">
							<p:cellEditor>
                  				<f:facet name="output">
                  					<p:inputText placeholder="¿alguna anotacion adicional?" value="#{studentIndv.annotation}" style="width:98%"/>
                  				</f:facet>
                  				<f:facet name="input">
                      					<p:inputTextarea style="width:98%" rows="3" value="#{studentIndv.annotation}"/>
                  				</f:facet>
              				</p:cellEditor>
						</p:column>		
					</p:dataTable>
					
				</c:if>
					
			<h:panelGrid id="gridButtons" columns="3" styleClass="gridBtnOptionsQualifyEdit">		
				
				<c:if test="#{teacherAdminController.check == 1}">
					<p:commandButton id="btnProcessEditParam" 
						icon="icon-save"
						value="Guardar cambios" 
						action="#{teacherAdminController.processParameterEdit()}" >
						<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />
					</p:commandButton>	
					
					<p:commandButton id="btnDeleteEditParam" 
						icon="icon-delete"
						value="Eliminar" 
						onclick="PF('dlgDeleteWV').show();">
						
					</p:commandButton>				
				</c:if>
				
				<c:if test="#{teacherAdminController.check == 0}">
					<p:commandButton id="btnProcessEditParam" 
						icon="icon-save"
						value="Guardar cambios" 
					 	disabled="true" >
					</p:commandButton>	
					
					<p:commandButton id="btnDeleteEditParam" 
						icon="icon-delete"
						value="Eliminar" 
						disabled="true" >
					</p:commandButton>				
				</c:if>
				
				<p:commandButton id="btnCancelEditParam" 
						icon="icon-cancel"
						value="Cancelar Edición" 
						action="#{teacherAdminController.returnQualificationData()}" 
						process="@this">
						
				</p:commandButton>
					
			</h:panelGrid>
			</p:panel>
			
			<p:dialog id="dlgDelete" header="Advertencia" 
				
				closable="false" 
				widgetVar="dlgDeleteWV" 
				modal="true" 
				height="110px" 
				width="380px" 
				resizable="false"
				style="text-align:center;">
				
				<h:panelGrid columns="1" style="text-align:center;width:100%;">
					<h:outputText value="¿Realmente desea eliminar este registro?" />
				</h:panelGrid>
				<h:panelGrid columns="2" style="margin:20px auto 0 auto;width:100%;">
				    <p:commandButton id="btnDeleteOK" 
				    	icon="icon-trash"
				    	style="padding-right:10px;"
						value="Eliminar" 
						action="#{teacherAdminController.processParameterDelete()}" >
						<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />
					</p:commandButton>	
					
					<p:commandButton id="btnCancel" 
						style="padding-left:10px;"
						value="Cancelar" 
						icon="icon-cancel"
						onclick="PF('dlgDeleteWV').hide();" >
					
					</p:commandButton>	
				</h:panelGrid>
				
				
			</p:dialog>  
			
		</h:form>
		


	</ui:define>
</ui:composition>
</html>
