<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="title" /></title>
    
        <link href="#{request.contextPath}/static/css/componentStyle.css" type="text/css" rel="stylesheet" />
		<link href="#{request.contextPath}/static/css/iconStyle.css" type="text/css" rel="stylesheet" />
		<link href="#{request.contextPath}/static/css/animate.css" type="text/css" rel="stylesheet" />
		<ui:insert name="css" />
		<!-- modernizr --> 
 		<script type="text/javascript" src="#{request.contextPath}/static/js/modernizr.js" />    	
    </h:head>
    <h:body>
       
        <h:form>
        	<p:menubar>
	            
	            
	            <ui:insert name="menuBar">
			
			
				</ui:insert>
	            <p:submenu label="Ayuda" icon="icon-help">
	                
	                <c:if test="#{validateController.isStudent == 1}">
	            		<p:menuitem value="Ayuda en línea" 
	            		url="http://apsys-manual-del-estudiante.readthedocs.org/es/latest/" target="_blank"/>
	        		</c:if>
			        <c:if test="#{validateController.isStudent == 0}">
			        	<p:menuitem value="Ayuda en línea" 
			        	
			        	url="http://apsys-manual-del-docente.readthedocs.org/es/latest/" 
			        	target="_blank"/>
			        </c:if>
	                
	                <p:menuitem value="Creditos" url="#" />
	            </p:submenu>
	            
	            <f:facet name="options">
	                <h:form id="exitStudent">
	                	<c:if test="#{validateController.isStudent == 1}">
		                    <p:outputLabel 
		                        value="#{validateController.userName}" styleClass="usernameStyle"/>    
			                    &nbsp;
			                    &nbsp;
		                    	<p:commandButton value="&nbsp;Cerrar sesión"
		                    		icon="icon-exit"
									action="#{validateController.logout()}" />
						</c:if>
						
						<c:if test="#{validateController.isStudent == 0}">
		                    <p:outputLabel 
		                        value="ING. #{validateController.userName}" styleClass="usernameStyle"/>    
			                    &nbsp;
			                    &nbsp;
		                    	<p:commandButton value="&nbsp;Cerrar sesión"
		                    		icon="icon-exit"
									action="#{validateController.logout()}" />
						</c:if>
		
	                </h:form>
	            </f:facet>
	        </p:menubar>
        
        
			
	</h:form>
        <div id="ajaxStatusDialog">
            <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false"  showHeader="false" >
                <img src="#{request.contextPath}/static/images/ajaxLoader1.gif" height="50px"/>
            </p:dialog>
            <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
        </div>
        <div id="content">
            <ui:insert name="content" />
        </div>
        <div id="footer">
            <p>
                <a href="https://github.com/JhymerMartinez" target="_blank" class="copy">&copy; APSYS 2015 is created by Jhymer Martínez</a>
            </p>
        </div>
        
        <script type="text/javascript"
                src="#{request.contextPath}/static/js/scripts.js" />
 		

                
        <ui:insert name="scripts" />        
        
        <script type="text/javascript" src="#{request.contextPath}/static/js/jquery.backstretch.min.js" />
    	<script>
		    $(document).ready(function() {
		        $.backstretch("#{request.contextPath}/static/images/backgroundBlue.png");
		    });
		    
		    
		</script> 
                
    </h:body>

</html>
