<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	 xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="menuBar">	
		<p:menuitem value="Regresar" 
    			icon="icon-back"
    			action="#{teacherAdminController.returnQualificationData()}" 
    			process="@this"/>		
	</ui:define>

	<ui:define name="content">	
		<h:form id="formParameterDetail">
			<p:growl id="msgs" showDetail="true" life="4000" autoUpdate="true" />
			
			<p:panel header="#{teacherAdminController.tableTitle}" style="margin-top:5px;">

			    <p:panel header="#{teacherAdminController.paramTitle}" >
			    	
					    <p:accordionPanel activeIndex="0">
					    
					    <p:tab title="PROMEDIOS PARCIALES">
					         
					                
					                <h:form id="formParameterAverage">
										<p:dataTable 
											var="data"
											selectionMode="single" 
											rowKey="#{data.key}"
											value="#{teacherAdminController.listPresentationParameter.entrySet().toArray()}"
											id="dataTableParameterAverage"
											scrollable="true"
											scrollWidth="93%" 
											scrollHeight="300"
											styleClass="tableSelectMatters" >
											
											<p:column headerText="N°" styleClass="columnAverage1">
											<h:outputText value="#{data.key.rowCount}" />
										</p:column>
											<p:column headerText="Estudiante" styleClass="columnAverage2">
												<h:outputText value="#{data.key.studentName}" />
											</p:column>
											<c:forEach var="i" step="1" begin="0" end="#{teacherAdminController.matrixSize}"  >
												<p:column headerText="Nota #{i + 1}" styleClass="columnAverage3">
													<h:outputText value="#{data.value[i].qualification}">
														<f:convertNumber pattern="#0.00" />
													</h:outputText>
												</p:column>
											</c:forEach>
											<p:column headerText="PROMEDIO" styleClass="columnAverage4">
												
												
												<h:outputText rendered="#{data.key.average ge 7}" value="#{data.key.average}" style="font-weight:bold ;" >
													<f:convertNumber pattern="#0.00" />
												</h:outputText>
											
											
												<h:outputText rendered="#{data.key.average lt 7}" value="#{data.key.average}" style="font-weight:bold ; color:red;" >
													<f:convertNumber pattern="#0.00" />
												</h:outputText>
												
												
											</p:column>
											
											<p:column headerText="#{teacherAdminController.paramAverage * 100} % DE LA NOTA FINAL"
											styleClass="columnAverage5">
												
												<h:outputText value="#{data.key.average * teacherAdminController.paramAverage}" style="font-weight:bold ;font-size: 18px;">
													<f:convertNumber pattern="#0.00" />
												</h:outputText>
											</p:column>
										</p:dataTable>
										
									</h:form>
					           
					        </p:tab>
					    
					    
					    
					    <p:tab title="RESUMEN">
					            
					            
					            <h:panelGrid columns="2" cellpadding="10" styleClass="panelDataDetailQualify">
					               
					                <p:dataTable id="dataTableParameterDetail" var="dataIndv" 
												value="#{teacherAdminController.listStudentParameterDetail}"
												selectionMode="single" 
												rowKey="#{dataIndv.description_num_parameter}"
												scrollable="true"
												scrollHeight="250">

										<p:column headerText="Parámetro" footerText="Parámetro" styleClass="columnDetail1">
											<ui:insert name="lblParameterDescription" />                 				
			                  				<h:outputText value="#{dataIndv.description_num_parameter}" />
										</p:column>

										<p:column headerText="Fecha" footerText="Fecha" styleClass="columnDetail2">                  				
			                  				<h:outputText value="#{dataIndv.date_parameter}" >
			                  					 <f:convertDateTime pattern="dd/MM/yyyy" />
			                  				</h:outputText>
										</p:column>
										
										<p:column headerText="Referencia General" footerText="Referencia General" styleClass="columnDetail3">                  				
			                  				<h:outputText value="#{dataIndv.general_reference}" >
			                  				
			                  				</h:outputText>
										</p:column>
										
									</p:dataTable>
								</h:panelGrid>
							</p:tab>

					    
					       
					    
					        
				        <p:tab title="CALIFICACIONES INDIVIDUALES">
				            <h:panelGrid columns="2" cellpadding="10" >
				                <p:outputLabel for="oneMenuDetailParameterNumber" styleClass="outNumberParam" >
				                	
				                	<ui:insert name="lblOneMenuDetailParamNum" /> 
				                	
				                </p:outputLabel>				
		                        
		                            <p:selectOneMenu id="oneMenuDetailParameterNumber" 
		                            				style="width:450px"
		                                            value="#{teacherAdminController.parameterNumberSelect}">
		                               
		                                <p:ajax listener="#{teacherAdminController.loadDataTableParameterEdit()}"
		                                        update="dataTableParameterDetailAnnotation,dateSelectAverage,referenceAverage" />
	  
		                                <f:selectItem itemLabel="-Seleccione-" 
		                                			itemValue=""
		                                            noSelectionOption="true"  />
		                                             
		                                <f:selectItems value="#{teacherAdminController.listParameterNumber}" />
		                            </p:selectOneMenu>
		                  	
				            </h:panelGrid>
				            
				            <p:panel style="border:none;text-align:center;">
				            
				            	<h:panelGrid columns="2" cellpadding="5" cellspacing="5" styleClass="panelDataAverageQualify">
				            			<h:panelGrid styleClass="textDetail">
				            				<p:outputLabel for="dateSelectAverage" value="Fecha del aporte:" >
		 									</p:outputLabel>
	 									</h:panelGrid>
	 									
	 									<h:panelGrid styleClass="textDetail2">
		 									<h:outputText id="dateSelectAverage" value="#{teacherAdminController.dateSelect}">
			 									<f:convertDateTime pattern="dd-MM-yyyy"/>		
			 								</h:outputText>
		 								</h:panelGrid>
		 								
		 								<h:panelGrid styleClass="textDetail3">	
				            				<p:outputLabel for="referenceAverage" value="Referencia general:" >
		 									</p:outputLabel>
				            			</h:panelGrid>
				            			
				            			<h:panelGrid styleClass="textDetail4">
			 								<h:outputText id="referenceAverage" value="#{teacherAdminController.referenceData}">
			 								</h:outputText>
			 							</h:panelGrid>
				            	
			            			
		 							
				          		</h:panelGrid>
					            <p:dataTable id="dataTableParameterDetailAnnotation" 
									var="studentIndv" 
									value="#{teacherAdminController.listStudentParameterGeneral}"
									selectionMode="single" 
									rowKey="#{studentIndv.idStudent}"
									scrollable="true"
									scrollHeight="240"
									styleClass="tableGeneralQualify" >
									
			       					
			       					
			       					
			       					
			       					<f:facet name="header">
			       						<div class="headerTableEdit">
			           						<h:outputText value="Calificaciones y anotaciones adicionales"/>
			       						</div>
			       					</f:facet>
			       					
			       					<p:column headerText="N°" style="width:2%;">                  				
			                			<h:outputText value="#{studentIndv.rowCount}" />
									</p:column>
					
									<p:column headerText="Estudiante" style="width:38%;">                  				
			                  			<h:outputText value="#{studentIndv.student_name}" />
									</p:column>
									
									
									<p:column headerText="Calificación" style="width:10%;">	
			                  			
			                  			<h:outputText rendered="#{studentIndv.qualification ge 7}" 
			                  				value="#{studentIndv.qualification}" 
			                  				styleClass="outPutQualifyDetail">
			                  				<f:convertNumber pattern="#0.00"/>
			                  			</h:outputText>	
			                  			
			                  			<h:outputText rendered="#{studentIndv.qualification lt 7}" 
			                  				value="#{studentIndv.qualification}" 
			                  				styleClass="outPutQualifyDetail2">
			                  				<f:convertNumber pattern="#0.00"/>
			                  			</h:outputText>	
											
											
												
			                  			
									</p:column>	
									<p:column headerText="Anotación adicional"  style="width:50%;">
			                  			<h:outputText value="#{studentIndv.annotation}"/>
									</p:column>		
								</p:dataTable>
							</p:panel>
				          
				        </p:tab>
					</p:accordionPanel>
				</p:panel>	
		    </p:panel>		
		</h:form>

	</ui:define>
</ui:composition>
</html>
