<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	 xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templates/templateParameterEdit.xhtml">

	<ui:define name="title">
		Editando Deber - Tarea
	</ui:define>
	
	<ui:define name="lblOneMenuParameterNumber">
		Deber - Tarea N°
	</ui:define>
	
	<ui:define name="lblDateSelectEdit">
		Enviado el:
	</ui:define>

	<ui:define name="lblReferenceEdit">
		Temas:
	</ui:define>

	<ui:define name="headerDataTableParameterEdit">
		Se esta editando el Deber - Tarea N° #{teacherAdminController.parameterNumberSelect}
	</ui:define>

</ui:composition>

</html>