<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:composition template="/WEB-INF/templates/template.xhtml">
	
		<ui:define name="title">
			<h:outputText value="Editar factores del rendimiento" />
		</ui:define>
		
		<ui:define name="menuBar">
			<p:menuitem action="#{studentAdminController.redirectStudentSelectData()}" 
						icon="icon-module"
						value="Seleccionar otro módulo"
						process="@this">
			</p:menuitem>	
			<p:menuitem action="#{studentAdminController.redirectGraph()}" 
		    			icon="icon-chart"
		    			value="Sección de Gráficas y predicción" 
		    			process="@this">
			</p:menuitem>
			<p:menuitem icon="icon-up"
						action="#{studentAdminController.redirectSuggestion}" 
						value="Mejorar mi rendimeinto"
						process="@this">
			</p:menuitem>
				    			
		</ui:define>
		
		
		
		<ui:define name="content">
			<p:panel styleClass="panelSuggestionMain">
				
				<h:form id="form">
					<p:growl id="msgs" showDetail="true" life="4000" autoUpdate="true" />	
					 	<p:tabView activeIndex="#{studentAdminController.activeTabIndex}" 
								dynamic="true" 
								cache="false" 
								id="tabViewDataFactor">
								
								<p:ajax event="tabChange"
									listener="#{studentAdminController.onTabChange}"
									update="@this"/>
									
								<p:tab title="FACTORES PERSONALES" id="tabPersonalFactor" >
									<p:panel styleClass="panelMessagesFactors">
											<h:outputText styleClass="textFormat2" value="#{studentAdminController.textHelp1}"/>
											<br/>
											<h:outputText styleClass="textFormat2" value="#{studentAdminController.texthelp2}"/>
									</p:panel>
										
									
									<h:panelGrid columns="1" styleClass="gridFactorMain">											
										
										<h:panelGrid columns="2" headerClass="header1" styleClass="gridNewFactors">
											 <f:facet name="header" >
										         <h:outputText value="Con respecto a la materia:" />
										      </f:facet>
										
											<h:panelGrid columns="2" styleClass="gridFactor1">	
												<h:outputText styleClass="ui-icon icon-check-new"/>
												<p:commandLink value="Satisfacción con respecto a sus estudios: "
													onclick="PF('dlg1').show()"
													styleClass="linkHelp">
												</p:commandLink>	
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<p:selectOneButton value="#{studentAdminController.personalFactor.satisfactionStudies}"  >
										            <f:selectItem itemLabel="Insatisfecho" itemValue="0" />
										            <f:selectItem itemLabel="Medianamente satisfecho" itemValue="1" />
										            <f:selectItem itemLabel="Satisfecho" itemValue="2" />
										            <p:ajax listener="#{studentAdminController.onSelectOneButtonRefresh()}"/>
										        </p:selectOneButton> 	
											</h:panelGrid>
											
											
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>	
												<p:commandLink value="Asistencia a clases: "
													onclick="PF('dlg2').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<h:outputText id="outputPF3" 
													value="Ha asistido el: #{studentAdminController.personalFactor.classesAssistance}%" />
										        <h:inputHidden id="txtPF3" 
										        	value="#{studentAdminController.personalFactor.classesAssistance}" />
										        <p:slider for="txtPF3" 
										        	display="outputPF3" 
										        	style="width: 200px" 
										        	displayTemplate="Ha asistido el: {value}%">
										        	<p:ajax event="slideEnd" 
										        			listener="#{studentAdminController.onSlideClassesAssistance}" />
										        </p:slider> 	
											</h:panelGrid>
											
											
											
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>	
												<p:commandLink value="Sus aptitudes: "
													onclick="PF('dlg3').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<p:selectOneButton value="#{studentAdminController.personalFactor.skills}"  >
										            <f:selectItem itemLabel="Bajas" itemValue="0" />
										            <f:selectItem itemLabel="Medias" itemValue="1" />
										            <f:selectItem itemLabel="Altas" itemValue="2" />
										            <p:ajax listener="#{studentAdminController.onSelectOneButtonRefresh()}"/>
										        </p:selectOneButton>	
											</h:panelGrid>
											
										</h:panelGrid>
										
											
										<h:panelGrid columns="2" headerClass="header2" styleClass="gridNewFactors">
											 <f:facet name="header" >
										         <h:outputText value="Con respecto a la carrera:" />
										      </f:facet>
											<h:panelGrid columns="2" 
													styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>
												<p:commandLink value="Competencia cognitiva: "
													onclick="PF('dlg4').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
										        <h:outputText id="outputPF1" 
													value="(Valórese entre 0 y 10): #{studentAdminController._personalFactor.cognitiveCompetence}" />	
										        <h:inputHidden id="txtPF1" 
										        	value="#{studentAdminController._personalFactor.cognitiveCompetence}" />
										        <p:slider for="txtPF1" 
										        	display="outputPF1" 
										        	style="width: 200px" 
										        	displayTemplate="(Valórese entre 0 y 10): {value}" 
										        	step="1"
										        	maxValue="10"
										        	minValue="0">  	
										        	<p:ajax event="slideEnd" 
										        			listener="#{studentAdminController.onSlideCognitiveCompetence}" />
										        </p:slider>
											</h:panelGrid>
											
											
											
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>	
												<p:commandLink value="Nivel de motivación: "
													onclick="PF('dlg5').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<p:selectOneButton value="#{studentAdminController._personalFactor.motivation}"  >
										            <f:selectItem itemLabel="Bajo" itemValue="0" />
										            <f:selectItem itemLabel="Medio" itemValue="1" />
										            <f:selectItem itemLabel="Alto" itemValue="2" />
										            <p:ajax listener="#{studentAdminController.onSelectOneButtonRefresh()}"/>
										        </p:selectOneButton>   	
											</h:panelGrid>
											
											
											
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>	
												<p:commandLink value="Condiciones cognitivas: "
													onclick="PF('dlg6').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<h:outputText id="outputPF2" 
													value="(Valórese entre 0 y 10): #{studentAdminController._personalFactor.cognitiveConditions}" />
										        <h:inputHidden id="txtPF2" 
										        	value="#{studentAdminController._personalFactor.cognitiveConditions}" />
										        <p:slider for="txtPF2" 
										        	display="outputPF2" 
										        	style="width: 200px" 
										        	displayTemplate="(Valórese entre  y 10): {value}" 
										        	step="1"
										        	maxValue="10"
										        	minValue="">
										        	<p:ajax event="slideEnd" 
										        			listener="#{studentAdminController.onSlideCognitiveConditions}" />
										        </p:slider>  	
											</h:panelGrid>
											
											
											
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>
												<p:commandLink value="Autoconcepto académico: "
													onclick="PF('dlg7').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<p:selectOneButton value="#{studentAdminController._personalFactor.academicSelfConcept}"  >
										            <f:selectItem itemLabel="Malo" itemValue="0" />
										            <f:selectItem itemLabel="Regular" itemValue="1" />
										            <f:selectItem itemLabel="Bueno" itemValue="2" />
										            <f:selectItem itemLabel="Muy bueno" itemValue="3" />
										            <p:ajax listener="#{studentAdminController.onSelectOneButtonRefresh()}"/>
										        </p:selectOneButton> 	
											</h:panelGrid>
											
		
		
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>
												<p:commandLink value="Autoeficacia percibida: "
													onclick="PF('dlg8').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<p:selectOneButton value="#{studentAdminController._personalFactor.perceivedSelfEfficacy}"  >
										            <f:selectItem itemLabel="Baja" itemValue="0" />
										            <f:selectItem itemLabel="Media" itemValue="1" />
										            <f:selectItem itemLabel="Alta" itemValue="2" />
										            <p:ajax listener="#{studentAdminController.onSelectOneButtonRefresh()}"/>
										        </p:selectOneButton>	
											</h:panelGrid>
											
											
											
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>
												<p:commandLink value="Bienestar psicológico: "
													onclick="PF('dlg9').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">	
												<p:selectOneButton value="#{studentAdminController._personalFactor.psychologicalWelfare}"  >
										            <f:selectItem itemLabel="Malo" itemValue="0" />
										            <f:selectItem itemLabel="Regular" itemValue="1" />
										            <f:selectItem itemLabel="Bueno" itemValue="2" />
										            <f:selectItem itemLabel="Muy bueno" itemValue="3" />
										            <p:ajax listener="#{studentAdminController.onSelectOneButtonRefresh()}"/>
										        </p:selectOneButton>    	
											</h:panelGrid>
										</h:panelGrid>	
										
										
										<h:panelGrid columns="2" headerClass="header3" styleClass="gridNewFactors">
											 <f:facet name="header" >
										         <h:outputText value="Con respecto a usted:" />
										      </f:facet>										
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>
												<p:commandLink value="Grado de inteligencia: "
													onclick="PF('dlg10').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<h:outputText id="outputPF4" 
													value="(Valórese entre 0 y 10): #{studentAdminController.__personalFactor.intelligence}" />
										        <h:inputHidden id="txtPF4" 
										        	value="#{studentAdminController.__personalFactor.intelligence}" />	
										        <p:slider for="txtPF4" 
										        	display="outputPF4" 
										        	style="width: 200px;" 
										        	displayTemplate="(Valórese entre 0 y 10): {value}" 
										        	step="1"
										        	maxValue="10"
										        	minValue="0">
										        	<p:ajax event="slideEnd" 
										        			listener="#{studentAdminController.onSlideIntelligence}" />
										        </p:slider>   
										      	<p:panel style="border:none;">
													<p:link outcome="suggestion"
														target="_blank"
														styleClass="linkTestIQ"
														value="Hacer un test de inteligencia"
														>
													</p:link>
												</p:panel>	
											</h:panelGrid>
											
											
											
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>	
												<p:commandLink value="Género: "
													onclick="PF('dlg11').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<p:selectOneButton value="#{studentAdminController.__personalFactor.sex}"  >
										            <f:selectItem itemLabel="Hombre" itemValue="1" />
										            <f:selectItem itemLabel="Mujer" itemValue="0" />
										            <p:ajax listener="#{studentAdminController.onSelectOneButtonRefresh()}"/>
										        </p:selectOneButton>
											</h:panelGrid>
											
											
															
											
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>	
												<p:commandLink value="Edad: "
													onclick="PF('dlg12').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<p:outputPanel >
										            <p:spinner min="0" 
										            	max="150" 
										            	size="3"
										            	onkeypress="return false"
										            	value="#{studentAdminController.__personalFactor.age}">
										               <p:ajax event="blur" 
										               		listener="#{studentAdminController.onSpinnerRefresh()}" 
										               		process="@this"/>
										            </p:spinner>
										        </p:outputPanel>
											</h:panelGrid>
											
											
											
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>	
												<p:commandLink value="Estado civil: "
													onclick="PF('dlg13').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<p:selectOneButton value="#{studentAdminController.__personalFactor.maritalStatus}"  >
										            <f:selectItem itemLabel="Casado" itemValue="1" />
										            <f:selectItem itemLabel="Soltero" itemValue="0" />
										            <p:ajax listener="#{studentAdminController.onSelectOneButtonRefresh()}"/>
										        </p:selectOneButton>
											</h:panelGrid>
											
											
											
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>	
												<p:commandLink value="Cargas familiares: "
													onclick="PF('dlg14').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<p:outputPanel >
										            <p:spinner min="0" 
										            	max="150" 
										            	size="3"
										            	onkeypress="return false"
										            	value="#{studentAdminController.__personalFactor.dependents}">
										               <p:ajax event="blur" 
										               		listener="#{studentAdminController.onSpinnerRefresh()}" 
										               		process="@this"/>
										            </p:spinner>
										        </p:outputPanel>
											</h:panelGrid>
											
											
											
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>
												<p:commandLink value="Formación académica previa: "
													onclick="PF('dlg15').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<h:outputText id="outputPF5" 
													value="(Valórese entre 0 y 10): #{studentAdminController.__personalFactor.academicTrainingSchool}" />
										        <h:inputHidden id="txtPF5" 
										        	value="#{studentAdminController.__personalFactor.academicTrainingSchool}" />
										        <p:slider for="txtPF5" 
										        	display="outputPF5" 
										        	style="width: 200px" 
										        	displayTemplate="(Valórese entre 0 y 10): {value}" 
										        	step="1"
										        	maxValue="10"
										        	minValue="0">
										        	<p:ajax event="slideEnd" 
										        			listener="#{studentAdminController.onSlideAcademicTrainingSchool}" />
										        </p:slider>	
											</h:panelGrid>
											
											
											
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>	
												<p:commandLink value="Calificación de ingreso a la Universidad: "
													onclick="PF('dlg16').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<p:inputText value="#{studentAdminController.__personalFactor.qualificationAccess}" 
													style="width:100px;">
			                  						<f:validator validatorId="rangeValidator"/>
			                  						<f:validator validatorId="decimalValidator"/>
			                  						<p:ajax event="blur" listener="#{studentAdminController.onSelectOneButtonRefresh()}"/>
			                  					</p:inputText >   	
											</h:panelGrid>
										</h:panelGrid>	
									</h:panelGrid>
								</p:tab>
								
								
		
								<p:tab title="FACTORES SOCIALES" id="tabSocialFactor" >
									
									<p:panel styleClass="panelMessagesFactors">
										<h:outputText styleClass="textFormat2" value="#{studentAdminController.textHelp1}"/>
										<br/>
										<h:outputText styleClass="textFormat2" value="#{studentAdminController.texthelp2}"/>
									</p:panel>
										
									
									<h:panelGrid columns="1" styleClass="gridFactorMain">
										
										<h:panelGrid columns="2" headerClass="header3" styleClass="gridNewFactors">
											 <f:facet name="header" >
										         <h:outputText value="Con respecto a la usted:" />
										      </f:facet>
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>
												<p:commandLink value="Diferencia social en su entorno: "
													onclick="PF('dlg17').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
										        <p:selectBooleanButton   
									    			value="#{studentAdminController.socialFactor.socialDifference}" 
									    			onLabel="Sí" 
									    			offLabel="No" 
									    			onIcon="ui-icon-check" 
										    		offIcon="ui-icon-close" 
									    			style="width:80px" >
									    			<p:ajax listener="#{studentAdminController.onSelectOneButtonRefresh()}"/>
									    		</p:selectBooleanButton>
											</h:panelGrid>
											
											
											
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>
												<p:commandLink value="Entorno familiar: "
													onclick="PF('dlg18').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<p:selectOneButton value="#{studentAdminController.socialFactor.familyEnvironment}"  >
										            <f:selectItem itemLabel="Malo" itemValue="0" />
										            <f:selectItem itemLabel="Regular" itemValue="1" />
										            <f:selectItem itemLabel="Bueno" itemValue="2" />
										            <f:selectItem itemLabel="Muy bueno" itemValue="3" />
										            <p:ajax listener="#{studentAdminController.onSelectOneButtonRefresh()}"/>
										        </p:selectOneButton>	
											</h:panelGrid>
											
											
											
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>
												<p:commandLink value="Contexto socioeconómico: "
													onclick="PF('dlg19').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<p:selectOneButton value="#{studentAdminController.socialFactor.socioeconomicContext}"  >
										            <f:selectItem itemLabel="Clase baja" itemValue="0" />
										            <f:selectItem itemLabel="Clase media" itemValue="1" />
										            <f:selectItem itemLabel="Clase alta" itemValue="2" />
										            <p:ajax listener="#{studentAdminController.onSelectOneButtonRefresh()}"/>
										        </p:selectOneButton>	
											</h:panelGrid>
											
											
											
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>
												<p:commandLink value="Variable demográfica: "
													onclick="PF('dlg20').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<h:inputHidden>Actualmente recide en:</h:inputHidden>
												<p:selectOneButton value="#{studentAdminController.socialFactor.demographicVariable}"  >
										            <f:selectItem itemLabel="Otra ciudad " itemValue="0" />
										            <f:selectItem itemLabel="Esta ciudad sector rural" itemValue="1" />
										            <f:selectItem itemLabel="Esta ciudad sector urbano" itemValue="2" />
										            <p:ajax listener="#{studentAdminController.onSelectOneButtonRefresh()}"/>
										        </p:selectOneButton>	
											</h:panelGrid>
										</h:panelGrid>
									</h:panelGrid>
								
								</p:tab>
								
								
								
								<p:tab title="FACTORES INSTITUCIONALES" id="tabInstitutionalFactor" >
									
									<p:panel styleClass="panelMessagesFactors">
										<h:outputText styleClass="textFormat2" value="#{studentAdminController.textHelp1}"/>
										<br/>
										<h:outputText styleClass="textFormat2" value="#{studentAdminController.texthelp2}"/>
									</p:panel>
									
									<h:panelGrid columns="1" styleClass="gridFactorMain">
									
										<h:panelGrid columns="2" headerClass="header1" styleClass="gridNewFactors">
											 <f:facet name="header" >
										         <h:outputText value="Con respecto a la materia:" />
										      </f:facet>
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>
												<p:commandLink value="Complejidad de esta materia: "
													onclick="PF('dlg21').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<h:outputText id="outputIF1" 
													value="Nivel de complejidad: #{studentAdminController.institutionalFactor.complexityMatter}" />
										        <h:inputHidden id="txtIF1" 
										        	value="#{studentAdminController.institutionalFactor.complexityMatter}" />
										        <p:slider for="txtIF1" 
										        	display="outputIF1" 
										        	style="width: 200px" 
										        	displayTemplate="Nivel de complejidad: {value}" 
										        	step="1"
										        	maxValue="10"
										        	minValue="0">
										        	<p:ajax event="slideEnd" 
										        			listener="#{studentAdminController.onSlideComplexityCareer}" />
										        </p:slider>
											</h:panelGrid>
											
											
											
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>
												<p:commandLink value="Relación estudiante - profesor: "
													onclick="PF('dlg22').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<p:selectOneButton value="#{studentAdminController.institutionalFactor.relationshipStudentTeacher}"  >
										            <f:selectItem itemLabel="Mala" itemValue="0" />
										            <f:selectItem itemLabel="Regular" itemValue="1" />
										            <f:selectItem itemLabel="Buena" itemValue="2" />
										            <f:selectItem itemLabel="Muy buena" itemValue="3" />
										            <p:ajax listener="#{studentAdminController.onSelectOneButtonRefresh()}"/>
										        </p:selectOneButton>
										        	
											</h:panelGrid>
										</h:panelGrid>
										
										
										<h:panelGrid columns="2" headerClass="header2"  styleClass="gridNewFactors">
											 <f:facet name="header" >
										         <h:outputText value="Con respecto a la carrera:" />
										      </f:facet>
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>
												<p:commandLink value="Su carrera es la deseada: "
													onclick="PF('dlg23').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
										        <p:selectBooleanButton   
									    			value="#{studentAdminController._institutionalFactor.desiredCareer}" 
									    			onLabel="Sí" 
									    			offLabel="No" 
									    			onIcon="ui-icon-check" 
										    		offIcon="ui-icon-close" 
									    			style="width:80px" >
									    			<p:ajax listener="#{studentAdminController.onSelectOneButtonRefresh()}"/>
									    		</p:selectBooleanButton>  
											</h:panelGrid>
											
											
											
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>
												<p:commandLink value="Condiciones institucionales: "
													onclick="PF('dlg24').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<h:outputText id="outputIF2" 
													value="Valore la condición actual: #{studentAdminController._institutionalFactor.institutionalStatus}" />
										        <h:inputHidden id="txtIF2" 
										        	value="#{studentAdminController._institutionalFactor.institutionalStatus}" />
										        <p:slider for="txtIF2" 
										        	display="outputIF2" 
										        	style="width: 200px" 
										        	displayTemplate="Valore la condición actual: {value}" 
										        	step="1"
										        	maxValue="10"
										        	minValue="0">
										        	<p:ajax event="slideEnd" 
										        			listener="#{studentAdminController.onSlideInstitutionalStatus}" />
										        </p:slider>
											</h:panelGrid>
											
											
											
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>
												<p:commandLink value="Servicios instituionales de apoyo: "
													onclick="PF('dlg25').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
										        <p:selectBooleanButton   
									    			value="#{studentAdminController._institutionalFactor.supportService}" 
									    			onLabel="Sí" 
									    			offLabel="No" 
									    			onIcon="ui-icon-check" 
										    		offIcon="ui-icon-close" 
									    			style="width:80px" >
									    			<p:ajax listener="#{studentAdminController.onSelectOneButtonRefresh()}"/>
									    		</p:selectBooleanButton>
											</h:panelGrid>
											
											
											
											<h:panelGrid columns="2" styleClass="gridFactor1">
												<h:outputText styleClass="ui-icon icon-check-new"/>
												<p:commandLink value="Ambiente estudiantil: "
													onclick="PF('dlg26').show()"
													styleClass="linkHelp">
												</p:commandLink>
											</h:panelGrid>
											<h:panelGrid styleClass="gridFactor2">
												<p:selectOneButton value="#{studentAdminController._institutionalFactor.studentLife}"  >
										            <f:selectItem itemLabel="Malo" itemValue="0" />
										            <f:selectItem itemLabel="Regular" itemValue="1" />
										            <f:selectItem itemLabel="Bueno" itemValue="2" />
										            <f:selectItem itemLabel="Muy bueno" itemValue="3" />
										            <p:ajax listener="#{studentAdminController.onSelectOneButtonRefresh()}"/>
										        </p:selectOneButton>
											</h:panelGrid>
										</h:panelGrid>
										
										
										
									</h:panelGrid>

								</p:tab>
								
						</p:tabView>
					 	
				 		<p:panel styleClass="panelBtnSaveFactors">
				 			<p:commandButton value="Guardar cambios"
				 					icon="icon-save"
					 				action="#{studentAdminController.saveNewFactorsForPrediction()}"
					 				process="@this"
					 				update=":form:msgs">
							</p:commandButton>
						</p:panel>

						<p:dialog header="Satisfacción con respecto a sus estudios" 
								widgetVar="dlg1" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Hace referencia al
										bienestar del estudiante en relación con
										sus estudios, e implica una actitud positiva
										hacia la Universidad y la carrera."/>
							</h:panelGrid>	
						</p:dialog>

						<p:dialog header="Asistencia a clases" 
								widgetVar="dlg2" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Debe especificar un porcentaje aproximado de asistencia a 
								clases solo para esta materia en específico."/>
							</h:panelGrid>	
						</p:dialog>


						<p:dialog header="Aptitudes" 
								widgetVar="dlg3" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Se asocian a habilidades
										para realizar determinadas tareas por
										parte del estudiante. 
										Especifique sus aptitudes en esta materia."/>
							</h:panelGrid>	
						</p:dialog>						
						
						<p:dialog header="Competencia cognitiva" 
								widgetVar="dlg4" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Se define
										como la autoevaluación de la propia
										capacidad del individuo para cumplir una
										determinada tarea cognitiva, su percepción
										sobre su capacidad y habilidades intelectuales. 
										Valórese según su criterio."/>
							</h:panelGrid>	
						</p:dialog>
						
						<p:dialog header="Motivación" 
								widgetVar="dlg5" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Especifique su nivel de 
											motivación actual con respecto a la carrera 
											que sigue."/>
							</h:panelGrid>	
						</p:dialog>
						
						
						<p:dialog header="Condiciones cognitivas" 
								widgetVar="dlg6" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Son
									estrategias de aprendizajes que el estudiante
									lleva a cabo relacionadas con la
									selección, organización, y elaboración de los
									diferentes aprendizajes. 
									Valórese según su criterio."/>
							</h:panelGrid>	
						</p:dialog>
						
						<p:dialog header="Autoconcepto académico" 
								widgetVar="dlg7" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Se define como el conjunto de percepciones
										y creencias que una persona posee
										sobre sí misma, es así como la mayoría de
										variables personales que orientan la motivación
										parten de las creencias y percepciones
										que el individuo tiene sobre aspectos
										cognitivos."/>
							</h:panelGrid>	
						</p:dialog>
						
						<p:dialog header="Autoeficacia percibida" 
								widgetVar="dlg8" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Debe especificar la eficacia que el estudiante percibe sobre sí 
								mismo es decir que tan eficiente 
								es en la parte académica. La carencia de autoeficacia puede 
								darse por estados de agotamiento, desinterés, 
								falta de proyección con sus estudios y fatiga o
								la sensación de estar 'quemado' por las
								actividades académicas."/>
							</h:panelGrid>	
						</p:dialog>
						
						
						
						<p:dialog header="Bienestar psicológico" 
								widgetVar="dlg9" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Como cataloga su 
								bienestar psicológico, es 
								decir se siente feliz y 
								satisfecho al estar en esta carrera."/>
							</h:panelGrid>	
						</p:dialog>
						

						
						
						
						
						
						<p:dialog header="Grado de inteligencia" 
								widgetVar="dlg10" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Valore su grado de 
								inteligencia en una escala del 
								0 al 10 según su criterio personal."/>
							</h:panelGrid>	
						</p:dialog>
				 	
				 		<p:dialog header="Género" 
								widgetVar="dlg11" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Especifique su género."/>
							</h:panelGrid>	
						</p:dialog>
				 	
				 		<p:dialog header="Edad" 
								widgetVar="dlg12" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Especifique su edad actual."/>
							</h:panelGrid>	
						</p:dialog>
						
						<p:dialog header="Estado civil" 
								widgetVar="dlg13" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Especifique su estado civil."/>
							</h:panelGrid>	
						</p:dialog>
						
						<p:dialog header="Cargas familiares" 
								widgetVar="dlg14" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Número de cargas familiares que posee."/>
							</h:panelGrid>	
						</p:dialog>
						
						<p:dialog header="Formación acdémica previa a la Universidad" 
								widgetVar="dlg15" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Debe especificar el nivel, 
											según su criterio, en el 
											cual se encuentra su 
											formación previa a acceder a la 
											universidad, tome en cuenta la 
											calidad de la enseñanza
											 brindada en la institución."/>
							</h:panelGrid>	
						</p:dialog>
						
						<p:dialog header="Calificación de ingreso a la Universidad" 
								widgetVar="dlg16" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Debe especificar la calificación obtenida 
											en la prueba de ingreso 
											a la Universidad."/>
							</h:panelGrid>	
						</p:dialog>
						
						<p:dialog header="Diferencia social" 
								widgetVar="dlg17" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Seleccione Sí en caso de existir alguna 
										posible diferencia 
										social en su entorno y que a 
										su vez pueda estar 
										afectando su rendimiento."/>
							</h:panelGrid>	
						</p:dialog>
						
						<p:dialog header="Entorno familiar" 
								widgetVar="dlg18" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Especifique el ambiente 
								que rodea a su entorno familiar."/>
							</h:panelGrid>	
						</p:dialog>
						
						<p:dialog header="Contexto socioeconómico" 
								widgetVar="dlg19" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Debe seleccionar el nivel económico 
								que se adapte a su realidad."/>
							</h:panelGrid>	
						</p:dialog>
						
						<p:dialog header="Variable demográfica" 
								widgetVar="dlg20" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Su ubicación actual 
								con respecto a la Universidad."/>
							</h:panelGrid>	
						</p:dialog>
						
						<p:dialog header="Complejidad" 
								widgetVar="dlg21" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Según su criterio cual es el nivel 
								de complejidad 
								para esta materia en específico."/>
							</h:panelGrid>	
						</p:dialog>
						
						<p:dialog header="Relación estudiante - profesor" 
								widgetVar="dlg22" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="¿Cómo calificaría la relación 
								con su profesor en esta materia?"/>
							</h:panelGrid>	
						</p:dialog>
						
						<p:dialog header="Carrera deseada" 
								widgetVar="dlg23" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="¿Esta carrera es la deseada por usted y no fue 
								influenciado(a) por medios 
								externos para seguirla?"/>
							</h:panelGrid>	
						</p:dialog>
						
						<p:dialog header="Condiciones institucionales" 
								widgetVar="dlg24" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Como calificaría el estado de 
								las instalaciones académicas actualmente."/>
							</h:panelGrid>	
						</p:dialog>
						
						<p:dialog header="Servicios instituionales de apoyo" 
								widgetVar="dlg25" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Le han sido prestados ciertos servicios académicos como por ejemplo sistemas de becas, servicio de préstamo de libros, 
								asistencia médica, apoyo psicológico, 
								entre otros."/>
							</h:panelGrid>	
						</p:dialog>
						
						
						<p:dialog header="Ambiente estudiantil" 
								widgetVar="dlg26" 
								modal="true" 
								resizable="false"
								dynamic="false"
								width="40%">
							<h:panelGrid columns="1" style="width:98%; text-align:justify;">
								<h:outputText value="Como cataloga el ambiente que lleva con 
								sus compañeros de clase en esta materia."/>
							</h:panelGrid>	
						</p:dialog>
				</h:form>
			</p:panel>
		</ui:define>
	</ui:composition>
</html>