<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/views/student/main.xhtml">

	<ui:define name="graph">
			
			<p:panel style="width:970px;height:550px">
				<h:outputText value="No existen registros para #{studentAdminController.matterName}. 
				Solicite al docente que ingrese información al sistema" />
				
			</p:panel>
	</ui:define>
</ui:composition>
</html>
