<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:composition template="/views/student/main.xhtml">

		
		
		<ui:define name="graph">
		<h:form id="form">
			<p:growl id="msgs" showDetail="true" life="4000" autoUpdate="true" />
		

	 		<p:accordionPanel activeIndex="#{studentAdminController.activeTabIndexAccordion}" 
	 				id="accordionParameters" >
	 			<p:ajax event="tabChange" update=":form:accordionParameters"></p:ajax>		
	 			
	 			
	 			<!-- EVALUACIONES -->
	 			<p:tab title="RENDIMIENTO EN EVALUACIONES" id="tabGraphEvals">
					
					<p:tabView dynamic="true" 
								cache="false" 
								activeIndex="#{studentAdminController.activeTabIndexEvals}" 
								id="tabViewEvals">
						<f:param name="idParamSuggestion" value="evaluation"/>
						<p:ajax event="tabChange"
								listener="#{studentAdminController.viewDialogCustomized}" 
								update=":form:accordionParameters:tabViewEvals:tabMoreDataEvals" />
								
						<p:tab title="GRÁFICA" >
							<h:panelGrid columns="1" styleClass="gridGrapics">
								<c:if test="#{studentAdminController.messageEvaluationEmpty != ''}">
									<p:panel styleClass="messageEmpty">	
									<h:outputText value="#{studentAdminController.messageEvaluationEmpty}"/>
									</p:panel>
								</c:if>
								<c:if test="#{studentAdminController.messageEvaluationEmpty == ''}">
									<p:panel styleClass="panelMainGraph" >	
										<p:chart type="line" 
											
											model="#{studentAdminController.modelEvaluation}" 
											style="width:800px;height:350px;"/>
										<div class="divLinkDetailReg">
											<p:link styleClass="linkDetailReg" 
												value="¿Qué significa esta gráfica?" 
												href="http://apsys-manual-del-estudiante.readthedocs.org/es/latest/library/GenerateGraph/generateGraph.html#estructura-de-las-graficas"
												target="_blank">
											</p:link>
										</div>
									</p:panel>
								</c:if>
							</h:panelGrid>
						</p:tab>
						
						<p:tab title="PREDICCIÓN" id="tabPredictionEvals" >
							<c:if test="#{studentAdminController.messageEvaluationEmpty == ''}">
								<h:panelGrid columns="1" styleClass="gridSuggestion" >
									<p:panel styleClass="panelLeftPrediction">
										<h:panelGrid columns="1" styleClass="panelGraphMessages">
											<c:if test="#{studentAdminController.messageEvaluationOne != ''}">
												<p:panel styleClass="messageOne">
													<h:outputText value="#{studentAdminController.messageEvaluationOne}" >
													</h:outputText>
												</p:panel>
											</c:if>
											<c:if test="#{studentAdminController.parameters.evaluations != null}">
												<p:panel styleClass="panelMessajePrediction" >
													<c:if test="#{studentAdminController.messageEvaluationComplete == ''}">
														<h:outputText value="#{studentAdminController.msgEvalLessPart} EVALUACIÓN#{studentAdminController.msgPart2}" />
														<h:outputText styleClass="outPrediction" 
															value="#{studentAdminController.parameters.evaluations.get(
															studentAdminController.parameters.evaluations.size()-1).qualificationEval}" >
															<f:convertNumber pattern="#0.00"></f:convertNumber>
														</h:outputText>
														<h:outputText value="#{studentAdminController.msgFinal}" />	
													</c:if>
													<c:if test="#{studentAdminController.messageEvaluationComplete != ''}">
														<h:outputText value="#{studentAdminController.messageEvaluationComplete}" />	
													</c:if>
												</p:panel>
										    </c:if>
										</h:panelGrid>
									</p:panel>
								</h:panelGrid> 
								<h:panelGrid columns="1" styleClass="gridSuggestion" >
									<p:panel styleClass="panelLeftPrediction">
										<p:panel styleClass="panelMessajePredictionMsj">
											<h:outputText value="Puedes revisar los "/>
											<h:outputText value="Parámetros de predicción " style="font-weight: bold;"/>
											<h:outputText value="para realizar ajustes. "/>
										</p:panel>
									</p:panel>
								</h:panelGrid>
							</c:if>	
						</p:tab>
							
						<p:tab title="MAS INFORMACIÓN" id="tabMoreDataEvals" >
							<c:if test="#{studentAdminController.messageEvaluationEmpty == ''}">
								<p:panel styleClass="paneRightConclusion">
									<c:choose>
										<c:when test="#{studentAdminController.evaluations.size() >= 1}">
												<p:panel styleClass="panelMessajeAverage" >
													<h:outputText value="PROMEDIO: " styleClass="textConclusionSuggestion"/>
													<h:outputText value="Promedio parcial en EVALUACIONES: "/>
		    										<h:outputText value="#{studentAdminController.averageReal}" style="font-weight: bold;">
		    											<f:convertNumber pattern="#0.00" />
		    										</h:outputText>
		    										<h:outputText value=" / 10.00" style="font-weight: bold;"/>
		    									</p:panel>	
		    								<c:if test="#{studentAdminController.messageEvaluationFATAL == ''}">	
		    									<p:panel styleClass="panelMessajeConclusion" >
		    										<h:outputText value="CONCLUSIÓN: " styleClass="textConclusionSuggestion"/>	
		    										<h:outputText value="#{studentAdminController.suggestion1}" />
		    										<br/>
		    										<br/>
		    										<p:link href="http://www.educar.ec/servicios/regla_loei-6.html" target="_blank" styleClass="linkConclusion" value="¿En qué se basa es esta conclusión?"></p:link>
												</p:panel>	
											</c:if>	
											<c:if test="#{studentAdminController.messageEvaluationFATAL != ''}">
												<p:panel styleClass="messageFATAL">
													<h:outputText value="#{studentAdminController.messageEvaluationFATAL}" style="color:white;"/>
												</p:panel>
											</c:if>
										</c:when>
									</c:choose>
								</p:panel>
								
							</c:if>
						</p:tab>
					</p:tabView>
				</p:tab>
				
				
				<!-- LECCIONES -->
	 			<p:tab title="RENDIMIENTO EN LECCIONES" id="tabGraphLess">
					
					<p:tabView dynamic="true" 
								cache="false" 
								activeIndex="#{studentAdminController.activeTabIndexLess}" 
								id="tabViewLess">
						<f:param name="idParamSuggestion" value="lesson"/>
						<p:ajax event="tabChange"
								listener="#{studentAdminController.viewDialogCustomized}" 
								update=":form:accordionParameters:tabViewLess:tabMoreDataLess" />
								
						<p:tab title="GRÁFICA" >
							<h:panelGrid columns="1" styleClass="gridGrapics">
								<c:if test="#{studentAdminController.messageLessonEmpty != ''}">
									<p:panel styleClass="messageEmpty">	
									<h:outputText value="#{studentAdminController.messageLessonEmpty}"/>
									</p:panel>
								</c:if>
								<c:if test="#{studentAdminController.messageLessonEmpty == ''}">
									<p:panel styleClass="panelMainGraph" >	
										<p:chart type="line" 
											model="#{studentAdminController.modelLesson}" 
											style="width:800px;height:350px;"/>
										<div class="divLinkDetailReg">
											<p:link styleClass="linkDetailReg" 
												value="¿Qué significa esta gráfica?" 
												href="http://apsys-manual-del-estudiante.readthedocs.org/es/latest/library/GenerateGraph/generateGraph.html#estructura-de-las-graficas"
												target="_blank">
											</p:link>
										</div>
									</p:panel>
								</c:if>
							</h:panelGrid>
						</p:tab>
						
						<p:tab title="PREDICCIÓN" id="tabPredictionLess" >
							<c:if test="#{studentAdminController.messageLessonEmpty == ''}">
								<h:panelGrid columns="1" styleClass="gridSuggestion" >
									<p:panel styleClass="panelLeftPrediction">
										<h:panelGrid columns="1" styleClass="panelGraphMessages">
											<c:if test="#{studentAdminController.messageLessonOne != ''}">
												<p:panel styleClass="messageOne">
													<h:outputText value="#{studentAdminController.messageLessonOne}" >
													</h:outputText>
												</p:panel>
											</c:if>
											<c:if test="#{studentAdminController.parameters.lessons != null}">
												<p:panel styleClass="panelMessajePrediction" >
													<c:if test="#{studentAdminController.messageLessonComplete == ''}">
														<h:outputText value="#{studentAdminController.msgEvalLessPart} LECCIÓN#{studentAdminController.msgPart2}" />
														<h:outputText styleClass="outPrediction" 
															value="#{studentAdminController.parameters.lessons.get(
															studentAdminController.parameters.lessons.size()-1).qualificationLesson}" >
															<f:convertNumber pattern="#0.00"></f:convertNumber>
														</h:outputText>
														<h:outputText value="#{studentAdminController.msgFinal}" />	
													</c:if>
													<c:if test="#{studentAdminController.messageLessonComplete != ''}">
														<h:outputText value="#{studentAdminController.messageLessonComplete}" />	
													</c:if>
												</p:panel>
										    </c:if>
										</h:panelGrid>
									</p:panel>
								</h:panelGrid>
								<h:panelGrid columns="1" styleClass="gridSuggestion" >
									<p:panel styleClass="panelLeftPrediction">
										<p:panel styleClass="panelMessajePredictionMsj">
											<h:outputText value="Puedes revisar los "/>
											<h:outputText value="Parámetros de predicción " style="font-weight: bold;"/>
											<h:outputText value="para realizar ajustes. "/>
										</p:panel>
									</p:panel>
								</h:panelGrid> 
							</c:if>	
						</p:tab>
							
						<p:tab title="MAS INFORMACIÓN" id="tabMoreDataLess" >
							<c:if test="#{studentAdminController.messageLessonEmpty == ''}">
								<p:panel styleClass="paneRightConclusion">
									<c:choose>
										<c:when test="#{studentAdminController.lessons.size() >= 1}">
												<p:panel styleClass="panelMessajeAverage" >
													<h:outputText value="PROMEDIO: " styleClass="textConclusionSuggestion"/>
													<h:outputText value="Promedio parcial en LECCIONES: "/>
		    										<h:outputText value="#{studentAdminController.averageReal}" style="font-weight: bold;">
		    											<f:convertNumber pattern="#0.00" />
		    										</h:outputText>
		    										<h:outputText value=" / 10.00" style="font-weight: bold;"/>
		    									</p:panel>	
		    								<c:if test="#{studentAdminController.messageLessonFATAL == ''}">	
		    									<p:panel styleClass="panelMessajeConclusion" >
		    										<h:outputText value="CONCLUSIÓN: " styleClass="textConclusionSuggestion"/>	
		    										<h:outputText value="#{studentAdminController.suggestion1}" />
		    										<br/>
		    										<br/>
		    										<p:link href="http://www.educar.ec/servicios/regla_loei-6.html" target="_blank" styleClass="linkConclusion" value="¿En qué se basa es esta conclusión?"></p:link>
												</p:panel>	
											</c:if>	
											<c:if test="#{studentAdminController.messageLessonFATAL != ''}">
												<p:panel styleClass="messageFATAL">
													<h:outputText value="#{studentAdminController.messageLessonFATAL}" style="color:white;"/>
												</p:panel>
											</c:if>
										</c:when>
									</c:choose>
								</p:panel>
							</c:if>
						</p:tab>
					</p:tabView>
				</p:tab>
				
				
				<!-- TRABAJOS AUTONOMOS -->
	 			<p:tab title="RENDIMIENTO EN TRABAJOS AUTÓNOMOS" id="tabGraphCWs">
					
					<p:tabView dynamic="true" 
								cache="false" 
								activeIndex="#{studentAdminController.activeTabIndexCWs}" 
								id="tabViewCWs">
						<f:param name="idParamSuggestion" value="classWork"/>
						<p:ajax event="tabChange"
								listener="#{studentAdminController.viewDialogCustomized}" 
								update=":form:accordionParameters:tabViewCWs:tabMoreDataCWs" />
								
						<p:tab title="GRÁFICA" >
							<h:panelGrid columns="1" styleClass="gridGrapics">
								<c:if test="#{studentAdminController.messageClassWorkEmpty != ''}">
									<p:panel styleClass="messageEmpty">	
									<h:outputText value="#{studentAdminController.messageClassWorkEmpty}"/>
									</p:panel>
								</c:if>
								<c:if test="#{studentAdminController.messageClassWorkEmpty == ''}">
									<p:panel styleClass="panelMainGraph" >	
										<p:chart type="line" 
											model="#{studentAdminController.modelClassWork}" 
											style="width:800px;height:350px;"/>
										<div class="divLinkDetailReg">
											<p:link styleClass="linkDetailReg" 
												value="¿Qué significa esta gráfica?" 
												href="http://apsys-manual-del-estudiante.readthedocs.org/es/latest/library/GenerateGraph/generateGraph.html#estructura-de-las-graficas"
												target="_blank">
											</p:link>
										</div>
									</p:panel>
								</c:if>
							</h:panelGrid>
						</p:tab>
						
						<p:tab title="PREDICCIÓN" id="tabPredictionCWs" >
							<c:if test="#{studentAdminController.messageClassWorkEmpty == ''}">
								<h:panelGrid columns="1" styleClass="gridSuggestion" >
									<p:panel styleClass="panelLeftPrediction">
										<h:panelGrid columns="1" styleClass="panelGraphMessages">
											<c:if test="#{studentAdminController.messageClassWorkOne != ''}">
												<p:panel styleClass="messageOne">
													<h:outputText value="#{studentAdminController.messageClassWorkOne}" >
													</h:outputText>
												</p:panel>
											</c:if>
											<c:if test="#{studentAdminController.parameters.classWorks != null}">
												<p:panel styleClass="panelMessajePrediction" >
													<c:if test="#{studentAdminController.messageClassWorkComplete == ''}">
														<h:outputText value="#{studentAdminController.msgCwEcwLab} TRABAJO AUTÓNOMO#{studentAdminController.msgPart2}" />
														<h:outputText styleClass="outPrediction" 
															value="#{studentAdminController.parameters.classWorks.get(
															studentAdminController.parameters.classWorks.size()-1).qualificationClassWork}" >
															<f:convertNumber pattern="#0.00"></f:convertNumber>
														</h:outputText>
														<h:outputText value="#{studentAdminController.msgFinal}" />	
													</c:if>
													<c:if test="#{studentAdminController.messageClassWorkComplete != ''}">
														<h:outputText value="#{studentAdminController.messageClassWorkComplete}" />	
													</c:if>
												</p:panel>
										    </c:if>
										</h:panelGrid>
									</p:panel>
								</h:panelGrid> 
								<h:panelGrid columns="1" styleClass="gridSuggestion" >
									<p:panel styleClass="panelLeftPrediction">
										<p:panel styleClass="panelMessajePredictionMsj">
											<h:outputText value="Puedes revisar los "/>
											<h:outputText value="Parámetros de predicción " style="font-weight: bold;"/>
											<h:outputText value="para realizar ajustes. "/>
										</p:panel>
									</p:panel>
								</h:panelGrid>
							</c:if>	
						</p:tab>
							
						<p:tab title="MAS INFORMACIÓN" id="tabMoreDataCWs" >
							<c:if test="#{studentAdminController.messageClassWorkEmpty == ''}">
								<p:panel styleClass="paneRightConclusion">
									<c:choose>
										<c:when test="#{studentAdminController.classWorks.size() >= 1}">
												<p:panel styleClass="panelMessajeAverage" >
													<h:outputText value="PROMEDIO: " styleClass="textConclusionSuggestion"/>
													<h:outputText value="Promedio parcial en TRABAJOS AUTÓNOMOS: "/>
		    										<h:outputText value="#{studentAdminController.averageReal}" style="font-weight: bold;">
		    											<f:convertNumber pattern="#0.00" />
		    										</h:outputText>
		    										<h:outputText value=" / 10.00" style="font-weight: bold;"/>
		    									</p:panel>	
		    								<c:if test="#{studentAdminController.messageClassWorkFATAL == ''}">	
		    									<p:panel styleClass="panelMessajeConclusion" >
		    										<h:outputText value="CONCLUSIÓN: " styleClass="textConclusionSuggestion"/>	
		    										<h:outputText value="#{studentAdminController.suggestion1}" />
		    										<br/>
		    										<br/>
		    										<p:link href="http://www.educar.ec/servicios/regla_loei-6.html" target="_blank" styleClass="linkConclusion" value="¿En qué se basa es esta conclusión?"></p:link>
												</p:panel>	
											</c:if>	
											<c:if test="#{studentAdminController.messageClassWorkFATAL != ''}">
												<p:panel styleClass="messageFATAL">
													<h:outputText value="#{studentAdminController.messageClassWorkFATAL}" style="color:white;"/>
												</p:panel>
											</c:if>
										</c:when>
									</c:choose>
								</p:panel>
							</c:if>
						</p:tab>
					</p:tabView>
				</p:tab>
				
				
				<!-- DEBERES - TAREAS -->
	 			<p:tab title="RENDIMIENTO EN DEBERES - TAREAS" id="tabGraphECWs">
					
					<p:tabView dynamic="true" 
								cache="false" 
								activeIndex="#{studentAdminController.activeTabIndexECWs}" 
								id="tabViewECWs">
						<f:param name="idParamSuggestion" value="extraClassWork"/>
						<p:ajax event="tabChange"
								listener="#{studentAdminController.viewDialogCustomized}" 
								update=":form:accordionParameters:tabViewECWs:tabMoreDataECWs" />
								
						<p:tab title="GRÁFICA" >
							<h:panelGrid columns="1" styleClass="gridGrapics">
								<c:if test="#{studentAdminController.messageExtraClassWorkEmpty != ''}">
									<p:panel styleClass="messageEmpty">	
									<h:outputText value="#{studentAdminController.messageExtraClassWorkEmpty}"/>
									</p:panel>
								</c:if>
								<c:if test="#{studentAdminController.messageExtraClassWorkEmpty == ''}">
									<p:panel styleClass="panelMainGraph" >	
										<p:chart type="line" 
											model="#{studentAdminController.modelExtraClassWork}" 
											style="width:800px;height:350px;"/>
										<div class="divLinkDetailReg">
											<p:link styleClass="linkDetailReg" 
												value="¿Qué significa esta gráfica?" 
												href="http://apsys-manual-del-estudiante.readthedocs.org/es/latest/library/GenerateGraph/generateGraph.html#estructura-de-las-graficas"
												target="_blank">
											</p:link>
										</div>
									</p:panel>
								</c:if>
							</h:panelGrid>
						</p:tab>
						
						<p:tab title="PREDICCIÓN" id="tabPredictionECWs" >
							<c:if test="#{studentAdminController.messageExtraClassWorkEmpty == ''}">
								<h:panelGrid columns="1" styleClass="gridSuggestion" >
									<p:panel styleClass="panelLeftPrediction">
										<h:panelGrid columns="1" styleClass="panelGraphMessages">
											<c:if test="#{studentAdminController.messageExtraClassWorkOne != ''}">
												<p:panel styleClass="messageOne">
													<h:outputText value="#{studentAdminController.messageExtraClassWorkOne}" >
													</h:outputText>
												</p:panel>
											</c:if>
											<c:if test="#{studentAdminController.parameters.extraClassWorks != null}">
												<p:panel styleClass="panelMessajePrediction" >
													<c:if test="#{studentAdminController.messageExtraClassWorkComplete == ''}">
														<h:outputText value="#{studentAdminController.msgCwEcwLab} DEBER - TAREA#{studentAdminController.msgPart2}" />
														<h:outputText styleClass="outPrediction" 
															value="#{studentAdminController.parameters.extraClassWorks.get(
															studentAdminController.parameters.extraClassWorks.size()-1).qualificationExtraClassWork}" >
															<f:convertNumber pattern="#0.00"></f:convertNumber>
														</h:outputText>
														<h:outputText value="#{studentAdminController.msgFinal}" />	
													</c:if>
													<c:if test="#{studentAdminController.messageExtraClassWorkComplete != ''}">
														<h:outputText value="#{studentAdminController.messageExtraClassWorkComplete}" />	
													</c:if>
												</p:panel>
										    </c:if>
										</h:panelGrid>
									</p:panel>
								</h:panelGrid> 
								<h:panelGrid columns="1" styleClass="gridSuggestion" >
									<p:panel styleClass="panelLeftPrediction">
										<p:panel styleClass="panelMessajePredictionMsj">
											<h:outputText value="Puedes revisar los "/>
											<h:outputText value="Parámetros de predicción " style="font-weight: bold;"/>
											<h:outputText value="para realizar ajustes. "/>
										</p:panel>
									</p:panel>
								</h:panelGrid>
							</c:if>	
						</p:tab>
							
						<p:tab title="MAS INFORMACIÓN" id="tabMoreDataECWs" >
							<c:if test="#{studentAdminController.messageExtraClassWorkEmpty == ''}">
								<p:panel styleClass="paneRightConclusion">
									<c:choose>
										<c:when test="#{studentAdminController.extraClassWorks.size() >= 1}">
												<p:panel styleClass="panelMessajeAverage" >
													<h:outputText value="PROMEDIO: " styleClass="textConclusionSuggestion"/>
													<h:outputText value="Promedio parcial en DEBERES - TAREAS: "/>
		    										<h:outputText value="#{studentAdminController.averageReal}" style="font-weight: bold;">
		    											<f:convertNumber pattern="#0.00" />
		    										</h:outputText>
		    										<h:outputText value=" / 10.00" style="font-weight: bold;"/>
		    									</p:panel>	
		    								<c:if test="#{studentAdminController.messageExtraClassWorkFATAL == ''}">	
		    									<p:panel styleClass="panelMessajeConclusion" >
		    										<h:outputText value="CONCLUSIÓN: " styleClass="textConclusionSuggestion"/>	
		    										<h:outputText value="#{studentAdminController.suggestion1}" />
		    										<br/>
		    										<br/>
		    										<p:link href="http://www.educar.ec/servicios/regla_loei-6.html" 
		    										target="_blank" 
		    										styleClass="linkConclusion" 
		    										value="¿En qué se basa es esta conclusión?"></p:link>
												</p:panel>	
											</c:if>	
											<c:if test="#{studentAdminController.messageExtraClassWorkFATAL != ''}">
												<p:panel styleClass="messageFATAL">
													<h:outputText value="#{studentAdminController.messageExtraClassWorkFATAL}" style="color:white;"/>
												</p:panel>
											</c:if>
										</c:when>
									</c:choose>
								</p:panel>
							</c:if>
						</p:tab>
					</p:tabView>
				</p:tab>
				
				
				<!-- PARTICIPACIONES -->
	 			<p:tab title="RENDIMIENTO EN PARTICIPACIONES" id="tabGraphParts">
					
					<p:tabView dynamic="true" 
								cache="false" 
								activeIndex="#{studentAdminController.activeTabIndexParts}" 
								id="tabViewParts">
						<f:param name="idParamSuggestion" value="participation"/>
						<p:ajax event="tabChange"
								listener="#{studentAdminController.viewDialogCustomized}" 
								update=":form:accordionParameters:tabViewParts:tabMoreDataParts" />
								
						<p:tab title="GRÁFICA" >
							<h:panelGrid columns="1" styleClass="gridGrapics">
								<c:if test="#{studentAdminController.messageParticipationEmpty != ''}">
									<p:panel styleClass="messageEmpty">	
									<h:outputText value="#{studentAdminController.messageParticipationEmpty}"/>
									</p:panel>
								</c:if>
								<c:if test="#{studentAdminController.messageParticipationEmpty == ''}">
									<p:panel styleClass="panelMainGraph" >	
										<p:chart type="line" 
											model="#{studentAdminController.modelParticipation}" 
											style="width:800px;height:350px;"/>
										<div class="divLinkDetailReg">
											<p:link styleClass="linkDetailReg" 
												value="¿Qué significa esta gráfica?" 
												href="http://apsys-manual-del-estudiante.readthedocs.org/es/latest/library/GenerateGraph/generateGraph.html#estructura-de-las-graficas"
												target="_blank">
											</p:link>
										</div>
									</p:panel>
								</c:if>
							</h:panelGrid>
						</p:tab>
						
						<p:tab title="PREDICCIÓN" id="tabPredictionParts" >
							<c:if test="#{studentAdminController.messageParticipationEmpty == ''}">
								<h:panelGrid columns="1" styleClass="gridSuggestion" >
									<p:panel styleClass="panelLeftPrediction">
										<h:panelGrid columns="1" styleClass="panelGraphMessages">
											<c:if test="#{studentAdminController.messageParticipationOne != ''}">
												<p:panel styleClass="messageOne">
													<h:outputText value="#{studentAdminController.messageParticipationOne}" >
													</h:outputText>
												</p:panel>
											</c:if>
											<c:if test="#{studentAdminController.parameters.participations != null}">
												<p:panel styleClass="panelMessajePrediction" >
													<c:if test="#{studentAdminController.messageParticipationComplete == ''}">
														<h:outputText value="#{studentAdminController.msgEvalLessPart} PARTICIPACIÓN#{studentAdminController.msgPart2}" />
														<h:outputText styleClass="outPrediction" 
															value="#{studentAdminController.parameters.participations.get(
															studentAdminController.parameters.participations.size()-1).qualificationParticipation}" >
															<f:convertNumber pattern="#0.00"></f:convertNumber>
														</h:outputText>
														<h:outputText value="#{studentAdminController.msgFinal}" />	
													</c:if>
													<c:if test="#{studentAdminController.messageParticipationComplete != ''}">
														<h:outputText value="#{studentAdminController.messageParticipationComplete}" />	
													</c:if>
												</p:panel>
										    </c:if>
										</h:panelGrid>
									</p:panel>
								</h:panelGrid> 
								<h:panelGrid columns="1" styleClass="gridSuggestion" >
									<p:panel styleClass="panelLeftPrediction">
										<p:panel styleClass="panelMessajePredictionMsj">
											<h:outputText value="Puedes revisar los "/>
											<h:outputText value="Parámetros de predicción " style="font-weight: bold;"/>
											<h:outputText value="para realizar ajustes. "/>
										</p:panel>
									</p:panel>
								</h:panelGrid>
							</c:if>	
						</p:tab>
							
						<p:tab title="MAS INFORMACIÓN" id="tabMoreDataParts" >
							<c:if test="#{studentAdminController.messageParticipationEmpty == ''}">
								<p:panel styleClass="paneRightConclusion">
									<c:choose>
										<c:when test="#{studentAdminController.participations.size() >= 1}">
												<p:panel styleClass="panelMessajeAverage" >
													<h:outputText value="PROMEDIO: " styleClass="textConclusionSuggestion"/>
													<h:outputText value="Promedio parcial en PARTICIPACIONES: "/>
		    										<h:outputText value="#{studentAdminController.averageReal}" style="font-weight: bold;">
		    											<f:convertNumber pattern="#0.00" />
		    										</h:outputText>
		    										<h:outputText value=" / 10.00" style="font-weight: bold;"/>
		    									</p:panel>	
		    								<c:if test="#{studentAdminController.messageParticipationFATAL == ''}">	
		    									<p:panel styleClass="panelMessajeConclusion" >
		    										<h:outputText value="CONCLUSIÓN: " styleClass="textConclusionSuggestion"/>	
		    										<h:outputText value="#{studentAdminController.suggestion1}" />
		    										<br/>
		    										<br/>
		    										<p:link href="http://www.educar.ec/servicios/regla_loei-6.html" 
		    										target="_blank" 
		    										styleClass="linkConclusion" 
		    										value="¿En qué se basa es esta conclusión?"></p:link>
												</p:panel>	
											</c:if>	
											<c:if test="#{studentAdminController.messageParticipationFATAL != ''}">
												<p:panel styleClass="messageFATAL">
													<h:outputText value="#{studentAdminController.messageParticipationFATAL}" style="color:white;"/>
												</p:panel>
											</c:if>
										</c:when>
									</c:choose>
								</p:panel>
							</c:if>
						</p:tab>
					</p:tabView>
				</p:tab>
			
			
				<!-- LABORATORIOS -->
	 			<p:tab title="RENDIMIENTO EN LABORATORIOS - TALLERES" id="tabGraphLabs">
					
					<p:tabView dynamic="true" 
								cache="false" 
								activeIndex="#{studentAdminController.activeTabIndexLabs}" 
								id="tabViewLabs">
						<f:param name="idParamSuggestion" value="laboratory"/>
						<p:ajax event="tabChange"
								listener="#{studentAdminController.viewDialogCustomized}" 
								update=":form:accordionParameters:tabViewLabs:tabMoreDataLabs" />
								
						<p:tab title="GRÁFICA" >
							<h:panelGrid columns="1" styleClass="gridGrapics">
								<c:if test="#{studentAdminController.messageLaboratoryEmpty != ''}">
									<p:panel styleClass="messageEmpty">	
									<h:outputText value="#{studentAdminController.messageLaboratoryEmpty}"/>
									</p:panel>
								</c:if>
								<c:if test="#{studentAdminController.messageLaboratoryEmpty == ''}">
									<p:panel styleClass="panelMainGraph" >	
										<p:chart type="line" 
											model="#{studentAdminController.modelLaboratory}" 
											style="width:800px;height:350px;"/>
										<div class="divLinkDetailReg">
											<p:link styleClass="linkDetailReg" 
												value="¿Qué significa esta gráfica?" 
												href="http://apsys-manual-del-estudiante.readthedocs.org/es/latest/library/GenerateGraph/generateGraph.html#estructura-de-las-graficas"
												target="_blank">
											</p:link>
										</div>
									</p:panel>
								</c:if>
							</h:panelGrid>
						</p:tab>
						
						<p:tab title="PREDICCIÓN" id="tabPredictionLabs" >
							<c:if test="#{studentAdminController.messageLaboratoryEmpty == ''}">
								<h:panelGrid columns="1" styleClass="gridSuggestion" >
									<p:panel styleClass="panelLeftPrediction">
										<h:panelGrid columns="1" styleClass="panelGraphMessages">
											<c:if test="#{studentAdminController.messageLaboratoryOne != ''}">
												<p:panel styleClass="messageOne">
													<h:outputText value="#{studentAdminController.messageLaboratoryOne}" >
													</h:outputText>
												</p:panel>
											</c:if>
											<c:if test="#{studentAdminController.parameters.laboratories != null}">
												<p:panel styleClass="panelMessajePrediction" >
													<c:if test="#{studentAdminController.messageLaboratoryComplete == ''}">
														<h:outputText value="#{studentAdminController.msgCwEcwLab} LABORATORIO - TALLER#{studentAdminController.msgPart2}" />
														<h:outputText styleClass="outPrediction" 
															value="#{studentAdminController.parameters.laboratories.get(
															studentAdminController.parameters.laboratories.size()-1).qualificationLaboratory}" >
															<f:convertNumber pattern="#0.00"></f:convertNumber>
														</h:outputText>
														<h:outputText value="#{studentAdminController.msgFinal}" />	
													</c:if>
													<c:if test="#{studentAdminController.messageLaboratoryComplete != ''}">
														<h:outputText value="#{studentAdminController.messageLaboratoryComplete}" />	
													</c:if>
												</p:panel>
										    </c:if>
										</h:panelGrid>
									</p:panel>
								</h:panelGrid> 
								<h:panelGrid columns="1" styleClass="gridSuggestion" >
									<p:panel styleClass="panelLeftPrediction">
										<p:panel styleClass="panelMessajePredictionMsj">
											<h:outputText value="Puedes revisar los "/>
											<h:outputText value="Parámetros de predicción " style="font-weight: bold;"/>
											<h:outputText value="para realizar ajustes. "/>
										</p:panel>
									</p:panel>
								</h:panelGrid>
							</c:if>	
						</p:tab>
							
						<p:tab title="MAS INFORMACIÓN" id="tabMoreDataLabs" >
							<c:if test="#{studentAdminController.messageLaboratoryEmpty == ''}">
								<p:panel styleClass="paneRightConclusion">
									<c:choose>
										<c:when test="#{studentAdminController.laboratories.size() >= 1}">
												<p:panel styleClass="panelMessajeAverage" >
													<h:outputText value="PROMEDIO: " styleClass="textConclusionSuggestion"/>
													<h:outputText value="Promedio parcial en LABORATORIOS - TALLERES: "/>
		    										<h:outputText value="#{studentAdminController.averageReal}" style="font-weight: bold;">
		    											<f:convertNumber pattern="#0.00" />
		    										</h:outputText>
		    										<h:outputText value=" / 10.00" style="font-weight: bold;"/>
		    									</p:panel>	
		    								<c:if test="#{studentAdminController.messageLaboratoryFATAL == ''}">	
		    									<p:panel styleClass="panelMessajeConclusion" >
		    										<h:outputText value="CONCLUSIÓN: " styleClass="textConclusionSuggestion"/>	
		    										<h:outputText value="#{studentAdminController.suggestion1}" />
		    										<br/>
		    										<br/>
		    										<p:link href="http://www.educar.ec/servicios/regla_loei-6.html" 
		    										target="_blank" 
		    										styleClass="linkConclusion" 
		    										value="¿En qué se basa es esta conclusión?"></p:link>
												</p:panel>	
											</c:if>	
											<c:if test="#{studentAdminController.messageLaboratoryFATAL != ''}">
												<p:panel styleClass="messageFATAL">
													<h:outputText value="#{studentAdminController.messageLaboratoryFATAL}" style="color:white;"/>
												</p:panel>
											</c:if>
										</c:when>
									</c:choose>
								</p:panel>
							</c:if>
						</p:tab>
					</p:tabView>
				</p:tab>
			
			</p:accordionPanel>
			
		 
			

		</h:form>
		</ui:define>
	</ui:composition>
</html>
