<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/WEB-INF/templates/template.xhtml">
	<ui:define name="title">
		<h:outputText value="Mis Materias" />
	</ui:define>
	<ui:define name="css">
		<link href="#{request.contextPath}/static/css/graphStyle.css" type="text/css" rel="stylesheet" />
	</ui:define>
	
	<ui:define name="menuBar">
		<p:menuitem action="#{studentAdminController.redirectStudentSelectData()}" 
					icon="icon-module"
					value="Seleccionar otro módulo"
					process="@this">
		</p:menuitem>	
		<c:if test="#{studentAdminController.isLoadMatter == 1}">
			<p:menuitem icon="icon-factor"
					action="#{studentAdminController.redirectViewDataFactorEdit()}"
					value="Parámetros de predicción"
					process="@this"/>
			<p:menuitem action="#{studentAdminController.redirectDetailReg}"
					icon="icon-rev-quality"
					value="Mis calificaciones"
					process="@this"/>
			<p:menuitem icon="icon-up"
					action="#{studentAdminController.redirectSuggestion}" 
					value="Mejorar mi rendimeinto"
					process="@this"/>
		</c:if>
	</ui:define>


	<ui:define name="content">
		
		
		
		
		<p:panel header="#{studentAdminController.matterName}" style="margin-top:5px;">	
			<h:form >
				<p:growl id="msgs" showDetail="true" life="6000" autoUpdate="true" />
					<p:panel styleClass="panelSelectMatter">
							<p:commandButton id="dynaButton" 
								value="Seleccionar una materia" 
								type="button" 
								icon="icon-open"/>
							<p:menu style="width:50%" 
								rendered="true" 
								overlay="true" 
								trigger="dynaButton" 
								my="left top" 
								at="left bottom">
								<p:submenu label="MATERIAS" rendered="true">	
									<c:forEach var="data" items="#{studentAdminController.listStudentMatter}" >
										<p:menuitem 
											value="#{data.matterName}" 
											action="#{studentAdminController.viewGraph()}" 
											rendered="true"
											style="padding-top:10px;"
											icon="icon-check"
											update=":panelGraph,msgs">
											
											<f:param name="matterSelect" value="#{data.idMatter}" />
											<f:param name="matterName" value="#{data.matterName}" />
										</p:menuitem>
									</c:forEach>	
								</p:submenu>
							</p:menu>
					</p:panel>
			
			</h:form>
			
			<p:panel style="width:100%;border:none;" id="panelGraph" >
				<ui:insert name="graph">
					
						<p:panel style="width:990px;height:550px;border: none;">
						
						
							<h:outputText value="Selecciona una materia empezar..." >
								
							</h:outputText>
							
						</p:panel>
				
				</ui:insert>
			</p:panel>
		</p:panel>
	</ui:define>
</ui:composition>

</html>