<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/WEB-INF/templates/template.xhtml">
	<ui:define name="title">
		<h:outputText value="Calificaciones detalladas" />
	</ui:define>
	
	<ui:define name="css">
	
		<link href="#{request.contextPath}/static/css/graphStyle.css" type="text/css" rel="stylesheet" />
		
	</ui:define>
	
	
	<ui:define name="menuBar">
		<p:menuitem action="#{studentAdminController.redirectStudentSelectData()}" 
					icon="icon-module"
					value="Seleccionar otro módulo"
					process="@this">
		</p:menuitem>	
		<p:menuitem action="#{studentAdminController.redirectGraph()}" 
	    			icon="icon-chart"
	    			value="Sección de Gráficas y predicción" 
	    			process="@this">
		</p:menuitem>
			    			
	</ui:define>
	
	
	<ui:define name="content">

	<h:form>
			<p:growl id="msgs" showDetail="true" life="4000" autoUpdate="true" />
			
			<p:panel header=" CALIFICACIONES EN #{studentAdminController.matterName}" style="margin-top: 5px;">
			   
			    
			    <p:tabView>
				    <p:tab title="RESUMEN CALIFICACIONES" >
					    <p:accordionPanel activeIndex="0">
					        
					        <p:tab title="EVALUACIONES" >
					            <c:if test="#{studentAdminController.eam2 != ''}">
						        	<p:panel styleClass="messageNoneData">
						            	<h:outputText value="#{studentAdminController.eam2}" styleClass="textNoneData"/>
						            </p:panel>
					            </c:if>
					            
					            <c:if test="#{studentAdminController.eam2 == ''}">
						            <h:panelGrid columns="2" cellpadding="10" styleClass="panelDataDetailQualify">
						               	
						                <p:dataTable var="data" 
													value="#{studentAdminController.evaluations}"
													selectionMode="single" 
													rowKey="#{data.idEvaluation}"
													scrollable="true"
													scrollHeight="250">
											<p:column headerText="Descripción" footerText="Descripción" styleClass="recorDetail1">
												<h:outputText  value="Evaluacion N° #{data.numEvaluation}"/>                 				
											</p:column>
											<p:column headerText="Referencia General" footerText="Referencia General" styleClass="recorDetail2">                  				
				                  				<h:outputText value="#{data.reference}" />
											</p:column>	
											<p:column headerText="Fecha" footerText="Fecha" styleClass="recorDetail3">                  				
				                  				<h:outputText value="#{data.dateEvaluation}" >
				                  					 <f:convertDateTime pattern="dd-MM-yyyy" />
				                  				</h:outputText>
											</p:column>
											<p:column headerText="Calificación" footerText="Calificación" styleClass="recorDetail4">                  				
				                  				<h:outputText rendered="#{data.qualificationEval ge 7}" 
				                  						value="#{data.qualificationEval}" >
				                  						<f:convertNumber pattern="#0.00"/>
				                  				</h:outputText>
				                  				
				                  				<h:outputText rendered="#{data.qualificationEval lt 7}" 
				                  						value="#{data.qualificationEval}" style="color:red;">
				                  						<f:convertNumber pattern="#0.00"/>
				                  				</h:outputText>
											</p:column>	
											<p:column headerText="Anotación Adicional" footerText="Anotación Adicional" styleClass="recorDetail5">                  				
				                  				<h:outputText value="#{data.annotation}" />
											</p:column>	
											
											
										</p:dataTable>      
						            </h:panelGrid>
						        </c:if>
					            <p:panel styleClass="panelParcialStudAverage">
					            	<h:outputText value="PROMEDIO PARCIAL DE EVALUACIONES: &nbsp;&nbsp;" />
					            	<h:outputText rendered="#{studentAdminController.evaluationPartialAverage ge 7}" value="#{studentAdminController.evaluationPartialAverage}" >
					            		<f:convertNumber pattern="#0.00"/>
					            	</h:outputText>
					            	
					            	<h:outputText rendered="#{studentAdminController.evaluationPartialAverage lt 7}" value="#{studentAdminController.evaluationPartialAverage}" style="color:red;" >
					            		<f:convertNumber pattern="#0.00"/>
					            	</h:outputText>
					            </p:panel>
					        </p:tab>
					        
				       		<p:tab title="LECCIONES">
						        <c:if test="#{studentAdminController.leam2 != ''}">
						        
							    	<p:panel styleClass="messageNoneData">
							        	<h:outputText value="#{studentAdminController.leam2}" styleClass="textNoneData"/>
							        </p:panel>
						        </c:if>
						        <c:if test="#{studentAdminController.leam2 == ''}">
						        <h:panelGrid columns="2" cellpadding="10" styleClass="panelDataDetailQualify">
						           
						                <p:dataTable var="data" 
													value="#{studentAdminController.lessons}"
													selectionMode="single" 
													rowKey="#{data.idLesson}"
													scrollable="true"
													scrollHeight="250">
											<p:column headerText="Descripción" footerText="Descripción" styleClass="recorDetail1">
												<h:outputText  value="Lección N° #{data.numLesson}"/>                 				
											</p:column>
											<p:column headerText="Referencia General" footerText="Referencia General" styleClass="recorDetail2">                  				
				                  				<h:outputText value="#{data.reference}" />
											</p:column>	
											<p:column headerText="Fecha" footerText="Fecha" styleClass="recorDetail3">                  				
				                  				<h:outputText value="#{data.dateLesson}" >
				                  					 <f:convertDateTime pattern="dd-MM-yyyy" />
				                  				</h:outputText>
											</p:column>
											<p:column headerText="Calificación" footerText="Calificación" styleClass="recorDetail4">                  				
				                  				<h:outputText rendered="#{data.qualificationLesson ge 7}" 
				                  					value="#{data.qualificationLesson}" >
				                  					<f:convertNumber pattern="#0.00"/>
				                  				</h:outputText>
											
												<h:outputText rendered="#{data.qualificationLesson lt 7}" 
													value="#{data.qualificationLesson}" style="color:red">
													<f:convertNumber pattern="#0.00"/>
												</h:outputText>
											</p:column>
											
												
											<p:column headerText="Anotación Adicional" footerText="Anotación Adicional" styleClass="recorDetail5">                  				
				                  				<h:outputText value="#{data.annotation}" />
											</p:column>		
										</p:dataTable>      
						            </h:panelGrid>
						             <p:panel styleClass="panelParcialStudAverage">
						            	<h:outputText value="PROMEDIO PARCIAL DE LECCIONES: &nbsp;&nbsp;" />
						            	<h:outputText rendered="#{studentAdminController.lessonPartialAverage ge 7}" 
						            			value="#{studentAdminController.lessonPartialAverage}" >
						            		<f:convertNumber pattern="#0.00"/>
						            	</h:outputText>
						            	
						            	<h:outputText rendered="#{studentAdminController.lessonPartialAverage lt 7}" 
						            			value="#{studentAdminController.lessonPartialAverage}" 
						            			style="color:red;">
						            		<f:convertNumber pattern="#0.00"/>
						            	</h:outputText>
						            	
						            	
						            </p:panel>
						        </c:if>
					        </p:tab>
					        
					        <p:tab title="TRABAJOS AUTÓNOMOS">
					        	
					        	<c:if test="#{studentAdminController.cwam2 != ''}">
						        	<p:panel styleClass="messageNoneData">
						        		<h:outputText value="#{studentAdminController.cwam2}" styleClass="textNoneData"/>
						        	</p:panel>
					        	</c:if>
					        	<c:if test="#{studentAdminController.cwam2 == ''}">
						        	<h:panelGrid columns="2" cellpadding="10" styleClass="panelDataDetailQualify">
						               
						                <p:dataTable var="data" 
													value="#{studentAdminController.classWorks}"
													selectionMode="single" 
													rowKey="#{data.idClassWork}"
													scrollable="true"
													scrollHeight="250">
													
											<p:column headerText="Descripción" footerText="Descripción" styleClass="recorDetail1">
												<h:outputText  value="Trabajo Autónomo N° #{data.numClassWork}"/>                 				
											</p:column>
											<p:column headerText="Referencia General" footerText="Referencia General" styleClass="recorDetail2">                  				
				                  				<h:outputText value="#{data.reference}" />
											</p:column>	
											<p:column headerText="Fecha" footerText="Fecha" styleClass="recorDetail3">                  				
				                  				<h:outputText value="#{data.dateClassWork}" >
				                  					 <f:convertDateTime pattern="dd-MM-yyyy" />
				                  				</h:outputText>
											</p:column>
											<p:column headerText="Calificación" footerText="Calificación" styleClass="recorDetail4">                  				
				                  				
				                  				<h:outputText rendered="#{data.qualificationClassWork ge 7}" 
				                  						value="#{data.qualificationClassWork}" >
				                  					<f:convertNumber pattern="#0.00"/>
				                  				</h:outputText>
				                  				
				                  				<h:outputText rendered="#{data.qualificationClassWork lt 7}" 
				                  						value="#{data.qualificationClassWork}" 
				                  						style="color:red">
				                  					<f:convertNumber pattern="#0.00"/>
				                  				</h:outputText>
				                  				
											</p:column>	
											<p:column headerText="Anotación Adicional" footerText="Anotación Adicional" styleClass="recorDetail5">                  				
				                  				<h:outputText value="#{data.annotation}" />
											</p:column>	
											
											
										</p:dataTable>      
						            </h:panelGrid>
						        
						             <p:panel styleClass="panelParcialStudAverage">
						            	<h:outputText value="PROMEDIO PARCIAL DE TRABAJOS AUTÓNOMOS: &nbsp;&nbsp;" />
						            	<h:outputText rendered="#{studentAdminController.classWorkPartialAverage ge 7}"
						            			value="#{studentAdminController.classWorkPartialAverage}" >
						            		<f:convertNumber pattern="#0.00"/>
						            	</h:outputText>
						            	
						            	<h:outputText rendered="#{studentAdminController.classWorkPartialAverage lt 7}" 
						            			value="#{studentAdminController.classWorkPartialAverage}" 
						            			style="color:red;">
						            		<f:convertNumber pattern="#0.00"/>
						            	</h:outputText>
						            </p:panel>
					             </c:if>
					        </p:tab>
					        
					         <p:tab title="DEBERES - TAREAS">
					         	<c:if test="#{studentAdminController.ecwam2 != ''}">
					         	
						         	<p:panel styleClass="messageNoneData">
						         		<h:outputText value="#{studentAdminController.ecwam2}" styleClass="textNoneData"/>
						         	</p:panel>
					         	</c:if>
					         	<c:if test="#{studentAdminController.ecwam2 == ''}">
						         	<h:panelGrid columns="2" cellpadding="10" styleClass="panelDataDetailQualify">
						               
						                <p:dataTable var="data" 
													value="#{studentAdminController.extraClassWorks}"
													selectionMode="single" 
													rowKey="#{data.idExtraClassWork}"
													scrollable="true"
													scrollHeight="250">
											<p:column headerText="Descripción" footerText="Descripción" styleClass="recorDetail1">
												<h:outputText  value="Tarea-Deber N° #{data.numExtraClassWork}"/>                 				
											</p:column>
											<p:column headerText="Referencia General" footerText="Referencia General" styleClass="recorDetail2">                  				
				                  				<h:outputText value="#{data.reference}" />
											</p:column>	
											<p:column headerText="Fecha" footerText="Fecha" styleClass="recorDetail3">                  				
				                  				<h:outputText value="#{data.dateExtraClassWork}" >
				                  					 <f:convertDateTime pattern="dd-MM-yyyy" />
				                  				</h:outputText>
											</p:column>
											<p:column headerText="Calificación" footerText="Calificación" styleClass="recorDetail4">                  				
				                  				<h:outputText rendered="#{data.qualificationExtraClassWork ge 7}" 
				                  						value="#{data.qualificationExtraClassWork}" >
				                  					<f:convertNumber pattern="#0.00"/>
				                  				</h:outputText>
				                  				
				                  				<h:outputText rendered="#{data.qualificationExtraClassWork lt 7}" 
				                  						value="#{data.qualificationExtraClassWork}" 
				                  						style="color:red">
				                  					<f:convertNumber pattern="#0.00"/>
				                  				</h:outputText>
											</p:column>	
											<p:column headerText="Anotación Adicional" footerText="Anotación Adicional" styleClass="recorDetail5">                  				
				                  				<h:outputText value="#{data.annotation}" />
											</p:column>	
											
											
										</p:dataTable>      
						            </h:panelGrid>
						             <p:panel styleClass="panelParcialStudAverage">
						            	<h:outputText value="PROMEDIO PARCIAL DE TAREAS-DEBERES: &nbsp;&nbsp;" />
						            	<h:outputText rendered="#{studentAdminController.extraClassWorkPartialAverage ge 7}" 
						            			value="#{studentAdminController.extraClassWorkPartialAverage}" >
						            		<f:convertNumber pattern="#0.00"/>
						            	</h:outputText>
						            	
						            	<h:outputText rendered="#{studentAdminController.extraClassWorkPartialAverage lt 7}" 
						            			value="#{studentAdminController.extraClassWorkPartialAverage}" 
						            			style="color:red;">
						            		<f:convertNumber pattern="#0.00"/>
						            	</h:outputText>
						            	
						            </p:panel>
					          	</c:if>
					        </p:tab>
					        
					         <p:tab title="PARTICIPACIONES EN CLASE">
					         	
					         	<c:if test="#{studentAdminController.pam2 != ''}">
						         	<p:panel styleClass="messageNoneData">
						         		<h:outputText value="#{studentAdminController.pam2}" styleClass="textNoneData" />
		         			        </p:panel>
	         			        </c:if>
	         			        
	         			        <c:if test="#{studentAdminController.pam2 == ''}">
		         			        <h:panelGrid columns="2" cellpadding="10" styleClass="panelDataDetailQualify">
						               
						                <p:dataTable var="data" 
													value="#{studentAdminController.participations}"
													selectionMode="single" 
													rowKey="#{data.idParticipation}"
													scrollable="true"
													scrollHeight="250">
													
											<p:column headerText="Descripción" footerText="Descripción" styleClass="recorDetail1">
												<h:outputText  value="Participación N° #{data.numParticipation}"/>                 				
											</p:column>
											<p:column headerText="Referencia General" footerText="Referencia General" styleClass="recorDetail2">                  				
				                  				<h:outputText value="#{data.reference}" />
											</p:column>	
											<p:column headerText="Fecha" footerText="Fecha" styleClass="recorDetail3">                  				
				                  				<h:outputText value="#{data.dateParticipation}" >
				                  					 <f:convertDateTime pattern="dd-MM-yyyy" />
				                  				</h:outputText>
											</p:column>
											<p:column headerText="Calificación" footerText="Calificación" styleClass="recorDetail4">                  				
				                  				<h:outputText rendered="#{data.qualificationParticipation ge 7}" 
				                  						value="#{data.qualificationParticipation}" >
				                  						<f:convertNumber pattern="#0.00"/>
				                  				</h:outputText>
				                  						
				                  				<h:outputText rendered="#{data.qualificationParticipation lt 7}" 
				                  						value="#{data.qualificationParticipation}" 
				                  						style="color:red">
				                  						<f:convertNumber pattern="#0.00"/>
				                  				</h:outputText>
											</p:column>	
											<p:column headerText="Anotación Adicional" footerText="Anotación Adicional" styleClass="recorDetail5">                  				
				                  				<h:outputText value="#{data.annotation}" />
											</p:column>	
											
											
										</p:dataTable>      
						            </h:panelGrid>
						             <p:panel styleClass="panelParcialStudAverage">
						            	<h:outputText value="PROMEDIO PARCIAL DE PARTICIPACIONES: &nbsp;&nbsp;" />
						            	<h:outputText rendered="#{studentAdminController.participationPartialAverage ge 7}" 
						            			value="#{studentAdminController.participationPartialAverage}" >
						            		<f:convertNumber pattern="#0.00"/>
						            	</h:outputText>
						            	
						            	<h:outputText rendered="#{studentAdminController.participationPartialAverage lt 7}" 
						            			value="#{studentAdminController.participationPartialAverage}" 
						            			style="color:red">
						            		<f:convertNumber pattern="#0.00"/>
						            	</h:outputText>
						            	
						            </p:panel>
						        </c:if>
					        </p:tab>
					        
					         <p:tab title="LABORATORIOS - TALLERES">
					         	
					         	<c:if test="#{studentAdminController.lam2 != ''}">
						         	<p:panel styleClass="messageNoneData">
						         		<h:outputText value="#{studentAdminController.lam2}" styleClass="textNoneData"/>
		         			        </p:panel>
	         			        </c:if>
	         			        <c:if test="#{studentAdminController.lam2 == ''}">
		         			        <h:panelGrid columns="2" cellpadding="10" styleClass="panelDataDetailQualify">
						               
						                <p:dataTable var="data" 
													value="#{studentAdminController.laboratories}"
													selectionMode="single" 
													rowKey="#{data.idLaboratory}"
													scrollable="true"
													scrollHeight="250">
											<p:column headerText="Descripción" footerText="Descripción" styleClass="recorDetail1">
												<h:outputText  value="Laboratorio-Taller N° #{data.numLaboratory}"/>                 				
											</p:column>
											<p:column headerText="Referencia General" footerText="Referencia General" styleClass="recorDetail2">                  				
				                  				<h:outputText value="#{data.reference}" />
											</p:column>	
											<p:column headerText="Fecha" footerText="Fecha" styleClass="recorDetail3">                  				
				                  				<h:outputText value="#{data.dateLaboratory}" >
				                  					 <f:convertDateTime pattern="dd-MM-yyyy" />
				                  				</h:outputText>
											</p:column>
											
											
											<p:column headerText="Calificación" footerText="Calificación" styleClass="recorDetail4">                  				
				                  				
				                  				<h:outputText rendered="#{data.qualificationLaboratory ge 7}" 
				                  						value="#{data.qualificationLaboratory}"  >
				                  						<f:convertNumber pattern="#0.00"/>
				                  				</h:outputText>
				                  				
				                  				<h:outputText rendered="#{data.qualificationLaboratory lt 7}" 
				                  						value="#{data.qualificationLaboratory}"  
				                  						style="color:red">
				                  						<f:convertNumber pattern="#0.00"/>
				                  				</h:outputText>
				                  				
											</p:column>	
											
											
											
											<p:column headerText="Anotación Adicional" footerText="Anotación Adicional" styleClass="recorDetail5">                  				
				                  				<h:outputText value="#{data.annotation}" />
											</p:column>	
											
											
										</p:dataTable>      
						            </h:panelGrid>
						            <p:panel styleClass="panelParcialStudAverage">
						            	<h:outputText value="PROMEDIO PARCIAL DE LABORATORIOS-TALLERES: &nbsp;&nbsp;" />
						            	<h:outputText rendered="#{studentAdminController.laboratoryPartialAverage ge 7}" 
						            			value="#{studentAdminController.laboratoryPartialAverage}" >
						            		<f:convertNumber pattern="#0.00"/>
						            	</h:outputText>
						            	
						            	<h:outputText rendered="#{studentAdminController.laboratoryPartialAverage lt 7}"
						            			value="#{studentAdminController.laboratoryPartialAverage}" 
						            			style="color:red;">
						            		<f:convertNumber pattern="#0.00"/>
						            	</h:outputText>
						            	
						            </p:panel>
						        </c:if>
					        </p:tab>
					        
					        
					        			        
					    </p:accordionPanel>	
						
					</p:tab>
					
					<p:tab title="PROMEDIOS FINALES" >
						<h:panelGrid columns="3" cellspacing="25">
							
							<c:if test="#{studentAdminController.eam2 == ''}">
								<h:outputText value="Promedio evaluaciones:" styleClass="averageC1"/>
								<h:outputText value="#{studentAdminController.evaluationAverage}" styleClass="averageC2">
									<f:convertNumber pattern="#0.00"/>
								</h:outputText>
								<h:panelGrid>
									<h:outputText value="#{studentAdminController.eam}" styleClass="averageC3"/>
									<h:outputText value="#{studentAdminController.eam3}" styleClass="averageC5"/>
								</h:panelGrid>
							</c:if>
							
							
							<c:if test="#{studentAdminController.leam2 == ''}">
								<h:outputText value="Promedio lecciones:" styleClass="averageC1"/>
									<h:outputText value="#{studentAdminController.lessonAverage}" styleClass="averageC2">
										<f:convertNumber pattern="#0.00"/>
									</h:outputText>
								<h:panelGrid>	
									<h:outputText value="#{studentAdminController.leam}" styleClass="averageC3"/>
									<h:outputText value="#{studentAdminController.leam3}" styleClass="averageC5"/>
								</h:panelGrid>
							</c:if>
							
							
							<c:if test="#{studentAdminController.cwam2 == ''}">
								<h:outputText value="Promedio trabajos autónomos:" styleClass="averageC1"/>
									<h:outputText value="#{studentAdminController.classWorkAverage}" styleClass="averageC2">
										<f:convertNumber pattern="#0.00"/>
									</h:outputText>
								<h:panelGrid>
									<h:outputText value="#{studentAdminController.cwam}" styleClass="averageC3"/>
									<h:outputText value="#{studentAdminController.cwam3}" styleClass="averageC5"/>
								</h:panelGrid>
							</c:if>
							
							
							<c:if test="#{studentAdminController.ecwam2 == ''}">
								<h:outputText value="Promedio deberes - tareas:" styleClass="averageC1"/>
								<h:outputText value="#{studentAdminController.extraClassWorkAverage}" styleClass="averageC2">
									<f:convertNumber pattern="#0.00"/>
								</h:outputText>
								<h:panelGrid>
									<h:outputText value="#{studentAdminController.ecwam}" styleClass="averageC3"/>
									<h:outputText value="#{studentAdminController.ecwam3}" styleClass="averageC5"/>
								</h:panelGrid>
							</c:if>
							
							
							<c:if test="#{studentAdminController.pam2 == ''}">
								<h:outputText value="Promedio participaciones:" styleClass="averageC1"/>
								<h:outputText value="#{studentAdminController.participationAverage}" styleClass="averageC2">
									<f:convertNumber pattern="#0.00"/>
								</h:outputText>
								<h:panelGrid>
									<h:outputText value="#{studentAdminController.pam}" styleClass="averageC3"/>
									<h:outputText value="#{studentAdminController.pam3}" styleClass="averageC5"/>
								</h:panelGrid>
							</c:if>
							
							
							<c:if test="#{studentAdminController.lam2 == ''}">
								<h:outputText value="Promedio laboratorios - talleres:" styleClass="averageC1"/>
								<h:outputText value="#{studentAdminController.laboratoryAverage}" styleClass="averageC2">
									<f:convertNumber pattern="#0.00"/>
								</h:outputText>
								<h:panelGrid>
									<h:outputText value="#{studentAdminController.lam}" styleClass="averageC3"/>
									<h:outputText value="#{studentAdminController.lam3}" styleClass="averageC5"/>
								</h:panelGrid>
							</c:if>
							
							
							<c:choose>
								<c:when test="#{(studentAdminController.eam2 == '') ||
								(studentAdminController.leam2 == '') ||
								(studentAdminController.cwam2 == '') ||
								(studentAdminController.ecwam2 == '') ||
								(studentAdminController.pam2 == '') ||
								(studentAdminController.lam2 == '')}" >
							
							
									<c:if test="#{studentAdminController.totalAverage ge 7}">
										<h:outputText value="TOTAL (hasta la fecha):" styleClass="averageC1"/>
										<h:outputText value="#{studentAdminController.totalAverage}" styleClass="averageFinal">
											<f:convertNumber pattern="#0.00"/>
										</h:outputText>
										<h:panelGrid>
											<h:outputText value="/&nbsp;&nbsp; 10" styleClass="averageFinal"/>
										</h:panelGrid>
									</c:if>
									
									
									<c:if test="#{studentAdminController.totalAverage lt 7}">
										<h:outputText value="TOTAL (hasta la fecha):" styleClass="averageC1"/>
										<h:outputText value="#{studentAdminController.totalAverage}" styleClass="averageFinal2">
											<f:convertNumber pattern="#0.00"/>
										</h:outputText>
										<h:panelGrid>
											<h:outputText value="/&nbsp;&nbsp; 10" styleClass="averageFinal2"/>
										</h:panelGrid>
									</c:if>
							
								</c:when>
								<c:otherwise>
									<p:panel styleClass="messageNoneData">
							        	<h:outputText value="- Aun no se han subido calificaciones -" styleClass="textNoneData"/>
							        </p:panel>
								</c:otherwise>
							</c:choose>
							
							
							
						</h:panelGrid>
					</p:tab>
				
				
				</p:tabView>
		    </p:panel>		
		</h:form>


	</ui:define>
</ui:composition>
</html>