<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/WEB-INF/templates/template.xhtml">
	<ui:define name="title">
		<h:outputText value="Datos iniciales" />
	</ui:define>

	<ui:define name="content">
		<h:form>
			<p:growl id="msgs" showDetail="true" life="4000" autoUpdate="true" />

	<h:panelGrid columns="1" styleClass="gridSelectModule">
			<p:panel header="SELECCIONE SU MÓDULO ACTUAL"
				styleClass="panelStudentSelectData">
				<h:panelGrid columns="1" width="100%" styleClass="gridTextCreateNew">
                    	<h:outputText styleClass="textFormat" 
                    	value="* Seleccione sus datos académicos empezando por la Oferta Académica"/>
                    </h:panelGrid>  
				<h:panelGrid columns="2" cellpadding="10">
					
					<p:outputLabel for="oneMenuAcademicOffer" value="Oferta Académica:" />
                   
                        <p:selectOneMenu id="oneMenuAcademicOffer"
                                         value="#{studentSelectorController.offer}" style="width:250px">
                            
                            <p:ajax listener="#{studentSelectorController.loadListCareer()}"
                                    update="@form" />
                            
                            <f:selectItem itemLabel="-Seleccione-" 
                            			itemValue=""
                                        noSelectionOption="true" />
                                        
                            <f:selectItems value="#{studentSelectorController.listAcademicOffer}" />
                        </p:selectOneMenu>

                        <p:outputLabel for="oneMenuCareer" value="Careera: " />
                        <p:selectOneMenu id="oneMenuCareer"
                                         value="#{studentSelectorController.career}" style="width:250px">
                            <p:ajax listener="#{studentSelectorController.loadModulesParallel()}"
                                    update="@form" />
                            
                            <f:selectItem itemLabel="-Seleccione-" 
                            			itemValue=""
                                        noSelectionOption="true" />
                            
                            <f:selectItems value="#{studentSelectorController.listCareer}" />
                        </p:selectOneMenu>
                        
                        <p:outputLabel for="oneMenuModules" value="Módulo: " />
                        
						 <p:selectOneMenu id="oneMenuModules"
                                         value="#{studentSelectorController.moduleParallel}" 
                                         style="width:250px">

                            <p:ajax update="@form"> 

                            </p:ajax>

                            <f:selectItem itemLabel="-Seleccione-" itemValue=""
                                          noSelectionOption="true" />
                            <f:selectItems value="#{studentSelectorController.listModulesParallel}" />

                        </p:selectOneMenu>
						 <br/>
						<p:commandButton value="Continuar" 
							id="btnCont"
							icon="icon-next"
							action="#{studentAdminController.renderStudentMain()}" process="@form">
							
							<f:param name="offerSelect" value="#{studentSelectorController.offer}" />
                            <f:param name="careerSelect" value="#{studentSelectorController.career}" />
							<f:param name="moduleSelect" value="#{studentSelectorController.moduleParallel}" />
								
						</p:commandButton>
				
				</h:panelGrid>	
			</p:panel>
				</h:panelGrid>
		</h:form>

	</ui:define>
</ui:composition>
</html>