<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:composition template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="title">
		<h:outputText value="Biblioteca" />
	</ui:define>
	
	<ui:define name="menuBar">
		<p:menuitem action="#{studentAdminController.redirectStudentSelectData()}" 
					icon="icon-module"
					value="Seleccionar otro módulo"
					process="@this">
		</p:menuitem>	
		<p:menuitem action="#{studentAdminController.redirectGraph()}" 
	    			icon="icon-chart"
	    			value="Sección de Gráficas y predicción" 
	    			process="@this">
		</p:menuitem>
			    			
	</ui:define>
		
		
	<ui:define name="content">
		<h:form>
			<p:growl id="msgs" showDetail="true" life="4000" autoUpdate="true" />
			 <p:panel styleClass="panelSuggestionMain" >
			    	
 					<p:panel header="Biblioteca de información para mejorar el rendimeinto académico "  styleClass="panelSuggestionInfo">
 						
 						<p:accordionPanel activeIndex="#{studentAdminController.suggestionActiveIndex}">
 							<p:tab title="Paginas Web">
 								<c:forEach var="i" step="1" begin="0" end="#{studentAdminController.listReferenceWebPage.size()-1}"  >
 									<p:panel styleClass="panelDataSuggestionList" >
	 									<p:link href="#{studentAdminController.listReferenceWebPage.get(i).location}"  
	 										value="#{studentAdminController.listReferenceWebPage.get(i).name}" 
	 										target="_blank" 
	 										styleClass="linkSuggestion">
	 									</p:link>
 									</p:panel>
 								</c:forEach>
 							</p:tab>
 							
 							
 							<p:tab title="Blogs">
 								<c:forEach var="i" step="1" begin="0" end="#{studentAdminController.listReferenceBlog.size()-1}"  >
 									<p:panel styleClass="panelDataSuggestionList" >
	 									<p:link href="#{studentAdminController.listReferenceBlog.get(i).location}"  
	 										value="#{studentAdminController.listReferenceBlog.get(i).name}" 
	 										target="_blank" 
	 										styleClass="linkSuggestion">
	 									</p:link>
 									</p:panel>
 								</c:forEach>
 							</p:tab>
 							
 							<p:tab title="Videos">
 								<c:forEach var="i" step="1" begin="0" end="#{studentAdminController.listReferenceVideo.size()-1}"  >
 									<p:panel styleClass="panelDataSuggestionList" >
	 									<p:link href="#{studentAdminController.listReferenceVideo.get(i).location}"  
	 										value="#{studentAdminController.listReferenceVideo.get(i).name}" 
	 										target="_blank" 
	 										styleClass="linkSuggestion">
	 									</p:link>
 									</p:panel>
 								</c:forEach>
 							</p:tab>
 						
 							<p:tab title="Noticias">
 								<c:forEach var="i" step="1" begin="0" end="#{studentAdminController.listReferenceNews.size()-1}"  >
 									<p:panel styleClass="panelDataSuggestionList" >
	 									<p:link href="#{studentAdminController.listReferenceNews.get(i).location}"  
	 										value="#{studentAdminController.listReferenceNews.get(i).name}" 
	 										target="_blank" 
	 										styleClass="linkSuggestion">
	 									</p:link>
 									</p:panel>
 								</c:forEach>
 							</p:tab>
 							
 							<p:tab title="Test">
 								<c:forEach var="i" step="1" begin="0" end="#{studentAdminController.listReferenceTestIQ.size()-1}"  >
 									<p:panel styleClass="panelDataSuggestionList" >
	 									<p:link href="#{studentAdminController.listReferenceTestIQ.get(i).location}"  
	 										value="#{studentAdminController.listReferenceTestIQ.get(i).name}" 
	 										target="_blank" 
	 										styleClass="linkSuggestion">
	 									</p:link>
 									</p:panel>
 								</c:forEach>
 							</p:tab>
 							
 							
 						</p:accordionPanel>
 						
 					</p:panel>
 				</p:panel>
			</h:form>
		</ui:define>
	</ui:composition>
	
	
</html>