body {
	font-size: 80%;
	background-color: #A4BBBE;
}

.formMenuMatter {
	padding-top: 80px;
	position: relative;
	float: left;
	
}

.gridPdf{
	margin: 0 auto 0 auto;
	width:90%;
	text-align: right;
	padding-right: 50px;
	border: none;
}


.linkTestIQ:LINK{ 
	font-size:11px;
	text-decoration: none; 
   	color: #0000FF; 
   	
} 

.linkTestIQ:VISITED {  
	font-size:11px;
   	text-decoration: none; 
   	color: #0000FF; 
} 

.linkTestIQ:HOVER {        
      font-size:11px;
    text-decoration: underline;  
    /*color: #04B404; */
    color: #0000FF;  
    background: #c0c0c0;
} 



.divGraph {
	margin-left: 40px;
	padding-top: 40px;
	float: left;
	
}

.panelCentral {

	position: absolute;
	top: 50%;
	left: 50%;
	width: 380px;
	margin-left: -200px;
	height: 170px;
	margin-top: -150px;
	border: 1px solid #808080;
	padding: 5px;
	border-radius: 4px;
	font-size: 15px; 
}

.menu {
	vertical-align: top;
}

.bg {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
}

.divButtonQualify {
	margin-top: 30px;
	position: relative;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	/*border: 1px solid #808080;*/
	padding: 5px;
	border-radius: 4px;
	font-size: 17px;
	text-align: center;
}


.simpleLink:HOVER {
	color: green;
}

.panelStudentSelectModule {
	margin-top: 30px;
	position: relative;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	/*border: 1px solid #808080;*/
	padding: 5px;
	border-radius: 4px;
	font-size: 17px;
	text-align: center;
}

.divBtnContinue {
	padding-top: 30px;
}

.oneMenuIndv {
	margin-top: 20px;
}

.divLinkDetailReg {
	text-align: center;
}

.panelGraph {
	position: relative;
}

.divTextGraph {
	width: 600px;
	height: 500px;
}

.ui-panel-titlebar {
	text-align: center;
}



.ui-panel-title {
	color: #305F6D;
	text-shadow: 5px 5px 5px #a4a4a4;
	font-size: 16PX;
}


.gridTextCreateNew{
	text-align: left;
	padding-left: 15px;
	padding-bottom: 10px;
}

.panelTextConfig{
	text-align: left;
	padding-left: 80px;
	border: none;
}
.divBtnDetailReturn {
	padding-top: 10px;
	padding-bottom: 15px;
	text-align: center;
}

.titleTableData {
	color: #305F6D;
	text-shadow: 5px 5px 5px #a4a4a4;
	font-size: 16PX;
}

.divButtonNewReg {
	padding-bottom: 20px;
	padding-top: 10px;
	position: relative;
	width: 90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.panelSelectAcademicData {
	margin-top: 15px;
	width: 420px;
	position: relative;
	text-align: center;
	margin: 0 auto 0 auto;
}

.divBtnSelectMatter {
	margin: 0 auto 0 auto;
	padding-bottom: 20px;
	padding-top: 10px;
	text-align: center;
	
}

.panelQualificationData {
	margin-top:5px;
	width: 100%;
}


.tableGeneralQualify {
	margin-top: 20px;
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: none;
	padding: 5px;
	border-radius: 5px;
	background: #AFD8EB;
	height: 300px;
}

.panelDataNewQualify {
	border: none;
	margin-left: 10px;
	border-radius: 5px;
	width: 50%;
	background: #d6d6d6;
	padding-left: 10px;
	
}

.panelDataNewQualify2 {
	border: none;
	margin-left: 10px;
	border-radius: 5px;
	width: 40%;
	background: #d6d6d6;
	
}
.panelDataAverageQualify {
	border: none;
	margin-left: 10px;
	border-radius: 5px;
	width: 50%;
	text-align: left;
	background: #e4e4e4;
}


.textDetail{
	width: 180px;
	font-weight: bold;
	font-size: 14px;
}
.txtBold{
	font-weight: bold;
}
.textDetail2{
	font-weight: bold;
	color: #0B3B0B;
}

.textDetail3{
	
	font-weight: bold;
	font-size: 14px;
}

.textDetail4{
	text-align: justify;
}
.panelDataDetailQualify {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	border: none;
	border-radius: 5px;
	text-align: center;
	background: #cce6f2;
}

.outPutQualifyDetail {
	font-size: 16px;
	font-weight: bold;
	color: #0B3B17;
}
.outPutQualifyDetail2 {
	font-size: 16px;
	font-weight: bold;
	color: #ff0000;
}
.columnAverage1 {
	width: 10px;
}

.columnAverage2 {
	width: 250px;
}

.columnAverage3 {
	width: 40px;
}

.columnAverage4 {
	width: 60px;
	font-size: 15px;
	font-weight: bold;
	color: #088A08;
}

.columnAverage5 {
	width: 80px;
	font-weight: bold;
	color: #0101DF;
}

.columnDetail1 {
	width: 30%;
	color: #08298A;
	font-weight: bold;
}

.columnDetail2 {
	width: 10%;
	color: #0B3B0B;
	font-weight: bold;
}

.columnDetail3 {
	width: 60%;
	text-align: justify;
}



.outNumberParam {
	padding-left:20px;
	font-size: 20px;
	font-weight: bold;
}

.headerTableEdit {
	color: #305F6D;
	text-shadow: 5px 5px 5px #a4a4a4;
	font-size: 16PX;
}

.gridBtnOptionsQualifyNew {
	padding-top: 5px;
	padding-bottom: 10px;
	margin: 0 auto 0 auto;
	width: 50%;
}

.gridBtnOptionsQualifyEdit {
	padding-top: 20px;
	padding-bottom: 10px;
	margin: 0 auto 0 auto;
	text-align: center;
	width: 75%;
}

.outputNewQaulify {
	font-size: 18px;
	font-weight: bold;
}

.outputNewQaulify2 {
	font-size: 18px;
	font-weight: bold;
	color: red;
}
.inputNewQaulify {
	font-size: 18px;
	font-weight: bold;
	width: 50%
}

.outputEditQaulify {
	font-size: 18px;
	font-weight: bold;
}

.outputEditQaulify2 {
	font-size: 18px;
	font-weight: bold;
	color: red;
}

.inputEditQaulify {
	font-size: 18px;
	font-weight: bold;
	width: 50%
}

.inputAllQaulify{
	font-size: 18px;
	font-weight: bold;
	width: 98%;
	text-align: center;
	
}
.tableSelectMatters {
	margin-top: 5px;
	position: relative;
	width: 98%;
	background: #AFD8EB;
	margin-left: auto;
	margin-right: auto;
	/*border: 2px solid #144385;*/
	padding: 8px;
	border-radius: 5px;
	height: 360px;
}
/*
.gridOptionSaveInline{
	background: #AFD8EB;
	margin: 25px 80px 0 auto;
	border-radius: 2px;
	
}
*/


.gridBtnOptionsQualify {
	
	padding-top: 5px;
	padding-bottom: 5px;
	background: #AFCAEB;
	margin: 5px auto 0 auto;
	width: 70%;
	border-radius:5px;
}

.column1 {
	width: 10px;
}

.column2 {
	width: 250px;
	text-align: left;
}

.column3 {
	width: 100px;
	font-weight: bold;
}

/*configuraciones*/
.configNumber {
	width: 50px;
	font-size: 18px;
	font-weight: bold;
}

.configPercentage {
	width: 70px;
}

.panelConfigurations {
	margin: 5px auto 0 auto;
	width: 100%;
	
}

.divReturn1{
	text-align: right;
	margin-right: 150px;
	padding-top:20px ;
	padding:20px ;
}

.gridConfigurationParam{
	text-align: left;
	margin: 0 auto 0 auto;
}

.panelC1{
	margin-top:-20px;
	border:none;
	width:20px;

}
.panelC2{
	margin-top:-20px;
	border:none;
	width:280px;
}
.panelC3{
	margin-top:-20px;
	border:none;
	width:80px
}
.panelC4{
	margin-top:-20px;
	border:none;
	text-align:left;
	width:160px;
}
.panelC5{
	margin-top:-20px;
	border:none;
	width:100px;
}
.panelC6{
	margin-top:-20px;
	border:none;
	width:120px;
}
.panelC7{
	margin-top:-20px;
	border:none;
	width:130px;
}

.gridButtonSaveConf{
	
	width:100%;
	text-align:left;
	padding-left: 30%;
	padding-bottom: 20px;
}
.panelConf{
	border: none;
}
.panelConfigNumPerc{
	border:none;
	width: 90%;
	
	margin: 0 auto 0 auto;
	
}

.panelParcialStudAverage{
	
	margin-top: 7px;
	border: none;
	font-size: 30px;
	font-weight: bold;
	text-align: right;
	padding-right:50px;
	margin-left: 30px;
	margin-right: 30px;
	background: #dddddd;
	
}
.panelMainConf{
	
	width: 98%;
	margin: 5px auto 0 auto;
	text-align: center;
}

.gridBtnOptionsConf {
	text-align: center;
	margin: 0 auto 0 auto;
	width: 60%;
}

.gridConfigurations {
	margin-left: auto;
	margin-right: auto;
}

.recorDetail1 {
	width: 20%;
	color: #08298A;
	font-weight: bold;
}

.recorDetail2 {
	width: 30%;
	text-align: justify; 
}

.recorDetail3 {
	width: 13%;
	color: #0B6121;
}

.recorDetail4 {
	font-weight: bold;
	width: 7%;
}


.recorDetail5 {
	width: 30%;
	text-align: justify;
}

.usernameStyle {
	font-weight: bold;
	color: #0B0B61;
}

.textAverage {
	font-weight: bold;
}

.averageC1 {
	color: #0B0B61;
	font-weight: bold;
}

.averageC2 {
	font-size: 20px;
	font-weight: bold;
}

.averageC3 {
	color: #0B610B;
}

.averageC4 {
	color: #ff0000;
}

.averageC5 {
	color: #088A85;
}

.averageFinal {
	font-size: 23px;
	font-weight: bold;
	color: #0101DF;
}

.averageFinal2 {
	font-size: 23px;
	font-weight: bold;
	color: #ff0000;
}

.tableAverageFinal {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: none;
	padding: 3px;
	border-radius: 5px;
	background: #c0c0c0;
	height: 440px;
}

.averageF1{
	
}
.averageF2{
	color: #000000;
}
.averageF3{
	color: #000080;
	font-weight: bold;
	font-size: 18px;
}
.averageF4{
	color: #ff0000;
	font-weight: bold;
	font-size: 18px;
}

.msgNone {
	border-radius:5px;
	color: #305A6B;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding-top: 50px;
	padding-bottom: 50px;
	/*height: 300px;*/
	background: #AFD9EB;
	margin: 0 auto 0 auto;
}

.msgDetail {
	color: #FF0000;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 20px;
}

.gridSelectModule{
	margin: 20px auto 0 auto;
}

.copy{
	text-decoration: underline; 
   	color: #ddfffd; 
}
.copy:HOVER {
	text-decoration: none;   
    color: #04B404; 
    background: #c0c0c0;
}


.divSuggestion{
	position: absolute;
	 top: 50%; 
	 left: 75%;
	 transform: translate(-50%, -50%);
	
}

.panelSuggestionMain{
	width:98%; 
	border:none;
	margin: 5px auto 0 auto;
	text-align: right;
	/*background: #B4DAEA;*/
}

.divBtnSuggestionReturn{
	border: none;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	
}

.panelSuggestionInfo{
	border:none;
	 width:90%;
	 margin: 0 auto 15px auto;
	 text-align: left;
}

.panelDataSuggestionList{
	margin:5px 5px 5px auto;
	border:none;
	background: #98FCB4;
}

.linkSuggestion:LINK{ 
	text-decoration: none; 
   	color: #0000FF; 
} 

.linkSuggestion:VISITED {  
   	text-decoration: none; 
   	color: #0000FF; 
} 

.linkSuggestion:HOVER {        
      
    text-decoration: underline;  
    /*color: #04B404; */
    color: #0000FF;  
    background: #c0c0c0;
} 


.linkHelp:LINK{ 
	text-decoration: none; 
   	color: #000000; 
} 

.linkHelp:VISITED {  
   	text-decoration: none; 
   	color: #0000FF; 
} 

.linkHelp:HOVER {        
      
    /*text-decoration: underline; */ 
    /*color: #04B404; */
    color: #ffffff;  
    background: #2647A0;
    border-radius:3px;
} 
.panelMessagesFactors{

	text-align: left;
	border: none;
}
.textFormat{
	color: green;
	font-size: 10px;
}
.textFormat2{
	font-size: 10px;
}
.panelBtnSaveFactors{
	padding-top:20px;
	padding-bottom:20px;
	margin:2px auto 2px auto; 
	text-align:center;
}
.gridFactorMain{
	width:100%;
}
.header1{
	padding-top:5px;
	padding-left:20px;
	padding-bottom:5px;
	border-radius:5px;
	text-align:left;
	background: #673ab7;
	color: #ffffff;
	font-size: 16PX;
}
.header2{
	padding-top:5px;
	padding-left:20px;
	padding-bottom:5px;
	border-radius:5px;
	text-align:left;
	background:  #009688;
	color: #ffffff;
	font-size: 16PX;
}
.header3{
	padding-top:5px;
	padding-left:20px;
	padding-bottom:5px;
	border-radius:5px;
	text-align:left;
	background: #607d8b;
	color: #ffffff;
	font-size: 16PX;
}
.gridNewFactors{
	margin-top: 20px;
	width: 70%;
}
.gridFactor1{
	
	margin-top:20px;
	margin-bottom:20px;
	text-align: left;
}
.gridFactor2{
	margin-top:20px;
	margin-bottom:20px;
	text-align: left;
	padding-left: 20px;
}

#footer {
	text-align: center;
	padding-top: 10px;
	clear: both;
}

#divButtonTerminateQualify {
	padding-bottom: 10px;
	padding-right: 10px;
	text-align: center;
	padding-top: 20px;
	position: relative;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}


#columnCommand {
	color: red;
}




