.ui-panel .panelMainGraph{
	width:840px;
	margin-bottom: 20px;
	border: 2px solid;
	border-color: #144385;
}



.panelSelectMatter{
	width:40%;
	border:none;
	border-radius:5px;
	margin:0 auto 0 auto;
	text-align: center;
	background: #a9d3d3;
}


.gridGrapics{
	margin: 0 auto 0 auto;
	text-align: center;
}
.panelGraphMessagesMain{
	width:98%;
	height:415px;
	margin-bottom: 20px;

	border: 2px solid;
	
	border-color: #144385;
}

.jqplot-table-legend{
	color: black;
}

.panelGraphMessages{
		/*height:200px;*/
border: none;
		
}

.dlgFormat{
	width: 100px;
	background: aqua;
}
.jqplot-title{
	color: black;
	text-shadow: 5px 5px 5px #A49EE8;
	font-size: 18PX;
	
}

.btnReturn{
	text-align: right;
	border: none;
}

/*link detalle calificaciones*/

.divLinkDetailReg{
	padding-top: 20px;
	 
}
.linkDetailReg:LINK{ 
	text-decoration: none; 
   	color: #0000FF; 
   	
} 

.linkDetailReg:VISITED {  
   	text-decoration: none; 
   	color: #0000FF; 
} 

.linkDetailReg:HOVER {        
      
    text-decoration: underline;  
    /*color: #04B404; */
    color: #0000FF;  
    background: #c0c0c0;
} 


.linkConclusion:HOVER {
	font-size: 11px;
	text-decoration: underline;  
    color: #0000FF;  
    background: #c0c0c0;
}

.linkConclusion:VISITED {
	font-size: 11px;
	text-decoration: none; 
   	color: #0000FF; 
}
.linkConclusion:LINK {
	font-size: 11px;
	text-decoration: none; 
   	color: #0000FF; 	
}

.messageNone{
	font-weight:bold;
	color: red;
}
.messageEmpty{
	font-weight:bold;
	margin: 1% 20% 1% 20%;;
	border:none;
	border-radius:5px;
	background: #cddc39;
}

.messageOK{
	margin-top: 10px;
	color: green;
	text-align: center;
	
	
}

.messageFATAL{
	margin-top: 25px;
	border:none;
	border-radius:5px;
	background: #f44336;
	
}

.textParamNone{
	color: white;
}
.messageNoneData{
	text-align:center;
	font-weight: bold;
	margin: 1% 20% 1% 20%;;
	border:none;
	border-radius:5px;
	background:#f44336;
}
.textNoneData{
	color: white;
	font-weight: bold;
	font-size: 20px;
}
.messageOne{
	margin-top:10px;
	border:none;
	background: #D7F0F5;
}
.containerSuggestion{
	border:none;
	width:80%; 
	text-align: justify;
	margin: 0 auto 0 auto;
}
.gridSuggestion{
	width:95%;
	margin: 0 auto 0 auto;
	/*height:320px;
	border: 2px solid;
	border-radius:5px;
	border-color: #144385;*/
}
.panelMessajeSuggestion{
	border:none;
	border-radius: 5px;
	background: #CBFBE5;
}


.panelLeftPrediction{
	border:none;
	width:80%; 
	text-align: justify;
	margin: 0 auto 0 auto;
}

.paneRightConclusion{
	border:none;
	width:80%; 
	text-align: justify;
	margin: 0 auto 0 auto;
}
.panelMessajePrediction{
	
	/*background: #ffcb97;*/
	background: #added9;
	border:none;
	
}
.panelMessajePredictionMsj{
	/*background: #D7F0F5;*/
	background:#80ff80;
	border:none;
	
}
.panelMessajeAverage{
	
		border:none;
	/*background: #B9F1B9;*/
	background: #e0c1ff;
}
.panelMessajeConclusion{
	margin-top:20px;
	border:none;
	background: #fff176;	
}

.textConclusionSuggestion{
	font-weight: bold;
	
}
.divLinkQulifications{
	padding-top: 20px;
	padding-left: 10px;
}

.outPrediction{
	font-size:18px;
	font-weight: bold;
}

.ui-panel .panel_format{
	border:none;
}
