.ui-widget .icon-login{
	background-image: url("../images/icons/login.png");	
}

.ui-widget .icon-next{
	background-image: url("../images/icons/next.png");
}

.ui-widget .icon-matter{
	margin-left:10px;
	background-image: url("../images/icons/matter.png");
}

.ui-widget .icon-none{
	background-image: url("../images/icons/none.png");
}


.ui-widget .icon-pdf{
	background-image: url("../images/icons/pdf.png");
}

.ui-widget .icon-exit{
	background-image: url("../images/icons/exit.png");
}

.ui-widget .icon-chart{
	margin-left:10px;
	background-image: url("../images/icons/chart.png");
}

.ui-widget .icon-open{
	background-image: url("../images/icons/open.png");
}

.ui-widget .icon-up{
	margin-left:10px;
	background-image: url("../images/icons/up.png");
}
.ui-widget .icon-factor{
	margin-left:10px;
	background-image: url("../images/icons/factors.png");
}
.ui-widget .icon-check{
	background-image: url("../images/icons/check.png");
}

.ui-widget .icon-check-new{
	padding-right:5px;
	background-image: url("../images/icons/check3.png");
}

.ui-widget .icon-conf-new{
	padding-right:5px;
	background-image: url("../images/icons/check.png");
}

.ui-widget .icon-back{
	background-image: url("../images/icons/back.png");
}
.ui-widget .icon-back2{
	background-image: url("../images/icons/back2.png");
}
.ui-widget .icon-select{
	background-image: url("../images/icons/select.png");
}
.ui-widget .icon-module{
	margin-left:10px;
	padding-right:5px;
	background-image: url("../images/icons/module.png");
}
.ui-widget .icon-help{
	margin-left:10px;
	background-image: url("../images/icons/help.png");
}
.ui-widget .icon-data-go{
	background-image: url("../images/icons/data-go.png");
}
.ui-widget .icon-new-reg{
	margin-left:10px;
	background-image: url("../images/icons/new-reg.png");
}

.ui-widget .icon-qualify{
	background-image: url("../images/icons/qualify.png");
}
.ui-widget .icon-detail{
	margin-left:10px;
	background-image: url("../images/icons/detail.png");
}

.ui-widget .icon-config{
	margin-left:10px;
	background-image: url("../images/icons/config.png");
}

.ui-widget .icon-new-qualify{
	background-image: url("../images/icons/new-qualify.png");
}

.ui-widget .icon-edit-qualify{
	background-image: url("../images/icons/edit-qualify.png");
}

.ui-widget .icon-detail-qualify{
	background-image: url("../images/icons/detail-qualify.png");
}

.ui-widget .icon-save{
	background-image: url("../images/icons/save.png");
}
.ui-widget .icon-cancel{
	background-image: url("../images/icons/cancel.png");
}
.ui-widget .icon-delete{
	background-image: url("../images/icons/delete.png");
}
.ui-widget .icon-create{
	background-image: url("../images/icons/create.png");
}
.ui-widget .icon-performance{
	background-image: url("../images/icons/performance.png");
}
.ui-widget .icon-rev-quality{
	margin-left:10px;
	background-image: url("../images/icons/rev-quality.png");
}

.ui-widget .icon-suggestion{
	background-image: url("../images/icons/suggestion.png");
}


.ui-widget .icon-trash{
	background-image: url("../images/icons/trash.png");
}

/*
.ui-state-default .icon-trash{
	background-image: url("../images/icons/trash.png");
}*/