<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="/WEB-INF/templates/template.xhtml">
	<ui:define name="title">
		<h:outputText value="Administracion" />
	</ui:define>
	
	
	<ui:define name="menuBar">
		<p:menuitem  value="Añadir Nuevo Registro"
					icon="icon-new-reg"
					action="#{teacherAdminController.newRegistration()}" 
					process="@this"/>
			
		
			    			
	</ui:define>
	<ui:define name="content">
			<h:form id="formSelectMatters">
				<p:growl id="msgs" showDetail="true" life="4000" autoUpdate="true" />
				
			<h:panelGrid columns="2" cellpadding="4" style="margin-top: 10px;" id="gridSelectModule">
				
				
                <p:panel header="Seleccione su Módulo" style="width:100%;height:380px" >
                    <h:panelGrid columns="1" style="width:100%;" cellspacing="6">
 
                        <p:outputLabel for="oneMenuAcademicOffer" value="Oferta Académica: " />
                        <p:selectOneMenu id="oneMenuAcademicOffer"
                        				style="width:220px;"
                                         value="#{teacherAdminController.offer}" 
                                         filter="true" 
                                         filterMatchMode="startsWith">

                            <f:selectItem itemLabel="-Seleccione-" 
                            				itemValue=""
                                          noSelectionOption="true" />
                            <f:selectItems value="#{teacherAdminController.listAcademicOffer}" />
                        </p:selectOneMenu>

                        <p:outputLabel for="oneMenuCareer" value="Careera: " />
                        <p:selectOneMenu id="oneMenuCareer"
                        				 style="width:220px;"
                                         value="#{teacherAdminController.career}" 
                                         filter="true"
                                         filterMatchMode="startsWith">
                                         
                            <f:selectItem itemLabel="-Seleccione-" 
                            			itemValue=""
                                        noSelectionOption="true" />
                            <f:selectItems value="#{teacherAdminController.listCareer}" />
                        </p:selectOneMenu>

                        <p:outputLabel for="oneMenuModules" value="Modulo: " />
                        <p:selectOneMenu id="oneMenuModules"
                        				style="width:220px;"
                                         value="#{teacherAdminController.moduleParallel}" 
                                         filter="true" 
                                         filterMatchMode="startsWith">

                            <f:selectItem itemLabel="-Seleccione-" 
                            			itemValue=""
                                          noSelectionOption="true" />
                            <f:selectItems value="#{teacherAdminController.listModulesParallel}" />

                        </p:selectOneMenu>
                        <br/>
                        <br/>
                        <p:commandButton id="btnRet" 
                        				value="Recuperar datos"
                        				icon="icon-data-go"
                        				iconPos="e"
                                        action="#{teacherAdminController.loadDataTableMatters()}" 
                                        process="@form" 
                                        update=":formSelectMatters:panelData,msgs"
                                        >

                        </p:commandButton>
                    </h:panelGrid>
                </p:panel>
 
				
				<p:panel style="width:99%;height:380px;" id="panelData">
				
				<p:dataTable  var="moduleTeacherMatterIndv"
					value="#{teacherAdminController.listTeacherModuleMatters}" 
					id="dataTableMatters"
					scrollable="true" scrollHeight="310">
					<f:facet name="header" >
						<div class="titleTableData">
          					MIS MATERIAS
          				</div>
        			</f:facet>
        			
        			<!--  
					<p:column headerText="idOffer">
                    	<h:outputText value="#{moduleTeacherMatterIndv.idOffer}" />
					</p:column>
					<p:column headerText="idCareera">
                    	<h:outputText value="#{moduleTeacherMatterIndv.idCareer}" />
					</p:column>
					<p:column headerText="idModulo">
                    	<h:outputText value="#{moduleTeacherMatterIndv.idModule}" />
					</p:column>
					<p:column headerText="idMateria">
                    	<h:outputText value="#{moduleTeacherMatterIndv.idMatter}" />
					</p:column>
					
                    <p:column headerText="Oferta Académica">
                    	<h:outputText value="#{moduleTeacherMatterIndv.academicOffer}" />
					</p:column>
					<p:column headerText="Careera">
                    	<h:outputText value="#{moduleTeacherMatterIndv.careerName}" />
					</p:column>
					<p:column headerText="Módulo">
                    	<h:outputText value="#{moduleTeacherMatterIndv.moduleNumber}" />
					</p:column>
					<p:column headerText="Paralelo">
						<h:outputText value="#{moduleTeacherMatterIndv.parallel}" />
					</p:column> -->
					<p:column headerText="Módulo - Paralelo" style="width:15%;text-align:center">
                    	<h:outputText value="#{moduleTeacherMatterIndv.moduleNumber} - #{moduleTeacherMatterIndv.parallel}" />
					</p:column>
					
					<p:column headerText="Materia" style="width:40%; font-weight: bold;">
						<h:outputText value="#{moduleTeacherMatterIndv.matterName}" />
					</p:column>

					<p:column style="margin:0 auto 0 auto; width:13%;">

						<p:commandButton value="Calificar"
							icon="icon-qualify"
							action="#{teacherAdminController.loadParametersQualification()}">
                             
                            <f:param name="offerStr" value="#{moduleTeacherMatterIndv.academicOffer}" />
                            <f:param name="careerStr" value="#{moduleTeacherMatterIndv.careerName}" />
							<f:param name="moduleStr" value="#{moduleTeacherMatterIndv.moduleNumber}" />
							<f:param name="parallelStr" value="#{moduleTeacherMatterIndv.parallel}" />
							<f:param name="matterStr" value="#{moduleTeacherMatterIndv.matterName}" />
							
                            
                            <f:param name="offerSelect" value="#{moduleTeacherMatterIndv.idOffer}" />
                            <f:param name="careerSelect" value="#{moduleTeacherMatterIndv.idCareer}" />
							<f:param name="moduleSelect" value="#{moduleTeacherMatterIndv.idModule}" />
							<f:param name="matterSelect" value="#{moduleTeacherMatterIndv.idMatter}" />
							
							<f:param name="teacherIC" value="#{moduleTeacherMatterIndv.teacherIC}"/>
						</p:commandButton>

					</p:column>
					
				
					<p:column style="margin:0 auto 0 auto; width:13%;" >

						<p:commandButton value="Promedios"
							icon="icon-detail"
							action="#{teacherAdminController.loadDetailAverageMatter()}">
							
                            <f:param name="offerStr" value="#{moduleTeacherMatterIndv.academicOffer}" />
                            <f:param name="careerStr" value="#{moduleTeacherMatterIndv.careerName}" />
							<f:param name="moduleStr" value="#{moduleTeacherMatterIndv.moduleNumber}" />
							<f:param name="parallelStr" value="#{moduleTeacherMatterIndv.parallel}" />
							<f:param name="matterStr" value="#{moduleTeacherMatterIndv.matterName}" />
							
                            
                            <f:param name="offerSelect" value="#{moduleTeacherMatterIndv.idOffer}" />
                            <f:param name="careerSelect" value="#{moduleTeacherMatterIndv.idCareer}" />
							<f:param name="moduleSelect" value="#{moduleTeacherMatterIndv.idModule}" />
							<f:param name="matterSelect" value="#{moduleTeacherMatterIndv.idMatter}" />
							<f:param name="teacherIC" value="#{moduleTeacherMatterIndv.teacherIC}"/>
						</p:commandButton>

					</p:column>
					
					
					<p:column style="margin:0 auto 0 auto; width:19%;" >

						<p:commandButton value="Configuraciones"
							icon="icon-config"
							action="#{teacherAdminController.loadConfiguration()}">
							
							<f:param name="offerStr" value="#{moduleTeacherMatterIndv.academicOffer}" />
                            <f:param name="careerStr" value="#{moduleTeacherMatterIndv.careerName}" />
							<f:param name="moduleStr" value="#{moduleTeacherMatterIndv.moduleNumber}" />
							<f:param name="parallelStr" value="#{moduleTeacherMatterIndv.parallel}" />
							<f:param name="matterStr" value="#{moduleTeacherMatterIndv.matterName}" />
							
                            
                         
                            <f:param name="offerSelect" value="#{moduleTeacherMatterIndv.idOffer}" />
                            <f:param name="careerSelect" value="#{moduleTeacherMatterIndv.idCareer}" />
							<f:param name="moduleSelect" value="#{moduleTeacherMatterIndv.idModule}" />
							<f:param name="matterSelect" value="#{moduleTeacherMatterIndv.idMatter}" />
							<f:param name="teacherIC" value="#{moduleTeacherMatterIndv.teacherIC}"/>
						</p:commandButton>

					</p:column>
				</p:dataTable>
				</p:panel>
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>