<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/WEB-INF/templates/template.xhtml">
	<ui:define name="title">
		<h:outputText value="Calificar Estudiantes" />
	</ui:define>

	<ui:define name="menuBar">	
		
		<p:menuitem  value="Seleccionar materia"
							icon="icon-matter"
							action="#{teacherAdminController.returnAdmin()}" 
							process="@this"/>
		<p:menuitem value="Calificaciones" 
	    			icon="icon-qualify"
	    			action="#{teacherAdminController.newLoadParametersQualification()}" 
	    			process="@this"/>	
	</ui:define>
	

	<ui:define name="content">
	<h:form id="formMatterAverage" style="padding-top:5px;">
			<p:growl id="msgs" showDetail="true" life="4000" autoUpdate="true" />
			
			<p:panel header="#{teacherAdminController.tableTitle}" >
			    
			    
			    <p:accordionPanel activeIndex="0">
					 <p:tab title="PROMEDIOS GENERALES">
					 	<p:panel styleClass="gridPdf">
						 	<p:commandButton title="Generar pdf" 
						 			immediate="true"
						 			actionListener="#{teacherAdminController.exportPDF}"
						 			icon="icon-pdf"
						 			ajax="false">
						 	
						 	</p:commandButton>
					 	</p:panel>
			            <h:panelGrid columns="1" cellpadding="10">
			                <h:form>
			                <p:dataTable styleClass="tableAverageFinal" 
								var="stud"
								selectionMode="single" 
								rowKey="#{stud.rowCount}"
								value="#{teacherAdminController.listStudentSpecific}"
								scrollable="true"
								scrollWidth="98%" 
								scrollHeight="360"
								>
								
								<p:column headerText="N°" 
									style="width:4%" >
									<h:outputText value="#{stud.rowCount}" />
								</p:column>
								
								<p:column headerText="Estudiante" 
									style="width:29%;"  >
									<h:outputText value="#{stud.studentName}" styleClass="averageF1"/>
								</p:column>
								
								<p:column headerText="Evaluaciones #{teacherAdminController.msgEval}" 
									style="width:10%;text-align: center;" >
									<h:outputText value="#{stud.averageEval}" styleClass="averageF2">
										<f:convertNumber pattern="#0.00" />
									</h:outputText>
								</p:column>
								
								
								<c:if test="#{teacherAdminController.msgLess != ''}">
									<p:column headerText="Lecciones #{teacherAdminController.msgLess}" 
										style="width:10%;text-align: center;" >
										<h:outputText value="#{stud.averageLess}" styleClass="averageF2">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
									</p:column>
								</c:if>
								
								<c:if test="#{teacherAdminController.msgCW != ''}">
									<p:column headerText="Trabajos Autónomos #{teacherAdminController.msgCW}" 
										style="width:10%;text-align: center;" >
										<h:outputText value="#{stud.averageCW}" styleClass="averageF2">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
									</p:column>
								</c:if>
								
								<c:if test="#{teacherAdminController.msgECW != ''}">
									<p:column headerText="Deberes - Tareas #{teacherAdminController.msgECW}" 
										style="width:10%;text-align: center;">
										<h:outputText value="#{stud.averageECW}" styleClass="averageF2">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
									</p:column>
								</c:if>
								
								<c:if test="#{teacherAdminController.msgPart != ''}">
									<p:column headerText="Participaciones #{teacherAdminController.msgPart}" 
										style="width:10%;text-align: center;">
										<h:outputText value="#{stud.averagePart}" styleClass="averageF2">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
									</p:column>
								</c:if>
								
								<c:if test="#{teacherAdminController.msgLab != ''}">
									<p:column headerText="Laboratorios-Talleres #{teacherAdminController.msgLab}" 
										style="width:10%;text-align: center;">
										<h:outputText value="#{stud.averageLab}" styleClass="averageF2">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
									</p:column>
								</c:if>
								
								<p:column headerText="TOTAL" 
									
									style="width:7%;text-align: center;">
									
									
									<h:outputText rendered="#{stud.total ge 7}" value="#{stud.total}" styleClass="averageF3" >
										<f:convertNumber pattern="#0.00" />
									</h:outputText>
								
								
									<h:outputText rendered="#{stud.total lt 7}" value="#{stud.total}" styleClass="averageF4" >
										<f:convertNumber pattern="#0.00" />
									</h:outputText>
									
									
								</p:column>
								
								</p:dataTable>
			                
			                </h:form>
			                
	                 
			            </h:panelGrid>
			        </p:tab> 
			        
			             <p:tab title="INFORMACIÓN GENERAL">
			            <h:panelGrid columns="2" cellpadding="10">
			               <p:outputLabel for="outputPeriod" value="Oferta Académica: " styleClass="textAverage"/>
			               <h:outputText id="outputPeriod" value="#{teacherAdminController.offerStr}"/>
			               
			               <p:outputLabel for="outputCareer" value="Carrera: " styleClass="textAverage"/>
			               <h:outputText id="outputCareer" value="#{teacherAdminController.careerStr}"/>
			          
			               
			               <p:outputLabel for="outputModule" value="Módulo:" styleClass="textAverage"/>
			               <h:outputText id="outputModule" value="#{teacherAdminController.moduleStr}"/>
			               
			               <p:outputLabel for="outputParallel" value="Paralelo:" styleClass="textAverage"/>
			               <h:outputText id="outputParallel" value="#{teacherAdminController.parallelStr}"/>
			               
			               <p:outputLabel for="outputMatter" value="Materia:" styleClass="textAverage"/>
			               <h:outputText id="outputMatter" value="#{teacherAdminController.matterStr}"/>
			               
			               	<p:outputLabel for="startDateMatter" value="Fecha Inicio de Actividades: " styleClass="textAverage"/>
	        				<h:outputText id="startDateMatter" value="#{teacherAdminController.startOffer}">
	        					 <f:convertDateTime pattern="dd/MM/yyyy" />
	        				</h:outputText>
                        
                        
                        	<p:outputLabel for="endDateMatter" value="Fecha Culminación de Actividades: " styleClass="textAverage"/>
                        	<h:outputText id="endDateMatter" value="#{teacherAdminController.endOffer}">
                        		 <f:convertDateTime pattern="dd/MM/yyyy" />
                        	</h:outputText>
	        				
			            </h:panelGrid>
			        </p:tab>
			    </p:accordionPanel>	
		    </p:panel>		
		</h:form>

	</ui:define>
</ui:composition>
</html>
