<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/WEB-INF/templates/template.xhtml">
	<ui:define name="title">
		<h:outputText value="Configuraciones" />
	</ui:define>

	<ui:define name="menuBar">	
		
		<p:menuitem value="Seleccionar materia"
			icon="icon-matter"
			action="#{teacherAdminController.returnAdmin()}" 
			process="@this"/>

		<p:menuitem value="Calificaciones" 
   			icon="icon-qualify"
   			action="#{teacherAdminController.newLoadParametersQualification()}" 
   			process="@this"/>	
	    		
	</ui:define>
	
	<ui:define name="content">
	

	<h:form id="formMatterAverage">
			<p:growl id="msgs" showDetail="true" life="6000" autoUpdate="true" />
			
			<p:panel header="#{teacherAdminController.tableTitle}" styleClass="panelConfigurations">
				
				
				<p:panel header="CANTIDAD DE PARÁMETROS A EVALUAR CON SUS PORCENTAJES" styleClass="panelConfigNumPerc">
					<p:panel styleClass="panelTextConfig">
						<h:outputText styleClass="textFormat" value="* Puede especificar 0 en caso de que no se vaya a tomar en cuenta un parámetro"/>
						<br/>
						<h:outputText styleClass="textFormat" value="* El total de porcentajes debe ser siempre 100%"/>
						
					</p:panel>
					
					<h:panelGrid columns="1" cellpadding="10" width="100%" style="margin: 0 auto -60px auto;">
						
						
						<h:panelGrid columns="7"  width="100%"  styleClass="gridConfigurationParam" >
							<p:panel styleClass="panelC1">
								 <h:outputText styleClass="ui-icon icon-conf-new"/>
							</p:panel>
							<p:panel styleClass="panelC2">
								<h:outputText value="Cantidad de evaluaciones &nbsp;&nbsp;"/>
					        </p:panel>
					        <p:panel styleClass="panelC3">
						        <p:spinner min="1" 
					            	max="50" 
					            	size="2"
					            	onkeypress="return false"
					            	value="#{teacherAdminController.evaluationNumber}">
					               <p:ajax event="blur" 
					               		listener="#{teacherAdminController.onSpinnerRefresh()}" 
					               		process="@this"/>
					            </p:spinner>
					        </p:panel>
					        <p:panel styleClass="panelC4">
								<h:outputText value="&nbsp;&nbsp;con un peso de &nbsp;"/>
					        </p:panel>
					        <p:panel styleClass="panelC5">
						        <p:inputText id="outputEvalPerc" value="#{teacherAdminController.evaluationPerc}" styleClass="configPercentage">
						        	<f:validator validatorId="decimalValidator"/>
						        	<f:validator validatorId="percentageValidator"/>
						        	<p:ajax event="blur" update="outEval,outTotal,total,percentage"/>
						        </p:inputText>
					        </p:panel>
					        <p:panel styleClass="panelC6">
						        <h:panelGrid columns="3">
						        	<h:outputText value="&nbsp;&nbsp;(" styleClass="txtBold"/>
									<h:outputText value="#{teacherAdminController.evaluationPerc * 100}" id="outEval" styleClass="txtBold">
										<f:convertNumber pattern="#0.00" />
									</h:outputText> 
									<h:outputText value="%)" styleClass="txtBold"/>
								</h:panelGrid>
							</p:panel>
							<p:panel styleClass="panelC7">
								<h:outputText value="&nbsp;a la nota final"/>
							</p:panel>
						</h:panelGrid>
						
						
					
					
						<h:panelGrid columns="7" width="100%" styleClass="gridConfigurationParam">
							<p:panel styleClass="panelC1" id="p2">
								<c:if test="#{teacherAdminController.lessonNumber != 0}">
									<h:outputText styleClass="ui-icon icon-conf-new"/>
								</c:if>
								<c:if test="#{teacherAdminController.lessonNumber == 0}">
									<h:outputText styleClass="ui-icon icon-none"/>
								</c:if>
							</p:panel>
							<p:panel styleClass="panelC2">
								<h:outputText value="Cantidad de lecciones &nbsp;&nbsp;"/>
			         		</p:panel>
			         		<p:panel styleClass="panelC3">
					        	 <p:spinner min="0" 
					            	max="50" 
					            	size="2"
					            	onkeypress="return false"
					            	value="#{teacherAdminController.lessonNumber}">
					               <p:ajax event="blur" 
					               		listener="#{teacherAdminController.onSpinnerRefresh()}" 
					               		update="p2"
					               		process="@this"/>
					            </p:spinner>
				        	</p:panel>
				        	<p:panel styleClass="panelC4">
								<h:outputText value="&nbsp;&nbsp;con un peso de &nbsp;"/>
							</p:panel>
							<p:panel styleClass="panelC5">
						        <p:inputText id="outputLessPerc" value="#{teacherAdminController.lessonPerc}" styleClass="configPercentage">
					        		<f:validator validatorId="decimalValidator"/>
					        		<f:validator validatorId="percentageValidator"/>
					        		<p:ajax event="blur" update="outLess,outTotal,total,percentage"/>
					        	</p:inputText>
				        	</p:panel>
				        	<p:panel styleClass="panelC6">
						        <h:panelGrid columns="3">
						        	<h:outputText value="&nbsp;&nbsp;(" styleClass="txtBold"/>
									<h:outputText value="#{teacherAdminController.lessonPerc * 100}" id="outLess" styleClass="txtBold">
										<f:convertNumber pattern="#0.00" />
									</h:outputText>
									<h:outputText value="%)" styleClass="txtBold"/>
								</h:panelGrid>
							</p:panel>
							<p:panel styleClass="panelC7">
								<h:outputText value="&nbsp;a la nota final" />
							</p:panel>
						</h:panelGrid>
						
						
						<h:panelGrid columns="7" width="100%" styleClass="gridConfigurationParam">
							<p:panel styleClass="panelC1" id="p3">
								<c:if test="#{teacherAdminController.classWorkNumber != 0}">
									<h:outputText styleClass="ui-icon icon-conf-new"/>
								</c:if>
								<c:if test="#{teacherAdminController.classWorkNumber == 0}">
									<h:outputText styleClass="ui-icon icon-none"/>
								</c:if>
							</p:panel>
							<p:panel styleClass="panelC2">
								<h:outputText value="Cantidad de trabajos autónomos &nbsp;&nbsp;"/>
			         		</p:panel>
			         		<p:panel styleClass="panelC3">
				         	
					        	<p:spinner min="0" 
					            	max="50" 
					            	size="2"
					            	onkeypress="return false"
					            	value="#{teacherAdminController.classWorkNumber}">
					               <p:ajax event="blur" 
					               		listener="#{teacherAdminController.onSpinnerRefresh()}" 
					               		update="p3"
					               		process="@this"/>
					            </p:spinner>
				        	</p:panel>
							<p:panel styleClass="panelC4">
								<h:outputText value="&nbsp;&nbsp;con un peso de &nbsp;"/>
					        </p:panel>
					        <p:panel styleClass="panelC5">
						        <p:inputText id="outputCWPerc" value="#{teacherAdminController.classWorkPerc}" styleClass="configPercentage">
									<f:validator validatorId="decimalValidator"/>
					        		<f:validator validatorId="percentageValidator"/>
					        		<p:ajax event="blur" update="outCW,outTotal,total,percentage"/>
					        	</p:inputText>
				        	</p:panel>
				        	<p:panel styleClass="panelC6">
						        <h:panelGrid columns="3">
						        	<h:outputText value="&nbsp;&nbsp;(" styleClass="txtBold"/>
									<h:outputText value="#{teacherAdminController.classWorkPerc * 100}" id="outCW" styleClass="txtBold">
										<f:convertNumber pattern="#0.00" />
									</h:outputText>
									<h:outputText value="%)" styleClass="txtBold"/>
								</h:panelGrid>
							</p:panel>
							<p:panel styleClass="panelC7">
								<h:outputText value="&nbsp;a la nota final"/>
							</p:panel>
						</h:panelGrid>
						
						
						<h:panelGrid columns="7" width="100%" styleClass="gridConfigurationParam">
							<p:panel styleClass="panelC1" id="p4">
								<c:if test="#{teacherAdminController.extraClassWorkNumber != 0}">
									<h:outputText styleClass="ui-icon icon-conf-new"/>
								</c:if>
								<c:if test="#{teacherAdminController.extraClassWorkNumber == 0}">
									<h:outputText styleClass="ui-icon icon-none"/>
								</c:if>
							</p:panel>
							<p:panel styleClass="panelC2">
								<h:outputText value="Cantidad de deberes - tareas &nbsp;&nbsp;"/>
							</p:panel>
							<p:panel styleClass="panelC3">
				         		
					        	<p:spinner min="0" 
					            	max="50" 
					            	size="2"
					            	onkeypress="return false"
					            	value="#{teacherAdminController.extraClassWorkNumber}">
					               <p:ajax event="blur" 
					               		listener="#{teacherAdminController.onSpinnerRefresh()}" 
					               		update="p4"
					               		process="@this"/>
					            </p:spinner>
				        	</p:panel>
				        	<p:panel styleClass="panelC4">
								<h:outputText value="&nbsp;&nbsp;con un peso de &nbsp;"/>
							</p:panel>
							<p:panel styleClass="panelC5">
						        <p:inputText id="outputECWPerc" value="#{teacherAdminController.extraClassWorkPerc}" styleClass="configPercentage">
									<f:validator validatorId="decimalValidator"/>
					        		<f:validator validatorId="percentageValidator"/>
					        		<p:ajax event="blur" update="outECW,outTotal,total,percentage"/>
					        	</p:inputText>
				        	</p:panel>
				        	<p:panel styleClass="panelC6">
						      	<h:panelGrid columns="3">
						        	<h:outputText value="&nbsp;&nbsp;(" styleClass="txtBold"/>
									<h:outputText  value="#{teacherAdminController.extraClassWorkPerc * 100}" id="outECW" styleClass="txtBold">
										<f:convertNumber pattern="#0.00" />
									</h:outputText>
									<h:outputText value="%)" styleClass="txtBold"/>
								</h:panelGrid>
							</p:panel>
							<p:panel styleClass="panelC7">
								<h:outputText value="&nbsp;a la nota final"/>
							</p:panel>
						</h:panelGrid>	
						
						<h:panelGrid columns="7" width="100%" styleClass="gridConfigurationParam">
							<p:panel styleClass="panelC1" id="p5">
								<c:if test="#{teacherAdminController.participationNumber != 0}">
									<h:outputText styleClass="ui-icon icon-conf-new"/>
								</c:if>
								<c:if test="#{teacherAdminController.participationNumber == 0}">
									<h:outputText styleClass="ui-icon icon-none"/>
								</c:if>
							</p:panel>
							<p:panel styleClass="panelC2">
								<h:outputText value="Cantidad de participaciones en clase &nbsp;&nbsp;"/>
			         		</p:panel>
			         		<p:panel styleClass="panelC3">
				         		
					        	<p:spinner min="0" 
					            	max="50" 
					            	size="2"
					            	onkeypress="return false"
					            	value="#{teacherAdminController.participationNumber}">
					               <p:ajax event="blur" 
					               		listener="#{teacherAdminController.onSpinnerRefresh()}" 
					               		update="p5"
					               		process="@this"/>
					            </p:spinner>
							</p:panel>
							<p:panel styleClass="panelC4">
								<h:outputText value="&nbsp;&nbsp;con un peso de &nbsp;"/>
					        </p:panel>
					        <p:panel styleClass="panelC5">
						        <p:inputText id="outputPartPerc" value="#{teacherAdminController.participationPerc}" styleClass="configPercentage">
									<f:validator validatorId="decimalValidator"/>
					        		<f:validator validatorId="percentageValidator"/>
					        		<p:ajax event="blur" update="outPart,outTotal,total,percentage"/>
					        	</p:inputText>
				        	</p:panel>
				        	<p:panel styleClass="panelC6">
						        <h:panelGrid columns="3">
						        	<h:outputText value="&nbsp;&nbsp;(" styleClass="txtBold"/>
									<h:outputText value="#{teacherAdminController.participationPerc * 100}" id="outPart" styleClass="txtBold">
										<f:convertNumber pattern="#0.00" />
									</h:outputText>
									<h:outputText value="%)" styleClass="txtBold"/>
								</h:panelGrid>
							</p:panel>
							<p:panel styleClass="panelC7">
								<h:outputText value="&nbsp;a la nota final"/>
							</p:panel>
						</h:panelGrid>
						
						
						<h:panelGrid columns="7" width="100%" styleClass="gridConfigurationParam">
							<p:panel styleClass="panelC1" id="p6">
								<c:if test="#{teacherAdminController.laboratoryNumber != 0}">
									<h:outputText styleClass="ui-icon icon-conf-new"/>
								</c:if>
								<c:if test="#{teacherAdminController.laboratoryNumber == 0}">
									<h:outputText styleClass="ui-icon icon-none"/>
								</c:if>
							</p:panel>
							<p:panel styleClass="panelC2">
								<h:outputText value="Cantidad de talleres-laboratorios &nbsp;&nbsp;"/>
			         		</p:panel>
			         		<p:panel styleClass="panelC3">
				         		
					        	<p:spinner min="0" 
					            	max="50" 
					            	size="2"
					            	onkeypress="return false"
					            	value="#{teacherAdminController.laboratoryNumber}">
					               <p:ajax event="blur" 
					               		listener="#{teacherAdminController.onSpinnerRefresh()}" 
					               		update="p6"
					               		process="@this"/>
					            </p:spinner>
							</p:panel>
							<p:panel styleClass="panelC4">
								<h:outputText value="&nbsp;&nbsp;con un peso de &nbsp;"/>
					        </p:panel>
					        <p:panel styleClass="panelC5">
						        <p:inputText id="outputLabPerc" value="#{teacherAdminController.laboratoryPerc}" styleClass="configPercentage">
									<f:validator validatorId="decimalValidator"/>
					        		<f:validator validatorId="percentageValidator"/>
					        		<p:ajax event="blur" update="outLab,outTotal,total,percentage"/>
					        	</p:inputText>
					        </p:panel>
					        <p:panel styleClass="panelC6">
						        <h:panelGrid columns="3">
						        	<h:outputText value="&nbsp;&nbsp;(" styleClass="txtBold"/>
									<h:outputText value="#{teacherAdminController.laboratoryPerc * 100}" id="outLab" styleClass="txtBold">
										<f:convertNumber pattern="#0.00" />
									</h:outputText>
									<h:outputText value="%)" styleClass="txtBold"/>
								</h:panelGrid>
							</p:panel>
							<p:panel styleClass="panelC7">
								<h:outputText value="&nbsp;a la nota final"/>
							</p:panel>
						</h:panelGrid>
						
						<p:panel style="text-align:right;font-weight: bold;font-size:20px;border: none;padding-right:80px;">
						
						
						
							<c:if test="#{(teacherAdminController.evaluationPerc * 100) +
								(teacherAdminController.lessonPerc * 100) +
								(teacherAdminController.classWorkPerc * 100) +
								(teacherAdminController.extraClassWorkPerc * 100) +
								(teacherAdminController.participationPerc * 100) +
								(teacherAdminController.laboratoryPerc * 100) != 100}" >
								<h:outputText value="(debe ser 100%) TOTAL:&nbsp;&nbsp;" style="font-weight: bold;color: red;" id="total"/>
								<h:outputText value="#{(teacherAdminController.evaluationPerc * 100) +
										(teacherAdminController.lessonPerc * 100) +
										(teacherAdminController.classWorkPerc * 100) +
										(teacherAdminController.extraClassWorkPerc * 100) +
										(teacherAdminController.participationPerc * 100) +
										(teacherAdminController.laboratoryPerc * 100)}" id="outTotal" style="font-weight: bold;color: red;">
											<f:convertNumber pattern="#0.00" />
								</h:outputText>
								<h:outputText value="&nbsp;%" style="font-weight: bold;color: red;" id="percentage"/>
							</c:if>
							
							<c:if test="#{(teacherAdminController.evaluationPerc * 100) +
								(teacherAdminController.lessonPerc * 100) +
								(teacherAdminController.classWorkPerc * 100) +
								(teacherAdminController.extraClassWorkPerc * 100) +
								(teacherAdminController.participationPerc * 100) +
								(teacherAdminController.laboratoryPerc * 100) == 100}">
								<h:outputText value="TOTAL:&nbsp;&nbsp;" style="font-weight: bold;color: green;" id="total"/>
								<h:outputText value="#{(teacherAdminController.evaluationPerc * 100) +
									(teacherAdminController.lessonPerc * 100) +
									(teacherAdminController.classWorkPerc * 100) +
									(teacherAdminController.extraClassWorkPerc * 100) +
									(teacherAdminController.participationPerc * 100) +
									(teacherAdminController.laboratoryPerc * 100)}" id="outTotal" style="font-weight: bold;color: green;">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
								<h:outputText value="&nbsp;%" id="percentage" style="font-weight: bold;color: green;"/>
							</c:if>
						</p:panel>
					</h:panelGrid>
			    </p:panel>
		    	
				<h:panelGrid columns="1"  styleClass="gridButtonSaveConf">
				
			    	<p:commandButton value="Guardar cambios" 
			    		icon="icon-save"
			    		action="#{teacherAdminController.saveConfiguration()}" 
			    		update="@form"/>
				</h:panelGrid>
			
			</p:panel>
			
	
		</h:form>

	</ui:define>
</ui:composition>
</html>
