<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/WEB-INF/templates/template.xhtml">

        <ui:define name="title">
            <h:outputText value="Informacion Académica" />
        </ui:define>

	<ui:define name="menuBar">	
		<p:menuitem value="Cancelar operación" 
                    	icon="icon-cancel"
               			action="#{teacherAdminController.returnAdmin()}" 
                    	process="@this"/>		
	</ui:define>


        <ui:define name="content">
            <br />
          	 <br />
            <h:form id="formCreateNewReg">
                
                <p:growl id="msgs" showDetail="true" life="4000" autoUpdate="true" />
                
                <p:panel styleClass="panelSelectAcademicData"
                         header="Información Académica">
                         
                    <h:panelGrid columns="1" width="100%" styleClass="gridTextCreateNew">
                    	<h:outputText styleClass="textFormat" value="* Seleccione los datos académicos necesarios hasta obtener la materia deseada."/>
                    </h:panelGrid>     
                    <h:panelGrid columns="2" cellpadding="10">
                        <p:outputLabel for="oneMenuPeriods" value="Periodo Lectivo:" />
                        
                        <p:selectOneMenu id="oneMenuPeriods" 
                        				style="width:250px"
                                        value="#{teacherSelectorController.periods}">
                            <p:ajax listener="#{teacherSelectorController.loadListAcademicOffer()}"
                                    update="oneMenuAcademicOffer,oneMenuCareer,oneMenuModules,oneMenuMatter,msgs" />
                            <f:selectItem itemLabel="-Seleccione-" 
                            			itemValue=""
                                        noSelectionOption="true" />
                            <f:selectItems value="#{teacherSelectorController.listPeriods}" />
                        </p:selectOneMenu>
                        
                        <p:outputLabel for="oneMenuAcademicOffer" value="Oferta Académica: " />
                        
                        <p:selectOneMenu id="oneMenuAcademicOffer"
                                         value="#{teacherSelectorController.offer}" 
                                         style="width:250px">
                            <p:ajax listener="#{teacherSelectorController.loadListCareer()}"
                                    update="oneMenuCareer,oneMenuModules,oneMenuMatter,msgs" />
                            <f:selectItem itemLabel="-Seleccione-" 
                            			itemValue=""
                                        noSelectionOption="true" />
                            <f:selectItems value="#{teacherSelectorController.listAcademicOffer}" />
                        </p:selectOneMenu>

                        <p:outputLabel for="oneMenuCareer" value="Carrera: " />
                        
                        <p:selectOneMenu id="oneMenuCareer"
                                         value="#{teacherSelectorController.career}" style="width:250px">
                            <p:ajax listener="#{teacherSelectorController.loadModulesParallel()}"
                                    update="oneMenuModules,oneMenuMatter,msgs" />
                            <f:selectItem itemLabel="-Seleccione-" itemValue=""
                                          noSelectionOption="true" />
                            <f:selectItems value="#{teacherSelectorController.listCareer}" />
                        </p:selectOneMenu>

                        <p:outputLabel for="oneMenuModules" value="Módulo: " />
                        <p:selectOneMenu id="oneMenuModules"
                                         value="#{teacherSelectorController.parallel}" style="width:250px">

                            <p:ajax listener="#{teacherSelectorController.loadMatter()}"
                                    update="oneMenuMatter,msgs">

                            </p:ajax>

                            <f:selectItem itemLabel="-Seleccione-" itemValue=""
                                          noSelectionOption="true" />
                            <f:selectItems value="#{teacherSelectorController.listModulesParallel}" />

                        </p:selectOneMenu>

                        <p:outputLabel for="oneMenuMatter" value="Materia: " />
                        <p:selectOneMenu id="oneMenuMatter"
                                         value="#{teacherSelectorController.matter}" style="width:250px">
                            <p:ajax update="btnEnv,msgs" />
                            <f:selectItem itemLabel="-Seleccione-" itemValue=""
                                          noSelectionOption="true" />
                            <f:selectItems value="#{teacherSelectorController.listMatters}" />
                        </p:selectOneMenu>
          
                        <p:commandButton value="Cancelar" 
                        	icon="icon-cancel"
                   			action="#{teacherAdminController.returnAdmin()}" 
                        	process="@this">
                        	
						</p:commandButton>

                        <p:commandButton id="btnEnv"
                        	icon="icon-create" 
                        	styleClass="btnEnv" 
                        	value="Crear registro"
                            action="#{teacherSelectorController.saveAndRenderTeacherAdmin()}" 
                            process="@this" >

                        </p:commandButton>
                    </h:panelGrid>
                </p:panel>
            </h:form>
        </ui:define>  
    </ui:composition>  
</html>
