<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	 xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templates/template.xhtml">
	<ui:define name="title">
		<h:outputText value="Calificar Estudiantes" />
	</ui:define>


	<ui:define name="content">
		
		
		<h:form id="formFinal">
		<p:growl id="msgs" showDetail="true" life="9000" autoUpdate="true" />
			 	<p:panel>
			 		<p:outputLabel for="dateSelect" value="Seleccione fecha en la que se realizó el aporte: " />
        			<p:calendar id="dateSelect" value="#{teacherAdminController.dateSelect}" pattern="dd-MM-yyyy" mask="true" />
			 	</p:panel>
					<p:dataTable id="qualif" 
						var="studentIndv" 
						value="#{teacherAdminController.listStudentSpecific}"
						selectionMode="single" 
						
						rowKey="#{studentIndv.idStudent}"
						editable="true" 
						editMode="cell">
						
       					<f:facet name="header">
           					Calificar
       					</f:facet>
       					<p:ajax event="cellEdit" listener="#{teacherAdminController.onCellEdit}" update=":formFinal:msgs" />
       					
						<p:column headerText="Estudiante" >                  				
                  			<h:outputText value="#{studentIndv.studentName}" />
						</p:column>
						<p:column headerText="Calificación" >
							<p:cellEditor>
                  				<f:facet name="output">
                  					<h:outputText value="#{studentIndv.qualification}" style="color:gray;"/>
                  				</f:facet>
                  				<f:facet name="input">
                  				<div>
                  					<p:inputText value="#{studentIndv.qualification}" style="width:50%;"/>
                  				</div>
                  				</f:facet>
              				</p:cellEditor>
						</p:column>	
						<p:column headerText="Anotacion adicional">
							<p:cellEditor>
                  				<f:facet name="output">
                  					<h:outputText  value="#{studentIndv.annotation}" style="color:gray;"/>
                  				</f:facet>
                  				<f:facet name="input">
                  					
                  					<p:inputTextarea placeholder="- Agrege una anotación -" style="width:98%" rows="3" value="#{studentIndv.annotation}"/>
                  				</f:facet>
              				</p:cellEditor>
						</p:column>		
					</p:dataTable>
			<p:commandButton value="Guardar datos" action="#{teacherAdminController.qualify()}" >
			</p:commandButton>		
		
		</h:form>

	</ui:define>
</ui:composition>
</html>
