<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/WEB-INF/templates/template.xhtml">
	<ui:define name="title">
		<h:outputText value="Calificar Estudiantes" />
	</ui:define>

	<ui:define name="menuBar">	
		<p:menuitem value="Seleccionar materia"
			icon="icon-matter"
			action="#{teacherAdminController.returnAdmin()}" 
			process="@this"/>

		<p:menuitem value="Configuraciones"
			icon="icon-config"
			action="#{teacherAdminController.proccessConfig()}" 
			process="@this"/>

		<p:menuitem value="Promedios generales"
			icon="icon-detail"
			action="#{teacherAdminController.newLoadDetailAverageMatter()}" 
			process="@this"/>		
	</ui:define>

	<ui:define name="content">

		<h:form id="formQualificationData">
			<p:growl id="msgs" showDetail="true" life="5000" autoUpdate="true" />

			<p:panel styleClass="panelQualificationData" 
					id="panel1"
					header="#{teacherAdminController.tableTitle}" 
					style="text-align:center;">

				<p:tabView activeIndex="#{teacherAdminController.activeTabIndex}" 
						dynamic="true" 
						cache="false" 
						id="tabViewData">
						
						<p:ajax event="tabChange"
							listener="#{teacherAdminController.onTabChange}"
							update="@this"/>

					<p:tab title="EVALUACIONES" id="tabeval" >
						
						
							<h:panelGrid columns="3" styleClass="gridBtnOptionsQualify">
									<p:commandButton value="Nueva evaluación" icon="icon-new-qualify" action="#{teacherAdminController.redirectNewParameter()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />		
									</p:commandButton>
									<p:commandButton value="Editar o Eliminar " icon="icon-edit-qualify" action="#{teacherAdminController.redirectParameterEdit()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
									</p:commandButton>
									<p:commandButton value="Parciales" icon="icon-detail-qualify" action="#{teacherAdminController.redirectParameterDetail()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
									</p:commandButton>
									
							</h:panelGrid>
						
		
						<h:form id="formQualifyEvaluation" >		
			
								<p:panel style="border:none;text-align:center;">
									<p:dataTable styleClass="tableSelectMatters" 
										var="eval"
										selectionMode="single"
										rowKey="#{eval.key}"
										
										value="#{teacherAdminController.listPresentationParameter.entrySet().toArray()}"
										id="dataTableQualifyEvaluation"
										scrollable="true"
										scrollWidth="95%" 
										scrollHeight="325"
										editable="true" 
										editMode="cell"
										rendered="true">
										
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
										
										<p:ajax event="cellEdit" 
											
       											listener="#{teacherAdminController.onCellEditNew}" 
       											update=":formQualificationData:msgs,
       											:formQualificationData:tabViewData:formQualifyEvaluation:dataTableQualifyEvaluation" />
       											
										<p:column headerText="N°" styleClass="column1">
											<h:outputText value="#{eval.key.rowCount}" />
										</p:column>
										
										
										<p:column headerText="Estudiante" styleClass="column2">
										
										
											<h:outputText value="#{eval.key.studentName}" />
										</p:column>
										
										
       											
										<c:forEach var="i" step="1" begin="0" end="#{teacherAdminController.matrixSize}"  >
						
											<p:column headerText="Evaluación N° #{i + 1}"   styleClass="column3">	
												
												<p:cellEditor>
					                  				<f:facet name="output">
						                  				<h:outputText 
						                  					value="#{eval.value[i].qualification}" 
						                  					rendered="#{eval.value[i].qualification ge 7}" >
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
														
														<h:outputText 
						                  					value="#{eval.value[i].qualification}" 
						                  					rendered="#{eval.value[i].qualification lt 7}" 
						                  					style="color:red">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
														
													
													
					                  				</f:facet>
					                  				<f:facet name="input">
					                  					<p:inputText value="#{eval.value[i].qualification}" 
					                  						styleClass="inputAllQaulify">
					                  					
					                  						<f:validator validatorId="rangeValidatorNew"/>
	                  										<f:validator validatorId="decimalValidatorNew"/>
					                  						
					                  					</p:inputText >
					                  				</f:facet>
					              				</p:cellEditor>
											</p:column>
										</c:forEach>
										
									</p:dataTable>
									
								</p:panel>
							
						</h:form>
						
					</p:tab>
					
					
					
					
					
					
				
					<p:tab title="LECCIONES" id="tabless" >
						<c:if test="#{teacherAdminController.check == 1}">				
							<div class="msgNone">
								<h:outputText value="#{teacherAdminController.msgNone}"/>
							</div>
						</c:if>
						<c:if test="#{teacherAdminController.check == 0}">
						
							<h:panelGrid columns="3" styleClass="gridBtnOptionsQualify">
									<p:commandButton value="Nueva lección" icon="icon-new-qualify" action="#{teacherAdminController.redirectNewParameter()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />		
									</p:commandButton>
									<p:commandButton value="Editar o Eliminar " icon="icon-edit-qualify" action="#{teacherAdminController.redirectParameterEdit()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
									</p:commandButton>
									<p:commandButton value="Parciales" icon="icon-detail-qualify" action="#{teacherAdminController.redirectParameterDetail()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
									</p:commandButton>
									
							</h:panelGrid>
						
		
							<h:form id="formQualifyLesson" >		
				
									<p:panel style="border:none;text-align:center;">
										<p:dataTable styleClass="tableSelectMatters" 
											var="less"
											selectionMode="single" 
											rowKey="#{less.key}"
											value="#{teacherAdminController.listPresentationParameter.entrySet().toArray()}"
											id="dataTableQualifyLesson"
											scrollable="true"
											scrollWidth="95%" 
											scrollHeight="325"
											editable="true" 
											editMode="cell">
											
											<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
											
											<p:ajax event="cellEdit" 
												
	       											listener="#{teacherAdminController.onCellEditNew}" 
	       											update=":formQualificationData:msgs,
	       											:formQualificationData:tabViewData:formQualifyLesson:dataTableQualifyLesson" />
	       											
											<p:column headerText="N°" styleClass="column1">
												<h:outputText value="#{less.key.rowCount}" />
											</p:column>
											
											
											<p:column headerText="Estudiante"  styleClass="column2">
											
											
												<h:outputText value="#{less.key.studentName}" />
											</p:column>
											
											
	       											
											<c:forEach var="i" step="1" begin="0" end="#{teacherAdminController.matrixSize}"  >
							
												<p:column headerText="Lección N° #{i + 1}"  styleClass="column3">	
													
													<p:cellEditor>
						                  				<f:facet name="output">
							                  				<h:outputText value="#{less.value[i].qualification}" 
							                  					rendered="#{less.value[i].qualification ge 7}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
															
															<h:outputText value="#{less.value[i].qualification}" 
							                  					rendered="#{less.value[i].qualification lt 7}"
							                  					style="color:red">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
						                  				
						                  				</f:facet>
						                  				<f:facet name="input">
						                  					<p:inputText value="#{less.value[i].qualification}" 
						                  						styleClass="inputAllQaulify">
						                  					
						                  						<f:validator validatorId="rangeValidatorNew"/>
		                  										<f:validator validatorId="decimalValidatorNew"/>
						                  						
						                  					</p:inputText >
						                  				</f:facet>
						              				</p:cellEditor>
												</p:column>
											</c:forEach>
											
										</p:dataTable>
										
									</p:panel>
								
							</h:form>
						</c:if>	
					</p:tab>
					
				
					<p:tab title="TRABAJOS AUTÓNOMOS" id="tabclasswork">
						<c:if test="#{teacherAdminController.check == 1}">				
							<div class="msgNone">
								<h:outputText value="#{teacherAdminController.msgNone}"/>
							</div>
						</c:if>
						<c:if test="#{teacherAdminController.check == 0}">
						
							<h:panelGrid columns="3" styleClass="gridBtnOptionsQualify">
									<p:commandButton value="Nuevo trabajo autónomo" icon="icon-new-qualify" action="#{teacherAdminController.redirectNewParameter()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />		
									</p:commandButton>
									<p:commandButton value="Editar o Eliminar " icon="icon-edit-qualify" action="#{teacherAdminController.redirectParameterEdit()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
									</p:commandButton>
									<p:commandButton value="Parciales" icon="icon-detail-qualify" action="#{teacherAdminController.redirectParameterDetail()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
									</p:commandButton>
									
							</h:panelGrid>
						
		
							<h:form id="formQualifyClassWork" >		
				
									<p:panel style="border:none;text-align:center;">
										<p:dataTable styleClass="tableSelectMatters" 
											var="cw"
											selectionMode="single" 
											rowKey="#{cw.key}"
											value="#{teacherAdminController.listPresentationParameter.entrySet().toArray()}"
											id="dataTableQualifyClassWork"
											scrollable="true"
											scrollWidth="95%" 
											scrollHeight="325"
											editable="true" 
											editMode="cell">
											
											<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
											
											<p:ajax event="cellEdit" 
												
	       											listener="#{teacherAdminController.onCellEditNew}" 
	       											update=":formQualificationData:msgs,
	       											:formQualificationData:tabViewData:formQualifyClassWork:dataTableQualifyClassWork" />
	       											
											<p:column headerText="N°"  styleClass="column1">
												<h:outputText value="#{cw.key.rowCount}" />
											</p:column>
											
											
											<p:column headerText="Estudiante"  styleClass="column2">
											
											
												<h:outputText value="#{cw.key.studentName}" />
											</p:column>
											
											
	       											
											<c:forEach var="i" step="1" begin="0" end="#{teacherAdminController.matrixSize}"  >
							
												<p:column headerText="Trabajo Autónomo N° #{i + 1}"  styleClass="column3">	
													
													<p:cellEditor>
						                  				<f:facet name="output">
							                  				<h:outputText value="#{cw.value[i].qualification}" 
							                  					rendered="#{cw.value[i].qualification ge 7}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
															
															<h:outputText value="#{cw.value[i].qualification}" 
							                  					rendered="#{cw.value[i].qualification lt 7}"
							                  					style="color:red">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
						                  				
						                  				</f:facet>
						                  				<f:facet name="input">
						                  					<p:inputText value="#{cw.value[i].qualification}" 
						                  						styleClass="inputAllQaulify">
						                  					
						                  						<f:validator validatorId="rangeValidatorNew"/>
		                  										<f:validator validatorId="decimalValidatorNew"/>
						                  						
						                  					</p:inputText >
						                  				</f:facet>
						              				</p:cellEditor>
												</p:column>
											</c:forEach>
											
										</p:dataTable>
										
									</p:panel>
								
							</h:form>
						</c:if>	
					</p:tab>				
					
					
											
					<p:tab title="DEBERES - TAREAS" id="tabextrawork">
						<c:if test="#{teacherAdminController.check == 1}">				
							<div class="msgNone">
								<h:outputText value="#{teacherAdminController.msgNone}"/>
							</div>
						</c:if>
						<c:if test="#{teacherAdminController.check == 0}">
						
							<h:panelGrid columns="3" styleClass="gridBtnOptionsQualify">
									<p:commandButton value="Nuevo deber - tarea" icon="icon-new-qualify" action="#{teacherAdminController.redirectNewParameter()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />		
									</p:commandButton>
									<p:commandButton value="Editar o Eliminar " icon="icon-edit-qualify" action="#{teacherAdminController.redirectParameterEdit()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
									</p:commandButton>
									<p:commandButton value="Parciales" icon="icon-detail-qualify" action="#{teacherAdminController.redirectParameterDetail()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
									</p:commandButton>
									
							</h:panelGrid>
						
		
							<h:form id="formQualifyExtraClassWork" >		
				
									<p:panel style="border:none;text-align:center;">
										<p:dataTable styleClass="tableSelectMatters" 
											var="ecw"
											selectionMode="single" 
											rowKey="#{ecw.key}"
											value="#{teacherAdminController.listPresentationParameter.entrySet().toArray()}"
											id="dataTableQualifyExtraClassWork"
											scrollable="true"
											scrollWidth="95%" 
											scrollHeight="325"
											editable="true" 
											editMode="cell">
											
											<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
											
											<p:ajax event="cellEdit" 
												
	       											listener="#{teacherAdminController.onCellEditNew}" 
	       											update=":formQualificationData:msgs,
	       											:formQualificationData:tabViewData:formQualifyExtraClassWork:dataTableQualifyExtraClassWork" />
	       											
											<p:column headerText="N°" styleClass="column1">
												<h:outputText value="#{ecw.key.rowCount}" />
											</p:column>
											
											
											<p:column headerText="Estudiante" styleClass="column2">
											
											
												<h:outputText value="#{ecw.key.studentName}" />
											</p:column>
											
											
	       											
											<c:forEach var="i" step="1" begin="0" end="#{teacherAdminController.matrixSize}"  >
							
												<p:column headerText="Deber - Tarea N° #{i + 1}"  styleClass="column3">	
													
													<p:cellEditor>
						                  				<f:facet name="output">
							                  				<h:outputText value="#{ecw.value[i].qualification}" 
							                  					rendered="#{ecw.value[i].qualification ge 7}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
						                  				
						                  					<h:outputText value="#{ecw.value[i].qualification}" 
						                  						rendered="#{ecw.value[i].qualification lt 7}"
						                  						style="color:red">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
						                  				</f:facet>
						                  				<f:facet name="input">
						                  					<p:inputText value="#{ecw.value[i].qualification}" 
						                  						styleClass="inputAllQaulify">
						                  					
						                  						<f:validator validatorId="rangeValidatorNew"/>
		                  										<f:validator validatorId="decimalValidatorNew"/>
						                  						
						                  					</p:inputText >
						                  				</f:facet>
						              				</p:cellEditor>
												</p:column>
											</c:forEach>
											
										</p:dataTable>
										
									</p:panel>
								
							</h:form>
						</c:if>	
					</p:tab>
					
				
					
		
					<p:tab title="PARTICIPACION EN CLASE" id="tabparticip">
						<c:if test="#{teacherAdminController.check == 1}">				
							<div class="msgNone">
								<h:outputText value="#{teacherAdminController.msgNone}"/>
							</div>
						</c:if>
						<c:if test="#{teacherAdminController.check == 0}">
						
							<h:panelGrid columns="3" styleClass="gridBtnOptionsQualify">
									<p:commandButton value="Nueva participación" icon="icon-new-qualify" action="#{teacherAdminController.redirectNewParameter()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />		
									</p:commandButton>
									<p:commandButton value="Editar o Eliminar " icon="icon-edit-qualify" action="#{teacherAdminController.redirectParameterEdit()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
									</p:commandButton>
									<p:commandButton value="Parciales" icon="icon-detail-qualify" action="#{teacherAdminController.redirectParameterDetail()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
									</p:commandButton>
									
							</h:panelGrid>
						
		
							<h:form id="formQualifyParticipation" >		
				
									<p:panel style="border:none;text-align:center;">
										<p:dataTable styleClass="tableSelectMatters" 
											var="part"
											selectionMode="single" 
											rowKey="#{part.key}"
											value="#{teacherAdminController.listPresentationParameter.entrySet().toArray()}"
											id="dataTableQualifyParticipation"
											scrollable="true"
											scrollWidth="95%" 
											scrollHeight="325"
											editable="true" 
											editMode="cell">
											
											<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
											
											<p:ajax event="cellEdit" 
												
	       											listener="#{teacherAdminController.onCellEditNew}" 
	       											update=":formQualificationData:msgs,
	       											:formQualificationData:tabViewData:formQualifyParticipation:dataTableQualifyParticipation" />
	       											
											<p:column headerText="N°" styleClass="column1">
												<h:outputText value="#{part.key.rowCount}" />
											</p:column>
											
											
											<p:column headerText="Estudiante" styleClass="column2">
											
											
												<h:outputText value="#{part.key.studentName}" />
											</p:column>
											
											
	       											
											<c:forEach var="i" step="1" begin="0" end="#{teacherAdminController.matrixSize}"  >
							
												<p:column headerText="Participación N° #{i + 1}"  styleClass="column3">	
													
													<p:cellEditor>
						                  				<f:facet name="output">
							                  				<h:outputText value="#{part.value[i].qualification}" 
							                  					rendered="#{part.value[i].qualification ge 7}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
															
															<h:outputText value="#{part.value[i].qualification}" 
																rendered="#{part.value[i].qualification lt 7}"
																style="color:red">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
						                  				
						                  				</f:facet>
						                  				<f:facet name="input">
						                  					<p:inputText value="#{part.value[i].qualification}" 
						                  						styleClass="inputAllQaulify">
						                  					
						                  						<f:validator validatorId="rangeValidatorNew"/>
		                  										<f:validator validatorId="decimalValidatorNew"/>
						                  						
						                  					</p:inputText >
						                  				</f:facet>
						              				</p:cellEditor>
												</p:column>
											</c:forEach>
											
										</p:dataTable>
										
									</p:panel>
								
							</h:form>
						</c:if>			
					</p:tab>
					
					
								
					<p:tab title="TALLERES - LABORATORIOS" id="tablab">
						<c:if test="#{teacherAdminController.check == 1}">				
							<div class="msgNone">
								<h:outputText value="#{teacherAdminController.msgNone}"/>
							</div>
						</c:if>
						<c:if test="#{teacherAdminController.check == 0}">
						
							<h:panelGrid columns="3" styleClass="gridBtnOptionsQualify">
									<p:commandButton value="Nuevo laboratorio - taller" icon="icon-new-qualify" action="#{teacherAdminController.redirectNewParameter()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />		
									</p:commandButton>
									<p:commandButton value="Editar o Eliminar " icon="icon-edit-qualify" action="#{teacherAdminController.redirectParameterEdit()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
									</p:commandButton>
									<p:commandButton value="Parciales" icon="icon-detail-qualify" action="#{teacherAdminController.redirectParameterDetail()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
									</p:commandButton>
									
							</h:panelGrid>
						
		
							<h:form id="formQualifyLaboratory" >		
				
									<p:panel style="border:none;text-align:center;">
										<p:dataTable styleClass="tableSelectMatters" 
											var="lab"
											selectionMode="single" 
											rowKey="#{lab.key}"
											value="#{teacherAdminController.listPresentationParameter.entrySet().toArray()}"
											id="dataTableQualifyLaboratory"
											scrollable="true"
											scrollWidth="95%" 
											scrollHeight="325"
											editable="true" 
											editMode="cell">
											
											<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
											
											<p:ajax event="cellEdit" 
												
	       											listener="#{teacherAdminController.onCellEditNew}" 
	       											update=":formQualificationData:msgs,
	       											:formQualificationData:tabViewData:formQualifyLaboratory:dataTableQualifyLaboratory" />
	       											
											<p:column headerText="N°" styleClass="column1">
												<h:outputText value="#{lab.key.rowCount}" />
											</p:column>
											
											
											<p:column headerText="Estudiante" styleClass="column2">
											
											
												<h:outputText value="#{lab.key.studentName}" />
											</p:column>
											
											
	       											
											<c:forEach var="i" step="1" begin="0" end="#{teacherAdminController.matrixSize}"  >
							
												<p:column headerText="Laboratorio - Taller N° #{i + 1}"  styleClass="column3">	
													
													<p:cellEditor>
						                  				<f:facet name="output">
							                  				<h:outputText value="#{lab.value[i].qualification}" 
							                  					rendered="#{lab.value[i].qualification ge 7}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
															
															<h:outputText value="#{lab.value[i].qualification}" 
																rendered="#{lab.value[i].qualification lt 7}"
																style="color:red">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
						                  				
						                  				</f:facet>
						                  				<f:facet name="input">
						                  					<p:inputText value="#{lab.value[i].qualification}" 
						                  						styleClass="inputAllQaulify">
						                  					
						                  						<f:validator validatorId="rangeValidatorNew"/>
		                  										<f:validator validatorId="decimalValidatorNew"/>
						                  						
						                  					</p:inputText >
						                  				</f:facet>
						              				</p:cellEditor>
												</p:column>
											</c:forEach>
											
										</p:dataTable>
										
									</p:panel>
								
							</h:form>
						</c:if>
					</p:tab>
					
					
				
				</p:tabView>
			</p:panel>

			
		
		</h:form>
		
	</ui:define>
</ui:composition>
</html>
