<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/WEB-INF/templates/template.xhtml">
	<ui:define name="title">
		<h:outputText value="Calificar Estudiantes" />
	</ui:define>



	<ui:define name="content">
	
		<br />
		<h:form id="formQualificationData">
			
						
						
					<p:tab title="TALLERES - LABORATORIOS" id="tablab">
						
						
							<h:panelGrid columns="3" styleClass="gridBtnOptionsQualify">
									<p:commandButton value="Nuevo laboratorio - taller" icon="icon-new-qualify" action="#{teacherAdminController.redirectNewParameter()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />		
									</p:commandButton>
									<p:commandButton value="Editar o Eliminar " icon="icon-edit-qualify" action="#{teacherAdminController.redirectParameterEdit()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
									</p:commandButton>
									<p:commandButton value="Promedios y más" icon="icon-detail-qualify" action="#{teacherAdminController.redirectParameterDetail()}">
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
									</p:commandButton>
									
							</h:panelGrid>
						
		
						<h:form id="formQualifyLaboratory" >		
			
								<p:panel style="border:none;text-align:center;">
									<p:dataTable styleClass="tableSelectMatters" 
										var="lab"
										selectionMode="single" 
										rowKey="#{lab.key}"
										value="#{teacherAdminController.listPresentationParameter.entrySet().toArray()}"
										id="dataTableQualifyLaboratory"
										scrollable="true"
										scrollWidth="95%" 
										scrollHeight="450"
										editable="true" 
										editMode="cell">
										
										<f:param name="paramSelect" value="#{teacherAdminController.generalVar}" />	
										
										<p:ajax event="cellEdit" 
											
       											listener="#{teacherAdminController.onCellEditNew}" 
       											update=":formQualificationData:msgs,
       											:formQualificationData:tabViewData:formQualifyLaboratory:dataTableQualifyLaboratory" />
       											
										<p:column headerText="N°" footerText="N°" styleClass="column1">
											<h:outputText value="#{lab.key.rowCount}" />
										</p:column>
										
										
										<p:column headerText="Estudiante" footerText="Estudiante" styleClass="column2">
										
										
											<h:outputText value="#{lab.key.studentName}" />
										</p:column>
										
										
       											
										<c:forEach var="i" step="1" begin="0" end="#{teacherAdminController.matrixSize}"  >
						
											<p:column headerText="Laboratorio - Taller N° #{i + 1}" footerText="Laboratorio - Taller N° #{i + 1}"  styleClass="column3">	
												
												<p:cellEditor>
					                  				<f:facet name="output">
						                  				<h:outputText value="#{lab.value[i].qualification}" >
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
					                  				
					                  				</f:facet>
					                  				<f:facet name="input">
					                  					<p:inputText value="#{lab.value[i].qualification}" 
					                  						styleClass="inputAllQaulify">
					                  					
					                  						<f:validator validatorId="rangeValidatorNew"/>
	                  										<f:validator validatorId="decimalValidatorNew"/>
					                  						
					                  					</p:inputText >
					                  				</f:facet>
					              				</p:cellEditor>
											</p:column>
										</c:forEach>
										
									</p:dataTable>
									
								</p:panel>
							
						</h:form>
						
					</p:tab>
					
					
					
					
					
					
				</p:tabView>
			</p:panel>

			
		
		</h:form>
		
	</ui:define>
</ui:composition>
</html>
