<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>

        <title>Ingreso</title>
        <link href="#{request.contextPath}/static/css/componentStyle.css" type="text/css" rel="stylesheet" />
        <link href="#{request.contextPath}/static/css/iconStyle.css" type="text/css" rel="stylesheet" />
		<link href="#{request.contextPath}/static/css/animate.css" type="text/css" rel="stylesheet" />
		<!-- modernizr -->
		<script type="text/javascript" src="#{request.contextPath}/static/js/modernizr.js" /> 
    </h:head>
    <h:body styleClass="bodyLogin">
        <h:form>
        	<h:panelGrid style="width:100%;margin: 0 0 auto auto;" >
            <p:panel header="INGRESO AL SISTEMA" styleClass="panelCentral animated bounceIn" >
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel styleClass="labelLogin" value="Cédula: " for="cell" />
                    <p:inputText required="true" label="Cedula" id="cell"
                                 value="#{login.identification_card}" size="20" />
                    <p:outputLabel styleClass="labelLogin" value="Contraseña:  "
                                   for="password" />

                    <p:password required="true" label="Clave" id="password"
                                value="#{login.password}" size="20"/>
                    <br />
                    <p:commandButton value="Ingresar"
                                     action="#{validateController.validate()}" 
                                     icon="icon-login">
                                     
                    </p:commandButton>
                </h:panelGrid>

            </p:panel>
            </h:panelGrid>
            
            <p:growl id="msgs" showDetail="true" autoUpdate="true" life="4000" />
            <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                <img src="#{request.contextPath}/static/images/ajaxLoader1.gif" height="50px"/>
            </p:dialog>

            <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
        </h:form>
		
		
		<script type="text/javascript" src="#{request.contextPath}/static/js/scripts.js" />
    	<script type="text/javascript" src="#{request.contextPath}/static/js/jquery.backstretch.min.js" />
    	<script>
		    $(document).ready(function() {
		        $.backstretch("static/images/imgBackgroundLogin.jpg");
		    });
		</script> 
    </h:body>
</html>

