<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Error genérico</title>
        <link href="#{request.contextPath}/static/css/error.css" type="text/css" rel="stylesheet" />
 
    </h:head>
    <h:body>
		<div id="wrapper">
	 		<h1>Error 404!</h1>
	 		<p>No se ha encontrado el elemento buscado</p>	
		</div>
		<script type="text/javascript" src="#{request.contextPath}/static/js/jquery.min.js" />
		<script type="text/javascript" src="#{request.contextPath}/static/js/jquery.backstretch.min.js" />
    	<script>
		    $(document).ready(function() {
		        $.backstretch("#{request.contextPath}/static/images/backgroundBlue.png");
		    });
		</script> 
    </h:body>
</html>
